<script src="/js/extractColor.js"></script>
<script src="/js/vendor/apexcharts.js"></script>
<form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/">
    <div class="filters">
        <label for="turnId"><%=i18n.turnos.Turno%>
            <select name="turnId" id="turnId">
                <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                <% for (t in escapeRoom.turnos) {
                    var turno = escapeRoom.turnos[t]; %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
                    </option>
                <% } %>
            </select>
        </label>
        <button type="submit" class=" editButton filter-button" ><%=i18n.common.filter%></button>
        <a href="/escapeRooms/<%= escapeRoom.id %>/analytics/download">
            <button type="button" class="acceptButton filter-button" ><%=i18n.common.download%></button>
            <%=i18n.analytics.charts.titles[0]%>
            <%=i18n.analytics.charts.titles["0"]%>
        </a>
    </div>
</form>
<div class="card-container">
    <% var counter = 0;
      for (var k in summary) {%>
        <div class="card <%=k%> animated zoomIn " style="animation-delay: <%=counter/5%>s;">
            <div class="card-icon"><span class="material-icons"><%=summary[k].icon%></span></div>
            <div class="card-title"><%=i18n.analytics.main.dashboard[k]%></div>
            <div class="card-content"><%=summary[k].value%></div>
        </div>
      <%counter++;
      }%>
</div>
<br/>

<div class="chart-summary">
    <script>
     var colors = [green, yellow, orange, red, purple, blue];
    </script>
    <%for (var i in charts) {%>
        <%include _analytics_summary_chart.ejs%>
    <%}%>
</div>