<script src="/js/extractColor.js"></script>
<script src="/js/vendor/apexcharts.js"></script>
<form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/">
    <div class="filters">
        <label for="turnId"><%=i18n.turnos.Turno%>
            <select name="turnId" id="turnId">
                <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                <% for (t in escapeRoom.turnos) {
                    var turno = escapeRoom.turnos[t] ;
                    // if (turno.status !== "pending" ) {
                %>
                <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                    <%= getFullDate(turno.date)%>
                </option>
                <% // }
                } %>
            </select>
        </label>
        <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>

    </div>
</form>
<div class="card-container">
    <% var counter = 0;
      for (var k in summary) {%>
        <div class="card <%=k%> animated zoomIn  " style="animation-delay: <%=counter/5%>s;">
            <div class="card-icon"><i class="material-icons"><%=summary[k].icon%></i></div>
            <div class="card-title"><%=i18n.analytics.main.dashboard[k]%></div>
            <div class="card-content"><%=summary[k].value%></div>
        </div>
      <%counter++;
      }%>
</div>
<br/>
<div class="chart-summary">

    <%for (var i in charts) {%>
        <div id="chart-<%=i%>"  ></div>
        <script>
          var colors = [green, yellow, orange, red, purple];
          var options = {
            chart: {
                height: 350,
                type: 'bar',
                locales: [{
                  "name": "en",
                  "options": {
                    "toolbar": {
                        "exportToSVG": "<%=i18n.analytics.main.chart.svg%>",
                        "exportToPNG": "<%=i18n.analytics.main.chart.png%>",
                        "menu": "Menu",
                    }
                  }
                }],
                defaultLocale: "en",
            },
            colors: colors,
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    distributed: true
                }
            },
            dataLabels: {
                enabled: false,

            },
            series: [{
                name: "<%=i18n.analytics.retosSuperados.title%>",
                data: <%-JSON.stringify(charts[i].data)%> 
            }],
            xaxis: {
                categories: <%-JSON.stringify(charts[i].labels)%>,
                labels: {
                    style: {
                        colors: colors,
                        fontSize: '14px'
                    }
                }
            },
            yaxis: {
              labels: {
                  formatter: function (value) {
                    return parseInt(value);
                  }
                },
            }
            
          };

          var chart = new ApexCharts(document.querySelector("#chart-<%=i%>"), options);

          chart.render();
 
        </script>
    <%}%>
</div>