<a href="/escapeRooms/<%=escapeRoom.id%>/analytics<%=url%>?turnId=<%=turnId%>" class="linkAnalyticsTag">
    <span class="analyticsTag animated slideInLeft " style="animation-delay: <%=100*i%>ms;">
        <span class="material-icons"><%=icon%></span> <span class="analyticsTagTitle"><%=title%> </span><span class="material-icons">chevron_right</span>
    </span>
</a>