<% include ../../partials/_header.ejs %>

<div class="main summary">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>">
                <%=escapeRoom.title%>
            </a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.main.title%></span>
        </div>
    </div>
    <h2><%=i18n.analytics.main.title%></h2>
<%
    var sections = [
        {
            url:"/ranking",
            icon:"event_seat",
            title: i18n.analytics.main.ranking
        },
        {
            url:"/puzzles/teams",
            icon:"check",
            title: i18n.analytics.main.retosSuperados
        },
        {
            url:"/progress",
            icon:"timelapse",
            title: i18n.analytics.main.progress
        },
        {
            url:"/timeline",
            icon:"timeline",
            title: i18n.analytics.main.timeline
        },
        {
            url:"/hints/teams",
            icon:"search",
            title: i18n.analytics.main.hints
        },
        {
            url:"/histogram",
            icon:"equalizer",
            title: i18n.analytics.main.histogram
        },
        {
            url:"/grading",
            icon:"school",
            title: i18n.analytics.main.grading
        },
    ]

 %>
    <div class="flex-container analytics-menu">
        <div class="flex-container-left">
            <%for (let i in sections) {
            let {url, icon, title} = sections[i];%>
            <%- include('_analytics_link', {url, icon, title, escapeRoom}) %>
            <%}%>
        </div>
        <div class="flex-container-right">
            <%include _analytics_summary.ejs%>
        </div>
    </div>



</div>
<% include ../../partials/_footer %>