<% include ../../partials/_header.ejs %>

<div class="main summary">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.main.title%></span>
        </div>
    </div>
    <h2><%=i18n.analytics.main.title%></h2>

    <div class="flex-container analytics-menu">
        <div class="flex-container-left">
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics/ranking" class="linkAnalyticsTag">
                <span class="analyticsTag animated jackInTheBox  ">
                    <i class="material-icons">equalizer</i> <span><%=i18n.analytics.main.ranking%></span>
                </span>
            </a>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics/puzzles/participants" class="linkAnalyticsTag">
                <span class="analyticsTag animated jackInTheBox  ">
                    <i class="material-icons">check</i> <span><%=i18n.analytics.main.retosSuperados%></span>
                </span>
            </a>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics/timeline" class="linkAnalyticsTag">
                <span class="analyticsTag animated jackInTheBox  ">
                    <i class="material-icons">timeline</i> <span><%=i18n.analytics.main.timeline%></span>
                </span>
            </a>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics/hints/teams" class="linkAnalyticsTag">
                <span class="analyticsTag animated jackInTheBox  ">
                    <i class="material-icons">search</i> <span><%=i18n.analytics.main.hints%></span>
                </span>
            </a>
        </div>
        <div class="flex-container-right">
            <%include _analytics_summary.ejs%>
        </div>
    </div>



</div>
<% include ../../partials/_footer %>