<% include ../../partials/_header.ejs %>

<div class="main grading">
    <%- include("../../partials/_breadcrumbAnalyticsStep",{labels: analyticsSections(), current: "grading"}) %>
    <h1><%=i18n.analytics.grading.title%></h1>
    <form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/grading">
        <div class="filters">
            <label for="turnId">
                <%=i18n.turnos.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                    <% for (t in turnos) { %>
                    <% var turno = turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
                    </option>
                    <% } %>
                </select>
            </label>
            <label for="orderBy"><%=i18n.common.orderBy%>
                <select name="orderBy" id="orderBy">
                    <option value="" <%= !orderBy ? "selected": ""%>  disabled></option>
                    <option value="name" <%= orderBy === "name" ? "selected": ""%>><%=i18n.user.name%></option>
                    <option value="surname" <%= orderBy === "surname" ? "selected": ""%>><%=i18n.user.surname%></option>
                </select></label>
            <button type="submit" class="editButton filter-button" ><%=i18n.common.filter%></button>
            <button type="submit" name="csv" value="1" class="acceptButton filter-button" >
                <%=i18n.analytics.main.download%>
            </button>
            <a class="editGradingScheme gugi" href="/escapeRooms/<%=escapeRoom.id%>/evaluation">
                <%=i18n.analytics.grading.config%>
            </a>
        </div>
    </form>
    <br/>
    <table class="mainTable">
        <tr class="animated fadeInRight">
            <th><%=i18n.user.name%></th>
            <th><%=i18n.turnos.Turno%></th>
            <th><%=i18n.analytics.grading.attendance%></th>
            <% for (var p in puzzles) { var puzzle = puzzles[p]; %>
                <th><%=puzzle.title%></th>
            <% } %>
            <% if (hintConditional) { %><th><%=i18n.analytics.grading.hintSuccess%></th><%}%>
            <% if (hintAppConditional) { %><th><%=i18n.analytics.grading.hintFailed%></th><%}%>
            <th><%=i18n.common.Total%></th>
        </tr>
        <%for (var p in results) { var result = results[p];%>
        <tr class="animated fadeInRight" style="animation-delay: <%=0.2*(p)+(0.3)%>s;">
            <td class="align-left"><%=result.name%> <%= result.surname%></td>
            <td><%= result.turno ? getFullDate(result.turno) : i18n.turnos.alwaysOpen%></td>
            <td><%=result.attendance%></td>
            <% for (var r in result.grades) {
                var grade = result.grades[r]; %>
            <td>
                <%=grade%>
            </td>
            <% } %>
            <% if (hintConditional) { %><td><%=result.hintsSucceeded%></td><%}%>
            <% if (hintAppConditional) { %> <td><%=result.hintsFailed%></td><%}%>
            <td style="background-color: <%=getGradientColor(result.total)%>;"><%=result.total%>%</td>
        </tr>
        <% } %>
    </table>
    <br/>
    <br/>
</div>
<% include ../../partials/_footer %>