<script src="/js/extractColor.js"></script>
<script src="/js/vendor/apexcharts.js"></script>
<%- include ("../../partials/_header.ejs") %>
<div role="main" class="main retosSuperados hintAnalytics">
    <%- include("../../partials/_breadcrumbAnalyticsStep",{labels: analyticsSections(), current: "hints"}) %>
    <h1><%=i18n.analytics.hints.title%></h1>
    <form method="get" class="" action="/escapeRooms/<%= escapeRoom.id %>/analytics/hints/<%=single?"participants":"teams"%>" style="text-align: left;">
        <div class="filters">
            <label for="turnId"><%=i18n.turno.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turno.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                        <% var turno = escapeRoom.turnos[t] %>
                        <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                            <%if (turno.place) {%> <%=turno.place %> (<%}%><%= (turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen)%><%if (turno.place) {%>)<%}%>
                        </option>
                    <% } %>
                </select>
            </label>
            <% if (single) { %> 
            <label for="orderBy"><%=i18n.common.orderBy%>
                <select name="orderBy" id="orderBy">
                    <option value="" <%= !orderBy ? "selected": ""%>  disabled></option>
                    <option value="name" <%= orderBy === "name" ? "selected": ""%>><%=i18n.user.name%></option>
                    <option value="surname" <%= orderBy === "surname" ? "selected": ""%>><%=i18n.user.surname%></option>
                </select></label>
            <% } %>    
            <button type="submit" class="editButton filter-button" >
                <%=i18n.common.filter%>
            </button>
            <!-- <button type="submit" name="csv" value="1" class="acceptButton filter-button" >
                <%=i18n.analytics.main.download%>
            </button> -->
            <% if (single) { %> 
                <a href="teams?turnId=<%=turnId%>">
                    <button type="button" class="filter-button">
                        <%=i18n.team.seeByTeam%>
                    </button>
                </a>
            <% } else {%>    
               <!--  <a href="participants?turnId=<%=turnId%>">
                    <button type="button" class="filter-button">
                        <%=i18n.participant.seeByParticipant%>
                    </button>
                </a> -->
            <% } %>    
        </div>
    </form>
    <div id="hints-chart" ></div>
    <script>
		var options = {
            chart: {
                height: <%=Math.max(results.length*50,300)%>,
                type: 'bar',
                stacked: true,
                locales: [{
                  "name": "en",
                  "options": {
                    "toolbar": {
                        "exportToSVG": "<%=i18n.analytics.main.chart.svg%>",
                        "exportToPNG": "<%=i18n.analytics.main.chart.png%>",
                        "menu": "Menu",
                    }
                  }
                }],
                defaultLocale: "en"
            },
            colors: [green, red],
            plotOptions: {
                bar: {
                    horizontal: true,
                    barHeight: '80%',
                    
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 1,
                colors: undefined,

            },
            series: [{
                name: "<%=i18n.analytics.hints.succeeded%>",
                data:  <%-JSON.stringify(results.map(user => user.hintsSucceeded))%>
            }<%if (escapeRoom.numQuestions){%>,
            {
                name: "<%=i18n.analytics.hints.failed%>",
                data:  <%-JSON.stringify(results.map(user => -user.hintsFailed))%>
            }<%}%>
            ],
            grid: {
                xaxis: {
                    showLines: false
                }
            },
            xaxis: {
                categories: <%-JSON.stringify(results.map(user => user.name))%>,
                labels: {
                    formatter: (value) => { return Math.abs(value) }
                },
            },
            tooltip: {
                shared: false,
                style: {
                  fontSize: '12px',
                  fontColor: purple,
                  fontFamily: undefined
                },
                y: {
                  formatter: function(value, { series, seriesIndex, dataPointIndex, w }) {
                    return Math.abs(value);
                }
              },
            }
        }

       var chart = new ApexCharts(
            document.querySelector("#hints-chart"),
            options
        );
        
        chart.render();


    </script>


	<br/>
	<br/>
	<br/>
</div>

<%- include ("../../partials/_footer") %>