<% include ../../partials/_header.ejs %>
<div class="main retosSuperados ranking">
	<div class="breadcrumbs-container">
		<div class="breadcrumbs">
			<a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
			<i class="material-icons">chevron_right</i>
			<a href="/escapeRooms/<%=escapeRoom.id%>/analytics"><%=i18n.analytics.main.title%></a>
			<i class="material-icons">chevron_right</i>
			<span><%=i18n.analytics.ranking.title%></span>
		</div>
	</div>
    <h2 style="text-align:left;"><%=i18n.analytics.ranking.title%></h2>
    	<div class="content">
	    	<br/>
	    	<form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/ranking">
	    	    <div class="filters">
	    	        <label for="turnId"><%=i18n.turnos.Turno%>
	    	            <select name="turnId" id="turnId">
	    	                <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
	    	                <% for (t in escapeRoom.turnos) { 
	    	                	var turno = escapeRoom.turnos[t] ;
	    	                // if (turno.<status !== "pending" ) {
							%>
	    	                <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
	    	                    <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
	    	                </option>
	    	                <% // }
	    	            } %>
	    	            </select>
	    	        </label>
	    	        <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>

	    	    </div>
	    	</form>
	    	<br/>
	    	<br/>
		    <table>
			    <tr>
			    	<th><%=i18n.analytics.ranking.team%></th>
			    	<th><%=i18n.analytics.ranking.members%></th>
			    	<th><%=i18n.analytics.ranking.turno%></th>
			    	<th><%=i18n.analytics.ranking.res%></th>
			    	<th><%=i18n.analytics.ranking.time%></th>

			    </tr>
			    <% if (teams.length === 0) { %>
			    	<tr>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    		<td></td>
			    	</tr>
			    <% } %>
			    <% for (var t in teams) { 
			    	var team = teams[t];
			    	let { count,
						startTime,
						latestRetoSuperado,
						finishTime,
						turno,
						result } = team;
			    	%>
				    <tr>
				    	<td><b><%=team.name%></b></td>
				    	<td><%= team.teamMembers.map(member=> member.name + " " + member.surname).join(", ") %></td>
				    	<td><%=turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%></td>
				    	<td><%=result%></td>
				    	<td><%=finishTime ? secondsToDhms(finishTime) : "--" %></td>

				    </tr>
			    <% } %>

			</table>
		</div>
    	<br/>
    	<br/>
    	<br/>
</div>

<% include ../../partials/_footer %>