<% include ../../partials/_header.ejs %>

<div class="main retosSuperados">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics"><%=i18n.analytics.main.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.retosSuperados.title%></span>
        </div>
    </div>
    <h2><%=i18n.analytics.retosSuperados.title%></h2>
    <form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/puzzles/participants">
        <div class="filters">
            <label for="turnId"><%=i18n.turnos.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                    <% var turno = escapeRoom.turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
                    </option>
                    <% } %>
                </select>
            </label>
            <label for="orderBy"><%=i18n.common.orderBy%>
                <select name="orderBy" id="orderBy">
                    <option value="" <%= !orderBy ? "selected": ""%>  disabled></option>
                    <option value="name" <%= orderBy === "name" ? "selected": ""%>><%=i18n.user.name%></option>
                    <option value="surname" <%= orderBy === "surname" ? "selected": ""%>><%=i18n.user.surname%></option>
                </select></label>
            <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
            <button type="submit" name="csv" value="1" class="filter-button white" ><%=i18n.analytics.main.download%></button>
            <a href="teams"><button type="button" class="buttonTab inverse"><%=i18n.team.seeByTeam%></button></a>

        </div>
    </form>
    <br/>
    <table class="animated jello">
        <tr>
            <th><%=i18n.user.name%></th>
            <%for (let p in escapeRoom.puzzles) {
                var puzzle = escapeRoom.puzzles[p];
            %>
        <th>
            <%=puzzle.title%>
        </th>
        <%} %>
            <th><%=i18n.common.Total%></th>
        </tr>
        <% var totalRetosSuperados = escapeRoom.puzzles.map(p=>0)%>
        <%for (let p in results) {
            var result = results[p];
        %>
        <tr>
            <td class="align-left"><%=result.name%> <%= result.surname%></td>
            <% for (let r in result.retosSuperados) {
                let superado = result.retosSuperados[r];
                if (superado) {
                    totalRetosSuperados[r] += 1;
                }
            %>
                <td class="<%= superado ? "complete":"incomplete"%>">
                    <span class="icon"></span>
                </td>
            <% } %>
            <td><%=result.total%>%</td>
        </tr>
        <%} %>
        <tr>
            <td class="align-left"><b><%=i18n.common.Total%>:</b> <%=results.length%></td>
            <% for (let s in totalRetosSuperados) { %>
                <td>
                    <b><%=totalRetosSuperados[s]%></b>
                    <br/>
                    <% if (results.length > 0 ) {%>
                    <%=Math.round(totalRetosSuperados[s]/results.length*10000)/100 %>%
                    <% } %>

                </td>
            <% } %>
            <td></td>
        </tr>
    </table>
    <br/>

    <br/>

</div>
<% include ../../partials/_footer %>