<% include ../../partials/_header.ejs %>

<div role="main" class="main retosSuperados">
    <%- include("../../partials/_breadcrumbAnalyticsStep",{labels: analyticsSections(), current: "retosSuperados"}) %>
    <h1><%=i18n.analytics.retosSuperados.title%></h1>
    <form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/puzzles/teams">
        <div class="filters">
            <label for="turnId"><%=i18n.turno.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turno.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                    <% var turno = escapeRoom.turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen%>
                    </option>
                    <% } %>
                </select>
            </label>
            <button type="submit" class="editButton filter-button" ><%=i18n.common.filter%></button>
            <button type="submit" name="csv" value="1" class="acceptButton filter-button" >    
                <%=i18n.analytics.main.download%>
            </button>
            <a href="participants?turnId=<%=turnId%>">
                <button  type="button" class="buttonTab filter-button">
                    <%=i18n.participant.seeByParticipant%>
                </button>  
            </a>

        </div>
    </form>
    <br/>
    <table class="mainTable">
        <tr>
            <th><%=i18n.team.Team%></th>
            <th><%=i18n.team.Members%></th>
            <%for (var p in escapeRoom.puzzles) { 
                var puzzle = escapeRoom.puzzles[p]; %>
            <th>
                <%=puzzle.title%>
            </th>
            <%} %>
            <th><%=i18n.common.Total%></th>
        </tr>
        <% var totalRetosSuperados = escapeRoom.puzzles.map(p=>0)%>
        <%for (var p in results) {
            var result = results[p];
        %>
        <tr>
            <td class=" "><b><%=result.name%></b></td>
            <td class=" "><%=result.members.join(", ")%></td>
            <% for (var r in result.retosSuperados) {
                var superado = result.retosSuperados[r];
                if (superado) {
                    totalRetosSuperados[r] += 1;
                }
            %>
                <td class="<%= superado ? "complete":"incomplete"%>">
                    <span class="icon"></span>
                </td>
            <% } %>
            <td><%=Math.round(result.retosSuperados.filter(r=>r==1).length*10000/result.retosSuperados.length)/100%>%</td>
        </tr>
        <%} %>
        <tr>
            <td class="align-left"><b>Total:</b> <%=results.length%></td>
            <td/>
            <% for (var s in totalRetosSuperados) { %>
                <td>
                    <b><%=totalRetosSuperados[s]%></b>
                    <br/>
                    <% if (results.length > 0 ) {%>
                    <%=Math.round(totalRetosSuperados[s]/results.length*10000)/100 %>%
                    <% } %>
                </td>
            <% } %>
            <td></td>
        </tr>
    </table>
    <br/>

    <br/>

</div>
<% include ../../partials/_footer %>