<script src="/js/vendor/apexcharts.js"></script>
<script src="/js/extractColor.js"></script>

<% include ../../partials/_header.ejs %>
<div class="main timeline">
  <%- include("../../partials/_breadcrumbAnalyticsStep",{labels: analyticsSections(), current: "timeline"}) %>

  <h1><%=i18n.analytics.timeline.title%></h1>
  <form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/timeline">
    <div class="filters">
        <label for="turnId"><%=i18n.turno.Turno%>
            <select name="turnId" id="turnId">
                <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turno.all%></option>
                <% for (t in escapeRoom.turnos) { %>
                  <% var turno = escapeRoom.turnos[t] %>
                  <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                      <%= turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen%>
                  </option>
                <% } %>
            </select>
        </label>
        <button type="submit" class="editButton filter-button" >
          <%=i18n.common.filter%>
        </button>
    </div>
  </form>

  <%if (teams && teams.length) {%>
  <% let duration = escapeRoom.duration %>
  <% let puzzles = escapeRoom.puzzles %>
  <% let puzzleIds = escapeRoom.puzzles.map(p=>p.id) %>
  <div id="legend">

    <% for (let p in puzzles) { 
      let puzzle = puzzles[p];
      %>
      <div class="puzzle-legend">
      <div class="puzzle-legend-circle progress-puzzle-<%=p % 6%>"></div>
        <%= puzzle.title %>
      </div>
    <% } %>
  </div>
  <div id="timeline-chart">
    <%
    var calculatePuzzleTime = function(puzzleTime, prevPuzzleTime) {
      return (puzzleTime - prevPuzzleTime)/60000;
    }

    var puzzlePosition = function(puzzleTime, prevPuzzleTime) {
      var time = calculatePuzzleTime(puzzleTime, prevPuzzleTime);
      return (time/duration)*100;
    }
    %>

    <% for (let t in teams) { 
      let team = teams[t];
      let requestedHints = team.requestedHints;
      %>
      <div id="team">
        <div class="team-name">
          <%- include("../../partials/_connected",{participant:team})%>
          <%=team.name%>
        </div><img class="door" src="/images/doorclosed.png" alt="<%=i18n.analytics.timeline.closedDoor%>"/>
        <div class="progress">
          <%
            let startTime = team.turno.startTime || team.startTime;
            let prevPuzzleTime = startTime;
          %>
          <% for (let r in team.retos) { 
            let reto = team.retos[r];
            let puzzleTime = reto.retosSuperados.createdAt;
            let perc = puzzlePosition(puzzleTime, prevPuzzleTime);
            prevPuzzleTime = puzzleTime;
            %>
              <div class="step progress-puzzle-<%=reto.order % 6 %>" style="width:<%=perc%>%;">
                <%= Math.round(perc*duration/100)%>'
                <div class="tooltip">
                  <div class="tooltip-info">
                  <b><%=puzzles[reto.order].title%></b>
                  </div>
                  <div class="tooltip-info">
                    <b><%=i18n.analytics.timeline.solved%>: </b> <%=Math.round(calculatePuzzleTime(puzzleTime, startTime))%>'
                  </div>
                </div>
              </div>
          <% } %>
          <% if (team.retos.length === puzzles.length) {%>
            <img class="door" src="/images/dooropen.png" alt="<%=i18n.analytics.timeline.openDoor%>"/>
          <%} else { 
            var incomplete = puzzleIds.filter(puzzle => !team.retos.find(r=>r.id === puzzle));
            var idx = puzzleIds.indexOf(incomplete[0])
            %>
              <div class="step step-flex progress-puzzle-<%= idx % 6%>" style="">
                  <div class="tooltip">
                    <div class="tooltip-info">
                    <b><%=puzzles[idx].title%></b>
                    </div>
                    <div class="tooltip-info">
                     <%=i18n.analytics.timeline.unsolved%>
                    </div>
                </div>
              </div>
          <% } %>
          </div>
      </div>
      <div class="requestedHints">
        <% for (let h in requestedHints) { %>
          <% let hint = requestedHints[h] %>
          <% let hintTime = calculatePuzzleTime(hint.createdAt, startTime);%>
          <% if (hintTime > escapeRoom.duration) { 
            continue;
          } %>
          <div class="requestedHint <%= hint.success ? "success":"fail" %>" style="left: <%=puzzlePosition(hint.createdAt, startTime)%>%;">
            <div class="tooltip">
              <div class="tooltip-info">
                <b><%=i18n.analytics.timeline.time%>: </b> <%= Math.round(hintTime)%>'
              </div>
              <div class="tooltip-info">
                <b><%=i18n.analytics.timeline.score%>: </b> <%= hint.score %>%
              </div>
              <%if(hint.hint){%>
                <div class="tooltip-info">
                  <b><%=i18n.analytics.timeline.hint%>: </b><%= hint.hint.content %>
                </div>
              <%} else if (hint.success) { %>
                <div class="tooltip-info"><%=i18n.analytics.timeline.customHint%></div>
              <% } else {%>
                <div class="tooltip-info"><%=i18n.analytics.timeline.failed%></div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>

  <%} else {%>
    <p class="noResults"><%=i18n.team.noResults%></p>
  <%}%>
<br/>
<br/>
<br/>
</div>
<% include ../../partials/_footer %>