<script src="/js/apexcharts.js"></script>
<% include ../../partials/_header.ejs %>
<div class="main timeline">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics">
                <%=i18n.analytics.main.title%>
            </a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.timeline.title%></span>
        </div>
    </div>
    <h2><%=i18n.analytics.timeline.title%>:
      <span class="title">
        <%=i18n.analytics.timeline[inverted ? "nPuzzlesTeam" : "nTeamsPuzzle"]%>
      </span>
   </h2>
<form method="get" class="participantsList" action="/escapeRooms/<%= escapeRoom.id %>/analytics/timeline">
    <div class="filters">
        <label for="turnId"><%=i18n.turnos.Turno%>
            <select name="turnId" id="turnId">
                <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                <% for (t in escapeRoom.turnos) {
                    var turno = escapeRoom.turnos[t] ;
                    // if (turno.status !== "pending" ) {
                %>
                <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                    <%= getFullDate(turno.date)%>
                </option>
                <% // }
                } %>
            </select>
        </label>
      <%if (inverted) {%>
        <input type="hidden" name="inverted" value="1"/>
      <%}%>

        <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
        <a href="/escapeRooms/<%= escapeRoom.id %>/analytics/timeline?<%=!inverted ? "inverted=1&":""%><%=turnId ? "turnId="+turnId:""%>">
          <button type="button" class="filter-button inverse"><%=i18n.analytics.timeline[inverted ? "nPuzzlesTeamButton" : "nTeamsPuzzleButton"]%></button>
        </a>

    </div>
</form>
<div id="chart">
</div>
</div>
<script>
  var duration = <%=escapeRoom.duration%>;
  var puzzles = JSON.parse('<%-JSON.stringify(escapeRoom.puzzles)%>');
  var nPuzzles = puzzles.length;
  var teams = <%-JSON.stringify(teams)%>;
  var data = JSON.parse('<%-JSON.stringify(data)%>');
  var nTeams = teams.length;
  var bodyStyles = window.getComputedStyle(document.body);
  var cp = (prop) => bodyStyles.getPropertyValue(prop);

  var options = {
    chart: {
      height: 380,
      type: "area",
      style: {
      },
      toolbar: {
        show: true,
        tools: {
          download: true,
          selection: false,
          zoom: false,
          zoomin: false,
          zoomout: false,
          pan: false,
          reset: false,
          customIcons: []
        },
        autoSelected: 'zoom'
      },
    },
    dataLabels: {
      enabled: false
    },
    colors: [
      cp('--brightgreen'),
      cp('--brightyellow'),
      cp('--brightorange'),
      cp('--brightblue'),
      cp('--lightred'),
      cp('--textpurple')
    ],
    series: data,
    fill: {
      type: 'gradient',
      gradient: {
        opacityFrom: 0,
        opacityTo: 0
      }
    },
    xaxis: {
      categories: function(){
        let size = Math.ceil(duration / 5) + 1;
        let values = new Array(size);
        for (let i = 0; i <= size; i++) {
          values[i]=i*5 + "'";
        }
        return values
      }(),
      labels: {
        style:{
          colors:'black'
        }
      },
      crosshairs: {
        show: true,
        opacity: 1,
        stroke: {
          color: 'white',
          dashArray: 4,
        },

      }
    },
    yaxis: {
      show: true,
      min: 0,
      decimalsInFloat: 0,
      labels: {
        show: true,
        style: {
          color: "black"
        },
      }
    },
    legend: {
      labels: {
        colors:'black'
      }
    },
  };

  <% if (inverted) { %>
  options.yaxis.tickAmount = nPuzzles;
  options.yaxis.max = nPuzzles
  options.yaxis.labels.formatter = function (value) {
    return puzzles[value-1] ? puzzles[value-1].title : ""
  }

  <% } else { %>

  options.yaxis.tickAmount = nTeams;
  options.yaxis.max = nTeams;
  options.yaxis.labels.formatter = function(value) {
    if (value === 1) {
      return value + " <%=i18n.team.team%>";
    } else {
      return value + " <%=i18n.team.teams%>";
    }
  };
  <% } %>

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

</script>
<% include ../../partials/_footer %>