<% include ../../partials/_header.ejs %>
<div class="main">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics"><%=i18n.analytics.main.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.timeline.title%></span>
        </div>
    </div>
    <h2><%=i18n.analytics.timeline.title%></h2>
    <pre>// TODO</pre>
</div>
<% include ../../partials/_footer %>