<script src="/js/vendor/apexcharts.js"></script>
<script src="/js/extractColor.js"></script>

<% include ../../partials/_header.ejs %>
<div class="main">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics"><%=i18n.analytics.main.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.timeline.title%></span>
        </div>
    </div>
  <h2><%=i18n.analytics.timeline.title%></h2>

  <div id="timeline">
    <% let duration = escapeRoom.duration %>
    <% let puzzles = escapeRoom.puzzles %>
    <%
    var timePercent = function(puzzleTime, prevPuzzleTime) {
      var time = ( puzzleTime - prevPuzzleTime)/60000;
      return (time/duration)*100;
    }
    %>

    <% for (let t in teams) { 
      let team = teams[t];%>
      <div id="team">
        <div class="team-name">
          <%=team.name%>
        </div>
        <div class="progress">
          <img class="door" src="https://sonsoleslp.neocities.org/puertacerrada.png" alt=""/>
          <%
            let startTime = team.turno.startTime;
            let prevPuzzleTime = startTime;
          %>
          <% for (let r in team.retos) { 
            let reto = team.retos[r];
            let puzzleTime = reto.retosSuperados.createdAt;
            let perc = timePercent(puzzleTime, prevPuzzleTime, startTime)
            prevPuzzleTime = puzzleTime
            %>
              <div class="step progress-puzzle-<%=r % 5 %>" style="width:<%=perc%>%;">
                <%var dur = Math.round(perc*duration/100)%>
                <%=dur%>'

              </div>
          <% } %>
          <% if (team.retos.length === puzzles.length) {%>
            <img class="door" src="https://sonsoleslp.neocities.org/puertaabierta.png" alt=""/>
          <%} else { %>
              <div class="step step-flex progress-puzzle-<%= team.retos.length % 5%>" style=""></div>

          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <script>
    var escapeRoom = <%-JSON.stringify(escapeRoom)%>
    var duration = escapeRoom.duration;
    var puzzles = escapeRoom.puzzles;
    var nPuzzles = puzzles.length;
    var teams = <%-JSON.stringify(teams) %>
    const colors = [green, yellow, orange, red, purple];



</script>
<br/>
<br/>
<br/>
</div>
<% include ../../partials/_footer %>