<script src="/js/vendor/apexcharts.js"></script>
<script src="/js/extractColor.js"></script>

<% include ../../partials/_header.ejs %>
<div class="main timeline">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <a href="/escapeRooms/<%=escapeRoom.id%>/analytics">
                <%=i18n.analytics.main.title%>
            </a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.analytics.timeline.title%></span>
        </div>
    </div>

  <h2><%=i18n.analytics.timeline.title%></h2>
  <% let duration = escapeRoom.duration %>
  <% let puzzles = escapeRoom.puzzles %>
  <div id="legend">

    <% for (let p in puzzles) { 
      let puzzle = puzzles[p];
      %>
      <div class="puzzle-legend">
      <div class="puzzle-legend-circle progress-puzzle-<%=p%5%>"></div>
        <%= puzzle.title %>
      </div>

    <% } %>
  </div>
  <div id="timeline-chart">
   
    <%
    var calculatePuzzleTime = function(puzzleTime, prevPuzzleTime) {
      return (puzzleTime - prevPuzzleTime)/60000;
    }

    var puzzlePosition = function(puzzleTime, prevPuzzleTime) {
      var time = calculatePuzzleTime(puzzleTime, prevPuzzleTime);
      return (time/duration)*100;
    }

    %>

    <% for (let t in teams) { 
      let team = teams[t];
      let requestedHints = team.requestedHints;
      %>
      <div id="team">
        <div class="team-name">
          <%=team.name%>
        </div><img class="door" src="/images/doorclosed.png" alt=""/>
        <div class="progress">
          
          <%
            let startTime = team.turno.startTime;
            let prevPuzzleTime = startTime;
          %>
          <% for (let r in team.retos) { 
            let reto = team.retos[r];
            let puzzleTime = reto.retosSuperados.createdAt;
            let perc = puzzlePosition(puzzleTime, prevPuzzleTime);
            prevPuzzleTime = puzzleTime;
            %>
              <div class="step progress-puzzle-<%=r % 5 %>" style="width:<%=perc%>%;">
                <%= Math.round(perc*duration/100)%>'
                <div class="tooltip">
                  <div class="tooltip-info">
                  <b><%=puzzles[r].title%></b>
                  </div>
                  <div class="tooltip-info">
                    <b><%=i18n.analytics.timeline.solved%>: </b> <%=Math.round(calculatePuzzleTime(puzzleTime, startTime))%>'
                  </div>
                </div>
              </div>
          <% } %>
          <% if (team.retos.length === puzzles.length) {%>
            <img class="door" src="/images/dooropen.png" alt=""/>
          <%} else { %>
              <div class="step step-flex progress-puzzle-<%= team.retos.length % 5%>" style="">
                  <div class="tooltip">
                    <div class="tooltip-info">
                    <b><%=puzzles[team.retos.length].title%></b>
                    </div>
                    <div class="tooltip-info">
                     <%=i18n.analytics.timeline.unsolved%>
                    </div>
                </div>
              </div>
          <% } %>
          </div>

      </div>
      <div class="requestedHints">
        <% for (let h in requestedHints) { %>
          <% let hint = requestedHints[h] %>
          <% let hintTime = calculatePuzzleTime(hint.createdAt, startTime);%>
          <% if (hintTime > escapeRoom.duration) { 
            continue;
          } %>
          <div class="requestedHint <%= hint.success ? "success":"fail" %>" style="left: <%=puzzlePosition(hint.createdAt, startTime)%>%;">
            <div class="tooltip">
              <div class="tooltip-info">
                <b><%=i18n.analytics.timeline.time%>: </b> <%= Math.round(hintTime)%>'
              </div>
              <div class="tooltip-info">
                <b><%=i18n.analytics.timeline.score%>: </b> <%= hint.score %>%
              </div>
              <%if(hint.hint){%>
                <div class="tooltip-info">
                  <b><%=i18n.analytics.timeline.hint%>: </b><%= hint.hint.content %>
                </div>
              <%} else if (hint.success) { %>
                <div class="tooltip-info"><%=i18n.analytics.timeline.customHint%></div>
              <% } else {%>
                <div class="tooltip-info"><%=i18n.analytics.timeline.failed%></div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
 
<br/>
<br/>
<br/>
</div>
<% include ../../partials/_footer %>