<%- include ("../../partials/_header.ejs") %>
<div role="main" class="main showApp">
    <% if (isAuthor) { %>
    <div class="breadcrumbs-container">
		<div class="breadcrumbs">
			<a href="/resources/my"><%=i18n.resources.my%></a>
			<i class="material-icons">chevron_right</i>
			<span><%=JSON.parse(resource.config).title || resource.app.name%></span>
		</div>
    </div>
    <% } %>
    <iframe id="visor" class="embeddedResource" src="/resources/<%=resource.id%>?full=1&email=<%=(session && session.user) ? session.user.username : null%>&token"></iframe>
    <% if (isAuthor) { %>
        <div class="buttons">
            <button class="rounded acceptButton" id="compartir-button">
                <%=i18n.resources.share%>
            </button>
            <a href="/resources/<%=resource.id%>/edit">
                <button class="rounded editButton">
                    <%=i18n.resources.edit%>
                </button>
            </a>
                
            <a href="/resources/<%=resource.id%>?_method=DELETE">
                <button class="rounded deleteButton">
                    <%=i18n.resources.delete%>
                </button>
            </a>
        </div>
    <% } %>
</div>
<div id="dialog-share" title="<%=i18n.showTeacher.titles.share%>">
    <div>
        <% var invitationLink = hostName + "/resources/" + resource.id; %>
        <p class=join-instructions>
            <%=i18n.resources.shareIntro%> <br/>
            <label class="fullscreen"><input id="fullscreen-check" type="checkbox" /><%=i18n.resources.fullscreen%> </label>
        </p>
        <a class="show_link" target="_blank" id="link" href="<%= invitationLink %>">
            <%= invitationLink %>
        </a>
        <input id="joinUrl" value="<%= invitationLink %>" aria-label="<%=i18n.showTeacher.messages.copyAria%>"/>
        <button title="<%=i18n.showTeacher.messages.copyTitle%>" class="copy" id="copyButton">
            <span class="material-icons">file_copy</span>
        </button>
        <a class="show_link" target="_blank" id="qrLink" href="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=/<%= invitationLink %>"> 
            <button class="qr" id="qrButton" title="<%=i18n.showTeacher.messages.qrTitle%>">
                <span class="material-icons">camera_enhance</span>
            </button>
        </a>
    </div>
</div>
<script src="/js/vendor/jquery-ui.min.js"></script>

<script type="text/javascript">
    var dialogOptions = {
        autoOpen: false,
        resizable: false,
        modal: true,
        width: window.innerWidth > 800 ? 860 : window.innerWidth*0.9,
        height: "auto",
        show: {
            effect: "scale",
            duration: 400
        },
        hide: {
            effect: "scale",
            duration: 400
        },
        appendTo: '.main'
    };

    $( function() {
            
        $("#dialog-share").dialog(dialogOptions);

        $( "#compartir-button" ).on( "click", function() {
            $( "#dialog-share" ).dialog( "open" );
        });

        $('#copyButton').on('click', function() {
            var copyText = $("#joinUrl");
            copyText.select();
            document.execCommand("copy");
        });

        $('#fullscreen-check').change(function() {
            let url = $("#joinUrl").val();
            if (url.match("full")) {
                url = url.split("?full=true")[0];
            } else {
                url = url + "?full=true";
            }
            $('#link').html(url);
            $('#link').attr("href", url);
            $('#joinUrl').val(url);
            $('#qrLink').attr("href", "https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=/" + url);
        });
    });
</script>


