<a class="show_link" href="<%= invitationLink %>"><%= invitationLink %></a>
<input class="joinUrl" id="joinUrl-<%=key%>" value="<%= invitationLink %>" aria-label="<%=i18n.showTeacher.messages.copyAria%>"/>
<button title="<%=i18n.showTeacher.messages.copyTitle%>" class="copy" id="copyButton-<%=key%>">
<span class="material-icons">file_copy</span></button>
<a class="show_link" target="_blank" href="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=/<%= invitationLink %>"> 
    <button class="qr" id="qrButton-<%=key%>" title="<%=i18n.showTeacher.messages.qrTitle%>">
        <span class="material-icons">camera_enhance</span>
    </button>
</a>
<script>
    $(()=>{
        $('#copyButton-<%=key%>').on('click', function() {
            var copyText = $("#joinUrl-<%=key%>");
            copyText.select();
            document.execCommand("copy");
        });
    })
    
</script>