<% let formFields = [
     {
         name: "title",
         id: "tit",
         i18n: "title",
         value: escapeRoom.title
     },
     {
         name: "subject",
         id: "subj",
         i18n: "subject",
         value: escapeRoom.subject
     },
     {
         name: "duration",
         id: "dur",
         i18n: "duration",
         number: true,
         value: escapeRoom.duration
     },
     {
         name: "description",
         id: "desc",
         i18n: "description",
         value: escapeRoom.description
     },
     {
         name: "video",
         id: "vid",
         i18n: "video",
         value: escapeRoom.video
     },
     {
         name: "nmax",
         id: "nm",
         i18n: "nmax",
         number: true,
         value: escapeRoom.nmax
     },
     {
         name: "teamSize",
         id: "ts",
         i18n: "teamSize",
         number: true,
         value: escapeRoom.teamSize
     }]; %>
<% for (let f in formFields) {
  var field = formFields[f];%>
    <div class="inputFormField erFormField animated flipInX">
        <label for="<%=field.id%>"  class="itemNarrow"><%=parseInt(f)+1%>. <%=i18n.showTeacher.titles[field.i18n]%>:</label>
        <input autofocus type="<%=field.number ? "number" : "text"%>" min="1" class="customInput itemWide" id="<%= field.id %>" name="<%= field.name %>" value="<%= field.value %>"
               placeholder="<%=i18n.escapeRoom.steps.edit[field.i18n + "PlaceHolder"]%>" autocomplete="off"/>
    </div>
<%}%>


<div class="inputFormField erFormField animated flipInX">
    <label class="itemNarrow">8. <%=i18n.showTeacher.titles.thumbnail%>:</label>
    <input class="attach" type="file" id="img" name="image"/>
    <label for="img" class="fileUpload customInput itemWide">
      <span id="imgLabel" >
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          <%= escapeRoom.attachment.filename ||  "Default" %>
        <% } else { %>
          <%=i18n.escapeRoom.steps.edit.noFileUploaded%>
        <% } %>
      </span>
      <span id="upload"
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">file_upload</i>
      </span>
      <span id="delete"
        <% if (!escapeRoom.id && !escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">delete</i>
        </span>
      <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.attachment) ? "1" : "0" %>" >
    </label>
</div>

<br/>

<div class="align-right">
    <% if (escapeRoom.id) { %>

    <a href="/escapeRooms/<%= escapeRoom.id %>">
      <button class="progress-buttons" id="exit" type="button"><%=i18n.common.cancel%></button>
    </a>
  <% } else { %>
    <a href="/users/<%= session.user.id %>/escapeRooms">
      <button class="progress-buttons" id="exit" type="button"><%=i18n.common.exit%></button>
    </a>
  <% } %>
  <button class="progress-buttons" type ="submit"><%=i18n.common.next%></button>
</div>

<br/><br/><br/><br/><br/><br/>
<script type="text/javascript">

$(function(){

    $('#img').on("change", function(e){
      let path = $(this).val();
      try {
        let fileNameArr = path.split("\\");
        let fileName = fileNameArr[fileNameArr.length - 1];
        if(fileName) {
          $('#delete').show();
          $('#upload').hide();
          $('#imgLabel').html(fileName);
        }
      } catch (e) {
          $('#delete').hide();
          $('#upload').show();
          $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
      }
    });

    $('#delete').on('click', function(e){
        e.preventDefault();
        $('#delete').hide();
        $('#upload').show();
        $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
        $('#keepAttachment').val("0");
    })

})




</script>
<% include ./_scrollListener %>
<%- include('../partials/_progress', {progress: 0}) %>

