
<div class="wideRow erFormField animated flipInX">
    <label for="tit"  class="itemNarrow">1. <%=i18n.showTeacher.titles.title%>:</label>
    <input autofocus type="text" class="customInput itemWide" id="tit" name="title" value="<%= escapeRoom.title %>" placeholder="<%=i18n.escapeRoom.steps.edit.titlePlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label for="subj"  class="itemNarrow">2. <%=i18n.showTeacher.titles.subject%>:</label>
    <input type="text" class="customInput itemWide" id="subj" name="subject" value="<%= escapeRoom.subject %>" placeholder="<%=i18n.escapeRoom.steps.edit.subjectPlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">3. <%=i18n.showTeacher.titles.duration%>:</label>
    <input type="number" type="text" class="customInput itemWide" id="dur" name="duration" value="<%= escapeRoom.duration %>" placeholder="<%=i18n.escapeRoom.steps.edit.durationPlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label for="desc"  class="itemNarrow">4. <%=i18n.showTeacher.titles.description%>:</label>
    <input type="text" class="customInput itemWide" id="desc" name="description" value="<%= escapeRoom.description %>" placeholder="<%=i18n.escapeRoom.steps.edit.descriptionPlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label for="vid"  class="itemNarrow">5. <%=i18n.showTeacher.titles.video%>:</label>
    <input type="text" class="customInput itemWide" id="vid" name="video" value="<%= escapeRoom.video %>" placeholder="<%=i18n.escapeRoom.steps.edit.videoPlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label for="nm"  class="itemNarrow">6. <%=i18n.showTeacher.titles.nmax%>:</label>
    <input type="number" min="1" class="customInput itemWide" id="nm" name="nmax" value="<%= escapeRoom.nmax %>" placeholder="<%=i18n.escapeRoom.steps.edit.nmaxPlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label for="ts"  class="itemNarrow">7. <%=i18n.showTeacher.titles.teamSize%>:</label>
    <input type="number" min="1" class="customInput itemWide" id="ts" name="teamSize" value="<%= escapeRoom.teamSize %>" placeholder="<%=i18n.escapeRoom.steps.edit.teamSizePlaceHolder%>" autocomplete="off"/>
</div>

<div class="wideRow erFormField animated flipInX">
    <label class="itemNarrow">8. <%=i18n.showTeacher.titles.thumbnail%>:</label>
    <input class="attach" type="file" id="img" name="image"/>
    <label for="img" class="fileUpload customInput itemWide">
      <span id="imgLabel" >
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          <%= escapeRoom.attachment.filename ||  "Default" %>
        <% } else { %>
          <%=i18n.escapeRoom.steps.edit.noFileUploaded%>
        <% } %>
      </span>
      <span id="upload"
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">file_upload</i>
      </span>
      <span id="delete"
        <% if (!escapeRoom.id && !escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">delete</i>
        </span>
      <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.attachment) ? "1" : "0" %>" >
    </label>
</div>

<br/>

<div class="align-right">
    <% if (escapeRoom.id) { %>

    <a href="/escapeRooms/<%= escapeRoom.id %>">
      <button class="progress-buttons" id="exit" type="button"><%=i18n.common.cancel%></button>
    </a>
  <% } else { %>
    <a href="/users/<%= session.user.id %>/escapeRooms">
      <button class="progress-buttons" id="exit" type="button"><%=i18n.common.exit%></button>
    </a>
  <% } %>
  <button class="progress-buttons" type ="submit"><%=i18n.common.next%></button>
</div>

<br/><br/><br/><br/><br/><br/>
<script type="text/javascript">

$(function(){

    $('#img').on("change", function(e){
      let path = $(this).val();
      try {
        let fileNameArr = path.split("\\");
        let fileName = fileNameArr[fileNameArr.length - 1];
        if(fileName) {
          $('#delete').show();
          $('#upload').hide();
          $('#imgLabel').html(fileName);
        }
      } catch (e) {
          $('#delete').hide();
          $('#upload').show();
          $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
      }
    });

    $('#delete').on('click', function(e){
        e.preventDefault();
        $('#delete').hide();
        $('#upload').show();
        $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
        $('#keepAttachment').val("0");
    })

})




</script>
<% include ./_scrollListener %>
<%- include('../partials/_progress', {progress: 0}) %>

