<div class="modal animated zoomIn" tabindex="-1" role="dialog" id="hintModal" aria-labelledby="hintModal" aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">
            <%=i18n.hint.Info%>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalContent">
            <div class="hints-modal-no-left">
            </div>  
            <div class="hints-modal-main-content">
                <h4 id="requested-hints-title" >
                    <%=i18n.hint.requestedHints%>
                </h4>
                <br/>
                <ul class="cardList hintList">
                <% for (var p = escapeRoom.puzzles.length -1; p>=0; p--) { %>
                    <% var categoryIndex = -1%>
                    <% var category = undefined %>
                    <% var order = escapeRoom.puzzles[p].order%>
                    <% var nCats = (new Set(escapeRoom.puzzles[p].hints.map(h=> h.category))).size %>
                    <% var requested = escapeRoom.puzzles[p].hints.some(h=>reqHintsList.indexOf(h.id) !== -1) %>
                    <% var isCurrent = currentlyWorkingOn === order;%>

                    <% var show = (pending.indexOf(order) === -1 || currentlyWorkingOn === order);%>
                    <li class="card reto-hint-li reto-hint-title-<%=order%> <%=isCurrent ? 'reto-hint-current' : ''%>" 
                        style="<%=(show) ? '':'display: none;'%>" 
                        data-puzzle-number="<%=order%>">

                        <h6 class="reto-title">
                            <button class="btn btn-success btn-hints btn-hints-modal" style="float:right;"><%=i18n.hint.need%></button>
                            <span style="padding:0.375rem 0rem; display: inline-block;"><b><%=escapeRoom.puzzles[p].title%></b> 
                            <span class="current-pths">(Reto actual) </span>
                            </span>
                        </h6>
                        <%if(!requested) {%>
                            <p class="no-req-hints"><%=i18n.hint.noReqHints%></p>
                        <%}%>
                        <ul class="cardList hintList">
                        <% for (var i = escapeRoom.puzzles[p].hints.length -1; i>=0; i--) {
                            var hint = escapeRoom.puzzles[p].hints[i];
                            if (nCats === 1) {
                                categoryIndex = 0;
                            } else if (nCats > 1 && category !== hint.category) { 
                                category =  hint.category || "General";
                                categoryIndex++;    
                            %>
                        <% }%>
                            <% if (hint && reqHintsList.indexOf(hint.id) !== -1) { %>                            
                                <li class="reto-hint" data-hint-number="<%=hint.order%>">
                                    <div class="card border-info mb-3">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <%if (nCats === 1) {%>
                                                <%=hint.content%>
                                                <%} else {%>
                                                <b>(<%=hint.category%>)</b> <%=hint.content%>
                                                <%}%>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        <% }%>
                    </ul>
                    </li>
                <%}%>
                </ul>
                
                <%const someMsg = retosSuperados.length;%>
                <h4 style="<%= someMsg ? '' : 'display: none;'%>" id="puzzle-messages-title">
                    <%=i18n.puzzle.retosSuperados%>
                </h4>
                <ul class="cardList retoList">
                <% for (var p = 0; p < retosSuperados.length; p++) { %>
                    <% var puz = retosSuperados[p];%>
                    <% var found = escapeRoom.puzzles.find(r=>r.order === puz);%>
                    <li class="card reto-puzzle-li <%=(p === (retosSuperados.length -1)) ? 'reto-puzzle-current':'' %>"> 
                        <h6><b><%=found.title%></b></h6>
                        <% if (found && found.correct ) {%>
                        <p> <b><%=i18n.puzzle.Msg%>:</b> <%=found.correct%></p>
                        <%}%>
                        <% if (found && !found.automatic ) {%>
                            <p> <b><%=i18n.puzzle.Solution%>:</b> <span class="hidden-sol"><%=found.sol%></p></span>
                        <%}%>
                    </li>
                <%}%>
                 </ul>
                <br/>
                <h4 style="display: none;" id="other-messages-title"><%=i18n.hint.other%></h4>
                <ul class="cardList otherList">
                </ul>
                <br/>
            </div>
            <div class="hints-modal-cats">
            </div>
            <div class="hints-modal-quiz">
            </div> 
                     
        </div>
      </div>
    </div>
  </div>