<span class="progressBar">
    <% var labels =  steps() %>
	<% var index = labels.indexOf(progress) %>
	<div class="progressText gugi">
		<%=Math.round(index /labels.length * 100)%>% <%=i18n.common.completado%> 
	</div>
	<% var realLabels = labels.map(label=>i18n.escapeRoom.steps.list[label]) %>

	<div class="outterBar">
        <%for(var i in labels){%>
		<button name="progress" value="<%=labels[i]%>" title="<%=realLabels[i]%>" 
			class="innerBar" 
			style="opacity: <%= ( index > i) ? 1 : 0 %>; 
			left: <%=  100/(labels.length)*i %>%;
			width: <%=100/(labels.length)%>%;">
		</button>
        <%}%>
	</div>
</span>