<span class="progressBar"> 
	<div class="progressText"><%=progress%>/6 <%=i18n.common.completado%> </div>
	<% var width = progress / 6 * 100 ; %>
	<% var labels = ["edit","turnos","puzzles","hints","instructions","appearance","evaluation"]%>
	<% var realLabels = labels.map(label=>i18n.escapeRoom.steps.list[label]) %>
	<% labels.splice(progress, 1)%>
	<% realLabels.splice(progress, 1)%>
	<div class="outterBar">
        <%for(var i in labels){%>
		<button name="progress" value="<%=labels[i]%>" title="<%=realLabels[i]%>" class="innerBar" style="opacity: <%= ( progress > i) ? 1 : 0 %>; left: <%=  100/6*i %>%;width: <%=16.67%>%;"></button>
        <%}%>
	</div>
</span>