<div class="puzzle-card" id="puzzle-<%=puzzle.id%>">
    <span title="<%=i18n.escapeRoom.steps.puzzles.reorder%>" maxlength="10000" class="material-icons handle showAlways">
        swap_vert
    </span>
    <input type="hidden" name="puzzles[<%=reto%>][order]" class="order" value="<%=puzzle.order%>"/>
    <input type="hidden" name="puzzles[<%=reto%>][id]" value="<%=puzzle.id%>"/>
    <h2 class="showAlways">
        <span class="material-icons">extension</span>
        <input type="text" class="light" name="puzzles[<%=reto%>][title]" maxlength="10000" autocomplete="off" required value="<%=puzzle.title%>" aria-label="<%=i18n.puzzle.Puzzle%> <%=reto%>"/>
    </h2>
    <h3>
        <span class="material-icons">description</span>
        <label for="puzzles[<%=reto%>][desc]"><%=i18n.escapeRoom.steps.puzzles.description%></label>
    </h3>
    <input type="text" class="light" name="puzzles[<%=reto%>][desc]" maxlength="10000" autocomplete="off" required value="<%=puzzle.desc%>" id="puzzles[<%=reto%>][desc]"/>
    <div class="flex-puzzle-card">
        <div>
            <h3>
                <span class="material-icons">search</span>
                <label for="puzzles[<%=reto%>][sol]"><%=i18n.escapeRoom.steps.puzzles.solution%></label>
            </h3>
            <input type="text" class="light" name="puzzles[<%=reto%>][sol]" maxlength="10000" autocomplete="off" required value="<%=puzzle.sol%>" id="puzzles[<%=reto%>][sol]"/>
        </div>
        <div>
            <h3>
                <label for="puzzles[<%=reto%>][automatic]">
                    <span>
                        <span class="material-icons">track_changes</span>
                       <%=i18n.escapeRoom.steps.puzzles.tracking%>
                    </span>
                </label>
            </h3>
            <select class="light" required  id="puzzles[<%=reto%>][automatic]" name="puzzles[<%=reto%>][automatic]" value="<%= puzzle.automatic %>" placeholder="<%i18n.escapeRoom.steps.puzzles.placeholder%>" autocomplete="off">
                <option value="0" <%= puzzle.automatic ? "" : "selected"%>><%=i18n.escapeRoom.steps.puzzles.manual%></option>
                <option value="1" <%= puzzle.automatic ? "selected" : ""%>><%=i18n.escapeRoom.steps.puzzles.automatic%></option>
            </select>
        </div>
    </div>
    <h3>
        <span class="material-icons">check</span>
        <label for="puzzles[<%=reto%>][correct]"><%=i18n.escapeRoom.steps.puzzles.successMsg%></label>
        <input class="light" type="text" name="puzzles[<%=reto%>][correct]" id="puzzles[<%=reto%>][correct]" maxlength="10000" placeholder="<%=i18n.escapeRoom.play.correctAnswer%>" value="<%=puzzle.correct%>"/>
    </h3>
    <h3>
        <span class="material-icons">close</span>
        <label for="puzzles[<%=reto%>][fail]"> <%=i18n.escapeRoom.steps.puzzles.failMsg%></label>
        <input class="light" type="text" name="puzzles[<%=reto%>][fail]" id="puzzles[<%=reto%>][fail]" maxlength="10000" placeholder="<%=i18n.puzzle.wrongAnswer%>" value="<%=puzzle.fail%>"/>
    </h3>
    <h3>
        <span class="material-icons">search</span>
        <%=i18n.escapeRoom.steps.puzzles.hints%>
        <% var categoryIndex = -1%>
        <% var category = undefined %>
        <% var nCats = (new Set(puzzle.hints.map(h=> h.category))).size %>
        <ul class="hint-list" data-number="<%=reto%>">
            <% for (let h in puzzle.hints) {
                let hint = puzzle.hints[h];
                if (nCats === 1) {
                    categoryIndex = 0;
                } else if (nCats > 1 && category !== hint.category) { 
                    category =  hint.category || "General";
                    categoryIndex++;    
                %>
                <li class="hint-category" data-id="<%=categoryIndex%>">
                    <span class="material-icons handle-cat">call_split</span>
                    <input class="light hint-category-name" value="<%=category%>" placeholder="<%=i18n.escapeRoom.steps.puzzles.newCat%>" name="puzzles[<%=reto%>][categories][<%=categoryIndex%>]"/>
                    <%if(categoryIndex){%>
                        <button type="button" class="delete-cat" title="<%=i18n.escapeRoom.steps.puzzles.delete%>">
                            <span class="material-icons">clear</span>
                        </button>
                    <%}%>
                </li>
               <% }%>
                <li class="hint-list-element">
                   <div class="hint-li">
                    <span title="<%=i18n.escapeRoom.steps.puzzles.reorder%>" maxlength="10000" class="material-icons handle-hint">swap_vert</span>
                    <input type="hidden" name="puzzles[<%=reto%>][hints][<%=h%>][id]" value="<%=hint.id%>"/>
                    <input type="hidden" name="puzzles[<%=reto%>][hints][<%=h%>][category]" class="hint-cat" maxlength="10000" value="<%=categoryIndex || 0%>"/>
                    <input type="hidden" name="puzzles[<%=reto%>][hints][<%=h%>][order]" class="hint-order" maxlength="10000" value="<%=hint.order%>"/>
                    <input type="text" class="light"  name="puzzles[<%=reto%>][hints][<%=h%>][content]" maxlength="10000" placeholder="..." required value="<%=hint.content%>" aria-label="<%=i18n.escapeRoom.steps.puzzles.Hint%> <%=hint.order%>"/>
                    <button type="button" class="delete-hint" title="<%=i18n.escapeRoom.steps.puzzles.delete%>">
                        <span class="material-icons">clear</span>
                    </button>
                    </div>
                </li>
            <% } %>
        </ul>
        <div class="add-hint" >
            <button type="button" class="rounded editButton addHint" >
                <%=i18n.escapeRoom.steps.puzzles.addNewHint%>
            </button>
            <button type="button" class="rounded compartirButton addCategory" >
                <%=i18n.escapeRoom.steps.puzzles.addNewCategory%>
            </button>
        </div>
    </h3>
    <button type="button" class="delete-puzzle">
        <span class="material-icons">delete</span>
    </button>
</div>