<% var puzzles = escapeRoom.puzzles; %>
<% if (escapeRoom.puzzles.some(p=>!p.automatic)) { %> 
    <h4 id="puzzles"><%=i18n.puzzle.Puzzles%></h4> 
<% } %>
<% for (var reto in puzzles){ %>
    <% var puzzle = puzzles[reto] %>
    <% var noSuperado = retosSuperados.indexOf(puzzle.order) === -1; %>
    <% if (!found && !puzzle.automatic) { %>
      <div class="flex-cell flex-cell-retos">
          <div class="retoTextArea editable" data-reto="<%=puzzle.order%>" data-id="title">
              <%= puzzle.title%>
          </div>
      </div>
      <div class="flex-cell flex-cell-sol puzzle-sol" data-reto="<%=puzzle.order%>" >
        <% if (noSuperado) { %>
            <div class="input-group mb-3 sol-input">
              <input type="text" class="form-control puzzle-input" name="answer" data-puzzle-order="<%= puzzle.order %>" placeholder="<%=i18n.puzzle.writeSol%>" aria-label="Answer" aria-describedby="basic-addon2" autocomplete="off">
              <div class="input-group-append">
                <button class="btn btn-warning puzzle-check-btn" type="button" data-puzzle-order="<%= puzzle.order %>"><%=i18n.puzzle.check%></button>
              </div>
              <div class="puzzle-feedback invalid-feedback" data-puzzle-order="<%= puzzle.order %>">
              </div>
            </div>
        <% 
          
        } else { %>
            <b><%= puzzle.correct || i18n.puzzle.correctAnswer%></b>
        <% } %>
      </div>
    <% } 
    if (noSuperado && !found) {
      found = (puzzle.order !== undefined && puzzle.order !== null) ? puzzle.order : null;
    } %>
<%}%>
 