<div class="puzzle-card" id="puzzle-<%=puzzle.id%>">
    <i title="<%=i18n.escapeRoom.steps.puzzles.reorder%>" class="material-icons handle showAlways">swap_vert</i>
    <input type="hidden" name="puzzles[<%=reto%>][order]" class="order" value="<%=puzzle.order%>"/>
    <input type="hidden" name="puzzles[<%=reto%>][id]" value="<%=puzzle.id%>"/>
    <h3 class="showAlways">
        <i class="material-icons">extension</i>
        <input type="text" name="puzzles[<%=reto%>][title]" autocomplete="off" required value="<%=puzzle.title%>"/>
    </h3>
    <h4>
        <i class="material-icons">description</i>
        <%=i18n.escapeRoom.steps.puzzles.description%>
    </h4>
    <input type="text" name="puzzles[<%=reto%>][desc]" autocomplete="off" required value="<%=puzzle.desc%>"/>
    <div class="flex-puzzle-card">
        <div>
            <h4>
                <i class="material-icons">search</i>
                <%=i18n.escapeRoom.steps.puzzles.solution%>
            </h4>
            <input type="text" name="puzzles[<%=reto%>][sol]" autocomplete="off" required value="<%=puzzle.sol%>"/>
        </div>
        <div>
            <h4>
                <label for="at">
                    <span>
                        <i class="material-icons">track_changes</i>
                        <%=i18n.escapeRoom.steps.puzzles.tracking%>
                    </span>
                </label>
            </h4>
            <select  required  id="at" name="puzzles[<%=reto%>][automatic]" value="<%= puzzle.automatic %>" placeholder="<%i18n.escapeRoom.steps.puzzles.placeholder%>" autocomplete="off">
                <option value="0" <%= puzzle.automatic ? "" : "selected"%>><%=i18n.escapeRoom.steps.puzzles.manual%></option>
                <option value="1" <%= puzzle.automatic ? "selected" : ""%>><%=i18n.escapeRoom.steps.puzzles.automatic%></option>
            </select>
        </div>
    </div>
    <h4>
        <i class="material-icons">check</i>
        <%=i18n.escapeRoom.steps.puzzles.successMsg%>
        <input type="text" name="puzzles[<%=reto%>][correct]" placeholder="<%=i18n.puzzle.correctAnswer%>" value="<%=puzzle.correct%>"/>
    </h4>
    <h4>
        <i class="material-icons">close</i>
        <%=i18n.escapeRoom.steps.puzzles.failMsg%>
        <input type="text" name="puzzles[<%=reto%>][fail]" placeholder="<%=i18n.puzzle.wrongAnswer%>" value="<%=puzzle.fail%>"/>
    </h4>
    <!--<h4>
        <i class="material-icons">view_module</i>
        <%=i18n.escapeRoom.steps.puzzles.subpuzzles%>
    </h4> -->
    <h4>
        <i class="material-icons">search</i>
        <%=i18n.escapeRoom.steps.puzzles.hints%>
        <ul class="hint-list" data-number="<%=reto%>">
            <% for (let h in puzzle.hints) {
                let hint = puzzle.hints[h];
             %>
                <li>
                   <div class="hint-li">
                    <i title="<%=i18n.escapeRoom.steps.puzzles.reorder%>" class="material-icons handle-hint">swap_vert</i>
                    <input type="hidden" name="puzzles[<%=reto%>][hints][<%=h%>][id]" value="<%=hint.id%>"/>
                    <input type="hidden" name="puzzles[<%=reto%>][hints][<%=h%>][order]" class="hint-order" value="<%=hint.order%>"/>
                    <input type="text" name="puzzles[<%=reto%>][hints][<%=h%>][content]" placeholder="..." required value="<%=hint.content%>"/>
                    <button type="button" class="delete-hint" title="<%=i18n.escapeRoom.steps.puzzles.delete%>">
                        <i class="material-icons">clear</i>
                    </button>
                    </div>
                </li>
            <% } %>
        </ul>
        <div class="add-hint" >
            <button type="button" class="rounded editButton addHint" >
                <%=i18n.escapeRoom.steps.puzzles.addNewHint%>
            </button>
        </div>
    </h4>
    <button type="button" class="delete-puzzle"><i class="material-icons">delete</i></button>
</div>