<script>
var rankingTemplate = `<div class="ranking-table table" style="height: <%=teams.length*75 + 79%>px;">
	    <div class="ranking-row ranking-header table-primary" >
	    	<div class="ranking-pos">#</div>
	    	<div class="ranking-team"><%=i18n.analytics.ranking.team%></div>
	    	<div class="ranking-members"><%=i18n.analytics.ranking.members%></div>
	    	<div class="ranking-res"><%=i18n.analytics.ranking.res%></div>
	    	<div class="ranking-time"><%=i18n.analytics.ranking.time%></div>
	    </div>
    <% var teamsClean = [] %>
    <% for (var t in teams) { 
    	let team = teams[t];
        let {id, name, retos, turno, latestretosuperado: latestRetoSuperado} = JSON.parse(JSON.stringify(team));
    	let count = (retos && retos.length) ? retos.length : 0
    	let {startTime} = turno;
    	let result = count + "/" + escapeRoom.puzzles.length;
    	let myTeam = false;
    	let participants = team.teamMembers.map(member => {
			if (locals.userId && member.id === userId) {
				myTeam = true;
			}
			return member.name + " " + member.surname
		}).join(", ");
        let finishTime = (escapeRoom.puzzles.length === parseInt(count) && startTime) ?  (secondsToDhms((new Date(latestRetoSuperado) - new Date(startTime))/1000)) : "---";
    	let currentTeam = {
    		id,
    		name,
            retos,
    		result,
    		participants,
    		latestRetoSuperado,
    		startTime,
    		finishTime
    	};
    	teamsClean.push(currentTeam);
    	var idx = parseInt(t, 10);
    	var top = (75*(idx+1))

	%>
	    <div class="ranking-row <%=myTeam ? "myTeam":""%>" id="team-<%=currentTeam.id%>" style="top: <%=top%>px">
	    	<div class="ranking-pos"><span><%=idx + 1 %></span></div>
	    	<div class="ranking-team"><b><%=currentTeam.name%></b></div>
	    	<div class="ranking-members"><span><%=currentTeam.participants%></span></div>
	    	<div class="ranking-res"><span><%=currentTeam.result%></span></div>
	    	<div class="ranking-time"><span><%=currentTeam.finishTime%></span></div>
	    </div>
    <% } %>
</div>`;
   var teams = JSON.parse('<%-JSON.stringify(teamsClean)%>');
   $(()=>{
       $('ranking').html(rankingTemplate);
       sort();
   });
</script>
                    