<style>
    .ranking .ranking-table .ranking-row .ranking-team {
        flex: 1;
    }
</style>
<%if(escapeRoom.teamSize == 1){%>

<%}%>
<script>

    const secondsToDhms = function (secs) {
        const seconds = Number(secs);
        const d = Math.floor(seconds / (3600 * 24));
        const h = Math.floor(seconds % (3600 * 24) / 3600);
        const m = Math.floor(seconds % 3600 / 60);
        const s = Math.floor(seconds % 60);

        const dDisplay = d > 0 ? `${d}d` : "";
        const hDisplay = h > 0 ? `${h}h` : "";
        const mDisplay = m > 0 ? `${m}m` : "";
        const sDisplay = s > 0 ? `${s}s` : "";

        return [
            dDisplay,
            hDisplay,
            mDisplay,
            sDisplay
        ].filter((a) => a !== "").join(", ");
    };

    const sort = () => {
        // teams = teams.sort((a,b)=>{
            
        //     if (a.puzzlesSolved.length > b.puzzlesSolved.length) {
        //         return -1;
        //     } else if (a.puzzlesSolved.length < b.puzzlesSolved.length) {
        //         return 1;
        //     }

        //     if (a.latestRetoSuperado && b.latestRetoSuperado) {
        //         const aLatestTime = a.latestRetoSuperado - a.startTime;
        //         const bLatestTime = b.latestRetoSuperado - b.startTime;

        //         if (aLatestTime < bLatestTime) {
        //             return -1;
        //         } else if (aLatestTime > bLatestTime) {
        //             return 1;
        //         }
        //         return -1;
        //     }
        //     if (a.startTime > b.startTime) {
        //         return -1;
        //     }
        //     return 1;
        // });
        var top = 75;
        $.each(teams.map(t=>t.id), function(idx, id) {
            var el = $('.ranking-row#team-' + id);
            $('.ranking-row#team-' + id + " .ranking-pos").html(idx + 1);
            el.animate({
                position: 'absolute',
                top: top + 'px'
            }, {
                duration: 1000
            });
            top += el.outerHeight() ;
        });
    }

    var rankingTemplate = (teams, myTeamId) => {
        let teamViews = "";
        let height = teams.length*75 + 79;
        for (var t in teams) {
            const idx = parseInt(t, 10);
            const top = (75*(idx+1));
            const currentTeam = teams[t];
            let className  = currentTeam.id === myTeamId ? "myTeam":"";
            if (currentTeam.finishTime) {
                className += " won";
            }

            teamViews += `<div class="ranking-row ${className}" id="team-${currentTeam.id}" 
                    style="top: ${top}px">
                <div class="ranking-pos"><span>${idx + 1}</span></div>
                <div class="ranking-team"><b>${currentTeam.name}</b></div>
                <div class="ranking-members"><span>${currentTeam.participants}</span></div>
                <div class="ranking-res"><span>${currentTeam.result}</span></div>
                <div class="ranking-time"><span>${currentTeam.finishTime ? secondsToDhms(currentTeam.finishTime) : "---"}</span></div>
            </div>`;
        }
        if (teams.length === 0) {
            height +=75;
            teamViews += `<div class="ranking-row" style="top: 75px; justify-content: center;">
                <div><span><%=i18n.escapeRoom.play.loading%>...</span></div>
                </div>`
        }
        let view = `<div class="ranking-table table <%if(escapeRoom.teamSize == 1){%> singleTeam<%}%>" style="height: ${height}px;">
            <div class="ranking-row ranking-header table-primary" >
                <div class="ranking-pos">#</div>
                <div class="ranking-team"><%=i18n.analytics.ranking.team%></div>
                <div class="ranking-members"><%=i18n.analytics.ranking.members%></div>
                <div class="ranking-res"><%=i18n.analytics.ranking.res%></div>
                <div class="ranking-time"><%=i18n.analytics.ranking.time%></div>
            </div>
            ${teamViews}
        </div>`;
        return view;
    }

   var teams = JSON.parse("<%-JSON.stringify(teams).replace(/\\/g, "\\\\").replace(/\n/g, "\\n").replace(/\r/g, "\\r").replace(/\t/g, "\\t").replace(/\f/g, "\\f").replace(/"/g,"\\\"").replace(/'/g,"\\\'").replace(/\&/g, "\\&")%>");
   
   $(()=>{
       $('ranking').html(rankingTemplate(teams, teamId));
       sort();
       if ($('#podium').length) {
            $('#podium').html(podium(teams));
            $("#podium .podium").addClass("started");
       }
   });
</script>

                    