<script src="/js/vendor/socket.io.js"></script>
<div class="ranking-table" style="height: <%=teams.length*75 + 79%>px;">
	    <div class="ranking-row ranking-header" >
	    	<div class="ranking-pos">#</div>
	    	<div class="ranking-team"><%=i18n.analytics.ranking.team%></div>
	    	<div class="ranking-members"><%=i18n.analytics.ranking.members%></div>
	    	<div class="ranking-res"><%=i18n.analytics.ranking.res%></div>
	    	<div class="ranking-time"><%=i18n.analytics.ranking.time%></div>
	    </div>
    <% var teamsClean = [] %>
    <% for (var t in teams) { 
    	let team = teams[t];
    	let stringified = JSON.parse(JSON.stringify(team));
    	console.log(team.retos)
    	let count = (stringified.retos && stringified.retos.length) ? stringified.retos[0].countretos : 0
    	let startTime = stringified.turno.startTime;
    	let latestRetoSuperado = stringified.latestretosuperado;
    	let result = count + "/" + escapeRoom.puzzles.length;
    	let myTeam = false;
    	let participants = team.teamMembers.map(member => {
			if (member.id === userId) {
				myTeam = true;
			}
			return member.name + " " + member.surname
		}).join(", ");

    	let currentTeam = {
    		id: team.id,
    		name: team.name,
    		result: result,
    		retos: team.retos,
    		participants: participants,
    		latestRetoSuperado: latestRetoSuperado,
    		finishTime:(escapeRoom.puzzles.length === parseInt(count) && startTime) ?  (secondsToDhms((new Date(latestRetoSuperado) - new Date(startTime))/1000)) : "n/a"
    	};
    	teamsClean.push(currentTeam);
    	var idx = parseInt(t, 10);
    	var top = (75*(idx+1))
	%>
	    <div class="ranking-row <%=myTeam ? "myTeam":""%>" id="team-<%=currentTeam.id%>" style="top: <%=top%>px">
	    	<div class="ranking-pos"><span><%=idx + 1 %></span></div>
	    	<div class="ranking-team"><b><%=currentTeam.name%></b></div>
	    	<div class="ranking-members"><span><%=currentTeam.participants%></span></div>
	    	<div class="ranking-res"><span><%=currentTeam.result%></span></div>
	    	<div class="ranking-time"><span><%=currentTeam.finishTime%></span></div>
	    </div>
    <% } %>
</div>
<script>
	const CONNECT = "connect";
	const DISCONNECT = "disconnect";
	const ERROR = "ERROR";
	const RANKING = "RANKING";
	var teams = JSON.parse('<%-JSON.stringify(teamsClean)%>');
    var escapeRoomId = "<%= escapeRoom.id%>";
    var nPuzzles = "<%= escapeRoom.puzzles.length%>";
	// TODO "room" : ranking?escapeRoom=1
	/*http://jsfiddle.net/hans/6qVf5/3/*/
	const sort = (order_arr) => {
	    var top = 75;
	    $.each(order_arr, function(idx, id) {
	        var el = $('.ranking-row#team-' + id);
	        $('.ranking-row#team-' + id + " .ranking-pos").html(idx + 1);
	        el.animate({
	            position: 'absolute',
	            top: top + 'px'
	        }, {
	        	duration: 1000
	        });
	        top += el.outerHeight() ;
	    });
	}

	const initSocketServer = (escapeRoomId, teamId, turnId) => {
	  socket = io('/', {query: {escapeRoom: escapeRoomId || undefined, team: teamId || undefined, turn: turnId || undefined }});
	  
	  /*Connect*/
	  socket.on(CONNECT, function(){
	  	console.log("Connected to socket server");
	  });

	  /*Error*/
	  socket.on(ERROR, function({msg}){
	    console.error(msg);
	  });

	  socket.on(RANKING, function({teamId, puzzleId, time}){
		const team = teams.find(team => team.id == teamId);
		if (team) {
			const reto = team.retos.find(reto => reto.id === puzzleId)
			if (!reto) {
				team.retos = [...team.retos, {id: puzzleId, createdAt: time}];
				team.result = team.retos.length + "/" + nPuzzles;
				team.latestRetoSuperado = time;
				$('#team-' + teamId +" .ranking-res").html(team.result);
				if (team.retos.length === nPuzzles) {
					team.finishTime = time;
					$('#team-' + teamId +" .ranking-time").html(time);
				}
				teams = teams.sort((a,b)=>{
					if (a.retos.length > b.retos.length) {
						return -1;
					} else if (a.retos.length < b.retos.length) {
						return 1;
					} else {
						if (a.latestRetoSuperado > b.latestRetoSuperado) {
							return 1;
						} else {
							return -1;
						}
					}
				});
				console.log(teams)
				sort(teams.map(team=>team.id));
			}
		}
		
	  });

	};

    initSocketServer(<%= escapeRoom.id%>, <%= teamId || "undefined"%>, <%=turnoId%>)
</script>