<link rel="stylesheet" href="/stylesheets/vendor/owl.carousel.min.css">
<link rel="stylesheet" href="/stylesheets/vendor/owl.theme.default.css">
<%- include ("../partials/_header.ejs") %>
<div role="main" class="main student">
    <div class="dialog" >
        <h1><%=i18n.team.choose%></h1>
        
        <div class="findTeam">
            <input type="text" id="findTeam" placeholder="<%= i18n.team.teamSearch %>"/>
            <br/>
            <div class="no-results" style="display: none;"> 
                <div class="no-results-msg"><%= i18n.team.noResults%></div>
            </div>
        </div>
        <%var nParticipants = 0;%>
        <div>
            <% if (!turno.teams) { %>
                <br/>
                <%=i18n.team.noTeamYet%>
            <% } else { %>
                <div class="owl-carousel">
                    <% for (var i in turno.teams) { %>
                        <% 
                        var team = turno.teams[i];
                        var fullTeam = escapeRoom.teamSize && (team.teamMembers.length >= escapeRoom.teamSize);
                        const now = new Date();
                        //now.setHours(now.getHours() - now.getTimezoneOffset() / 60);
                        var finishedTime = team.startTime ? new Date(team.startTime) : false;
                        if (finishedTime){ finishedTime.setMinutes(team.startTime.getMinutes() + escapeRoom.duration); }
                        var alreadyFinished = finishedTime && (finishedTime < now);

                        var title = "";
                        if (alreadyFinished) {
                            title = i18n.team.alreadyFinished;
                        } else if (fullTeam) {
                            title = i18n.team.fullTeam;
                        }
                        %>
                        <div class="teamCarouselItem <%= (fullTeam || alreadyFinished) ? "disabled":""%> " data-id="<%=team.id%>" title="<%=title%>">
                            <%= team.name %>
                            <%for (var m in team.teamMembers) {%>
                                <%nParticipants++;%>
                            <p><%=team.teamMembers[m].name %> <%=team.teamMembers[m].surname %></p>
                            <%}%>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <br/>
            <%if(turno.capacity){%>
                <%var remaining = turno.capacity - nParticipants%>
                <p class="info centered small "><%=remaining === 1 ? i18n.turno.theres : i18n.turno.thereare%> <%=remaining%> <%=remaining === 1 ? i18n.turno.spot : i18n.turno.spots%> <%=i18n.turno.openSpots%></p>
            <%}%>

            <div>
            <div id="teamCarouselItems-hidden" class="hide"></div>
            <div class="create-new-team gugi"><%= i18n.team.doYouWantToCreate %></div>
            <a class="add-team" href="/ctfs/<%= escapeRoom.id %>/turnos/<%= turno.id %>/teams/new?token=<%=token%>">
                    <span class="material-icons">add_circle_outline</span>
            </a>
                <form method='POST' id="form" action='/ctfs/<%= escapeRoom.id %>/turnos/<%= turno.id %>/teams/xxxx?_method=put&token=<%=token%>'>
                    <div class="join-button-flex-container">
                        <a href="javascript:history.back()">
                            <button class="rounded deleteButton" type="button">
                                <%=i18n.common.back%>
                            </button>
                        </a>
                        <button disabled id="continue" style="display: none;" class="rounded acceptButton" type="submit">
                            <%=i18n.common.continue%>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="/js/vendor/owl.carousel.min.js"></script>

<script>
    $(function(){
        let selectedId = "";
        let repl = false;
        
        var car = $(".owl-carousel").owlCarousel({  
            center: false,
            items: 3,
            loop: false,
            rewind: true,
            margin: 10,
            nav: true,
            dots: true,
            checkVisible: false
        });




        function showNav() {
            const items = $('.owl-carousel .teamCarouselItem').length;

            if (items <= 3) {
                $('.owl-nav').css('visibility', 'hidden');
                if (!items) {
                    $('.no-results').css('display', 'block');
                } else {
                    $('.no-results').css('display', 'none');
                }
            } else {
                $('.owl-nav').css('visibility', 'visible');
                $('.no-results').css('display', 'none');
            }
        }
        function filterTeams(str){
            const regex = new RegExp(str,'im');
            $('#teamCarouselItems-hidden .teamCarouselItem').each(function(i,e){
               const match = $(e).text().match(regex);
               if (match) {
                   $('.owl-carousel').owlCarousel('add', $(this).parent().html()).owlCarousel('update');
                   $(this).parent().remove(); 
               }

            });

            $('.owl-carousel .teamCarouselItem').each(function(i,e){
               const match = $(e).text().match(regex);
               if (!match) {
                    $( $(this).parent() ).clone().appendTo( $('#teamCarouselItems-hidden') );
                    $('.owl-carousel').owlCarousel('remove',  $(this).parent().index()).owlCarousel('update');
               }
               
            });
            if ($('#teamCarouselItems-hidden .selected').length) {
                $('.selected').removeClass('selected');
                $('#continue').prop("disabled", true);
                $('#continue').css("display", "none");
            }
            showNav();
        }

        $('#findTeam').on('keyup', function(){
            filterTeams(this.value)
        });
        $(document).on("click", '.teamCarouselItem', function(e) {
            if (!$(this).hasClass("disabled")){
                var currentClicked = $(this);
                var teamId = currentClicked.data('id');
                $('.selected').removeClass('selected');
                currentClicked.addClass('selected');
                selectedId = teamId;
                $('#continue').prop("disabled", false);
                $('#continue').css("display", "inline-block");           
            }

        });
        $('#form').on('submit', function(e){
            if (!repl) {
                e.preventDefault();
                repl= true;
                let action = document.getElementById('form').getAttribute('action');
                action = action.replace("xxxx", selectedId);
                $('#form').attr('action', action);
                $('#form').submit();
            }
        });
        filterTeams();
    });
</script>
