
<%- include ("../partials/_header.ejs") %>
<div role="main" class="main student">
    <div class="dialog" >
        <h1><%=i18n.team.add%></h1>
        <div class="">
            <div>
                <form method="POST" id="newForm" action="/ctfs/<%= escapeRoom.id %>/turnos/<%= turno.id %>/teams?token=<%=token%>">
                    <div>
                        <input type="text" id="name" class="teamName" required name="name" placeholder="<%=i18n.team.addPlaceHolder%>" autocomplete="off" maxlength="200"/>
                        <p class="centeredSmall"> <%=i18n.team.addMsg%>.</p>
                    </div>
                    <div class="join-button-flex-container">
                        <a  href="javascript:history.back()">
                            <button class="rounded deleteButton" type="button"><%=i18n.common.back%></button>
                        </a>
                        <button class="rounded acceptButton" type="submit"><%=i18n.common.finish%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
