<div class="portada">
    <div class="contenedor" style="display: flex; height: 100%">
        <div class="loginLeft" style="">
            <img alt="Escape room" id="imagenPortada" src="/images/puzzle.png" width="80%"/>
        </div>

        <div class="loginRight" style=" ">
           <% if(locals.register) { %>
                <%- include("users/_form.ejs") %>
           <%  } else if (locals.resetPassword) { %>
                <%- include("users/_resetPassword.ejs") %>
           <%  } else if (locals.resetPasswordHash) { %>
                <%- include("users/_resetPasswordHash.ejs") %>
           <%  } else { %>
                <%- include("users/_login.ejs") %>
           <% } %>
          <ul class="langs">
               <li><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">en</a></li> /
               <li><a class="<%=(lang=="es"?"active":"")%>" href="/?clang=es">es</a></li>
          </ul>
        </div>
    </div>
</div>
<%- include ("partials/_header_logos.ejs") %>
