<% include partials/_header.ejs %>
<div class="main inspiration">
	<h2><%=i18n.inspiration.title%></h2>
    <a downloaod="escapp.pdf" id="downloadGuide" href="https://docs.google.com/document/d/18f6MAExezehz8D1KvapR2R0FTlKFdepfF0PrzAzRlZs/export?format=pdf">
        <button class="rounded deleteButton">
            <i class="material-icons">file_download</i>
            <%=i18n.inspiration.downloadText%>
        </button>
    </a>
	<p class="intro-paragraph"><%-i18n.inspiration.intro%></p>

<!-- 	<div class="banner">
		<a href="#step1"><button class="button" style="background-image:url(/images/inspiration/flag1.svg); color: white">  <%-i18n.inspiration.banner.design%></button></a>
		<a href="#step1"><button class="button" style="background-image:url(/images/inspiration/flag2.svg); padding-left: 15px"><%-i18n.inspiration.banner.approach%></button></a>
		<a href="#step2"> <button class="button" style="background-image:url(/images/inspiration/flag2.svg); padding-left: 15px"><%-i18n.inspiration.banner.objectives%></button></a>
		<a href="#step3"> <button class="button" style="background-image:url(/images/inspiration/flag2.svg)"><%-i18n.inspiration.banner.puzzles%></button></a>
		<a href="#step4"> <button class="button" style="background-image:url(/images/inspiration/flag2.svg)"><%-i18n.inspiration.banner.theme%></button></a>
	</div>
	<div class="banner">
		<a href="#step5"> <button class="button" style="background-image:url(/images/inspiration/flag3.svg); padding-left: 15px; color: white"><%-i18n.inspiration.banner.build%></button></a>
		<a href="#puzzles"> <button class="button" style="background-image:url(/images/inspiration/flag4.svg)"><%-i18n.inspiration.banner.puzzles%></button></a>
		<a href="#hints"> <button class="button" style="background-image:url(/images/inspiration/flag4.svg)"><%-i18n.inspiration.banner.hints%></button></a>
		<a href="#instructions"> <button class="button" style="background-image:url(/images/inspiration/flag4.svg); padding-left: 25px"><%-i18n.inspiration.banner.instructions%></button></a>
	</div>
	<div class="banner">
		<a href="#step6"> <button class="button" style="background-image:url(/images/inspiration/flag5.svg); color: white"><%-i18n.inspiration.banner.try%></button></a>
		<a href="#step6"> <button class="button" style="background-image:url(/images/inspiration/flag6.svg)"><%-i18n.inspiration.banner.puzzleByPuzzle%></button></a>
		<a href="#step6"> <button class="button" style="background-image:url(/images/inspiration/flag6.svg)"><%-i18n.inspiration.banner.simulation%></button></a>
	</div>
	<div class="banner">
		<a href="#step7"> <button class="button" style="background-image:url(/images/inspiration/flag7.svg); color: white"><%-i18n.inspiration.banner.evaluate%></button></a>
		<a href="#step7"> <button class="button" style="background-image:url(/images/inspiration/flag8.svg)"><%-i18n.inspiration.banner.prequiz%></button></a>
		<a href="#step7"> <button class="button" style="background-image:url(/images/inspiration/flag8.svg)"><%-i18n.inspiration.banner.postquiz%></button></a>
		<a href="#step7"> <button class="button" style="background-image:url(/images/inspiration/flag8.svg)"><%-i18n.inspiration.banner.survey%></button></a>
	</div> -->

	<h3 id="step1"><%=i18n.inspiration.steps.first.title%></h3>
	<p><%-i18n.inspiration.steps.first.intro%></p>
	<ul class="specialList">
		<li><%=i18n.inspiration.steps.first.list.first%></li>
		<li><%=i18n.inspiration.steps.first.list.second%></li>
		<li><%=i18n.inspiration.steps.first.list.third%></li>
		<li><%=i18n.inspiration.steps.first.list.fourth%></li>
		<li><%=i18n.inspiration.steps.first.list.fifth%></li>
		<li><%=i18n.inspiration.steps.first.list.sixth%></li>
	</ul>

	<h3 id="step2"><%=i18n.inspiration.steps.second.title%></h3>
	<p><%-i18n.inspiration.steps.second.intro%></p>

	<h3 id="step3"><%=i18n.inspiration.steps.third.title%></h3>
	<p><%-i18n.inspiration.steps.third.intro%></p>
	<p></p>
	<div class="flex-horizontal"/>
	<div class="square">
		<img src="/images/inspiration/code.png"/>
		<span><%=i18n.inspiration.steps.third.list.coded%></span>

	</div>
	<div class="square">
		<img src="/images/inspiration/puzzle2.png"/>
		<span><%=i18n.inspiration.steps.third.list.assembly%></span>

	</div>
	<div class="square">
		<img src="/images/inspiration/message.png"/>
		<span><%=i18n.inspiration.steps.third.list.info%></span>

	</div>
	<div class="square">
		<img src="/images/inspiration/cards.png"/>
		<span><%=i18n.inspiration.steps.third.list.logic%></span>

	</div>
</div>
<p><%=i18n.inspiration.steps.third.middle%></p>
<div class="flex-horizontal"/>
<div class="square">
	<img src="/images/inspiration/loupe.png"/>
	<span><%=i18n.inspiration.steps.third.list.search%></span>
</div>
<div class="square">
	<img src="/images/inspiration/dashboard.png"/>
	<span><%=i18n.inspiration.steps.third.list.unusual%></span>
</div>
<div class="square">
	<img src="/images/inspiration/light.png"/>
	<span><%=i18n.inspiration.steps.third.list.light%></span>
</div>
</div>
<p><a href="/resources" class="resources"><%=i18n.inspiration.steps.third.resources%></a></p>
<h3 id="step4"><%=i18n.inspiration.steps.fourth.title%></h3>
<p><%-i18n.inspiration.steps.fourth.intro%></p>
<ul class="specialList">
	<li><%-i18n.inspiration.steps.fourth.list.first%></li>
	<li><%-i18n.inspiration.steps.fourth.list.second%></li>
	<li><%-i18n.inspiration.steps.fourth.list.third%></li>
	<li><%-i18n.inspiration.steps.fourth.list.fourth%></li>
</ul>
<p><%-i18n.inspiration.steps.fourth.list.booksAndMovies%></p>
<div class="flex-horizontal"/>
<div class="square">
	<img src="/images/inspiration/sciencefiction.png"/>
	<span><%=i18n.inspiration.steps.fourth.list.sciencefiction%></span>
</div>
<div class="square">
	<img src="/images/inspiration/knife.png"/>
	<span><%=i18n.inspiration.steps.fourth.list.thriller%></span>
</div>
<div class="square">
	<img src="/images/inspiration/spy.png"/>
	<span><%=i18n.inspiration.steps.fourth.list.adventure%></span>
</div>
<div class="square">
	<img src="/images/inspiration/history.png"/>
	<span><%=i18n.inspiration.steps.fourth.list.history%></span>
</div>
</div>

<h3 id="step5"><%=i18n.inspiration.steps.fifth.title%></h3>
<p><%-i18n.inspiration.steps.fifth.intro%></p>

<h4 id="puzzles"><%=i18n.inspiration.steps.fifth.puzzles.title%></h4>
<p><%-i18n.inspiration.steps.fifth.puzzles.content%></p>

<h4 id="hints"><%=i18n.inspiration.steps.fifth.hints.title%></h4>
<p><%-i18n.inspiration.steps.fifth.hints.content%></p>

<h4 id="instructions"><%=i18n.inspiration.steps.fifth.instructions.title%> </h4>
<p><%-i18n.inspiration.steps.fifth.instructions.intro%></p>

<h3 id="step6"><%=i18n.inspiration.steps.sixth.title%></h3>
<p><%-i18n.inspiration.steps.sixth.intro%></p>

<h3 id="step7"><%=i18n.inspiration.steps.seventh.title%></h3>
<p><%-i18n.inspiration.steps.seventh.intro%></p>

<br/>
<br/>
</div>
<% include partials/_footer %>