<% include partials/_header.ejs %>
<div class="main resources">
	<h2><%=i18n.resources.title%></h2>
		<table>
		<tbody>
		<tr> </tr><tr> </tr>
		<tr>
		<td><img class="icon" src="/images/inspiration/code.png"/></td>
		<td><h3><%=i18n.resources.coded%></h3></td>
		</tr>
		</tbody>
		</table>
		<div class="flex-screenshots">
			<a href="http://www.theteachersroom.net/secretmessage/secretmessage.html"  target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Mensaje-secreto-simbolos.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.secretCode%></div>
					</div>
				</div>
			</a>
			<a href=" https://snotes.com/snotes/login.php"  target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Snotes-mensajes-ocultos.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.snotes%></div>
					</div>
				</div>
			</a>
			<a href=" http://walla.me" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-AR.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.ar%></div>
					</div>
				</div>
			</a>
			<a href="http://vishub.org/webapps/178.full"  target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Ruleta-colores-y-numeros.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.roulette%></div>
					</div>
				</div>
			</a>
			<a href="https://www.worksheetworks.com/math/geometry/graphing/message-from-points.html" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-coordenadas.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.coordinates%></div>
					</div>
				</div>
			</a>
			<a href="https://www.theproblemsite.com/reference/mathematics/codes/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-codigos.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.codeGen%></div>
					</div>
				</div>
			</a>
			<a href="https://thinfi.com/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-url.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.url%></div>
					</div>
				</div>
			</a>
			<a href="https://www.instructables.com/id/secret-postcard-decoder/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/secret_code.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.postcard%></div>
					</div>
				</div>
			</a>
		</div>

		<table>
		<tbody>
		<tr> </tr><tr> </tr>
		<tr>
		<td><img class="icon" src="/images/inspiration/puzzle2.png"/></td>
		<td><h3> <%=i18n.resources.assembly%></h3></td>
		</tr>
		</tbody>
		</table>
		<div class="flex-screenshots">
			<a href="https://www.jigsawplanet.com/?rc=createpuzzle&lang=es-ES" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-puzzles.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.puzzleGen%></div>
					</div>
				</div>
			</a>
		</div>

		<table>
		<tbody>
		<tr> </tr><tr> </tr>
		<tr>
		<td><img class="icon" src="/images/inspiration/message.png"/></td>
		<td><h3><%=i18n.resources.info%></h3></td>
		</tr>
		</tbody>
		</table>
		<div class="flex-screenshots">
			<a href="https://expressexpense.com/itemize4.php" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Ticket-Falso.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.ticket%></div>
					</div>
				</div>
			</a>
			<a href="https://expressexpense.com/itemize4.php" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/ID-falso.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.id%></div>
					</div>
				</div>
			</a>
			<a href="https://expressexpense.com/itemize4.php" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Whatsapp-falso.png"/>
					<div class="overlay">
						<div class="text"><%=i18n.resources.whatsap%></div>
					</div>
				</div>
			</a>
			<a href=" https://tourbuilder.withgoogle.com/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Tour-virtual-falso.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.vt%></div>
					</div>
				</div>
			</a>
			<a href="http://www.ransomizer.com/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Mensaje-anonimo.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.anonymus%></div>
					</div>
				</div>
			</a>
			
			<a href="https://www.rhymezone.com/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-rimas.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.ryme%></div>
					</div>
				</div>
			</a>
			<a href="https://worksheets.theteacherscorner.net/make-your-own/word-search/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-sopas.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.soup%></div>
					</div>
				</div>
			</a>
			<a href="https://worksheets.theteacherscorner.net/make-your-own/crossword/lang-es/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-crucigramas.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.crossword%></div>
					</div>
				</div>
			</a>
		</div>
		<table>
		<tbody>
		<tr> </tr><tr> </tr>
		<tr>
		<td><img class="icon" src="/images/inspiration/cards.png"/> </td>
		<td><h3> <%=i18n.resources.logic%> </h3></p>
		</td>
		</tr>
		</tbody>
		</table>
		<div class="flex-screenshots">
			<a href="https://worksheets.theteacherscorner.net/make-your-own/crossword/lang-es/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Generador-de-laberintos.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.labyrinth%></div>
					</div>
				</div>
			</a>
			<a href="http://www.disfrutalasmatematicas.com/puzzles/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/Puzzles-matematicos.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.math%></div>
					</div>
				</div>
			</a>
		</div>

		<table>
		<tbody>
		<tr></tr></tr>
		<tr> 
		<td><img class="icon" src="/images/inspiration/loupe.png"/></td>
		<td><h3>Búsqueda de objetos físicos escondidos</h3></td>
		</tr>
		</tbody>
		</table>
		<div class="flex-screenshots">
			<a href="https://www.juegosdeobjetosocultos.com/" target="_blank">
				<div class="container">
					<img class="image" src="/images/inspiration/resources/objetos-ocultos.png">
					<div class="overlay">
						<div class="text"><%=i18n.resources.hidden%></div>
					</div>
				</div>
			</a>
		</div>

	
	
	

</div>
<% include partials/_footer %>
