<% include ../partials/_header.ejs %>
<div class="main escapeRooms">

    <div class="escapeRoomList">
        <% if (escapeRooms==0) { %>
        <h1>
            <% if (user && user.isStudent) { %>
                <%=i18n.escapeRoom.main.noERStudent%>
            <% } else { %>
                <%=i18n.escapeRoom.main.noERTeacher%>
            <% } %>
        </h1>
        <div class="flexBoxEscapeRooms">
            <% if (user && !user.isStudent) { %>
                <a href="/escapeRooms/new" class="escapeRoomItemWrapper animated bounceIn">
                    <div class="escapeRoomItem addEscapeRoom gugi">
                        <span>+</span>
                    </div>
                </a>
            <% } %>
        </div>
        <% } else {  %>
        <h1>
            <% if (user && user.isStudent) { %>
                <%=i18n.escapeRoom.main.yesERStudent%>
            <% } else { %>
                <%=i18n.escapeRoom.main.yesERTeacher%>
            <% } %>
        </h1>

        <div class="flexBoxEscapeRooms">
            <% for (var i in escapeRooms) { %>
                <% var escapeRoom = escapeRooms[i]; %>
                <% var attachment = escapeRoom.attachment; %>
                <% var disabled = (user && user.isStudent && escapeRoom.disabled); %>
                <% var href = "/escapeRooms/" + escapeRoom.id;
                if (user && user.isStudent) {
                    if (escapeRoom.isSignedUp) {
                        href += "/play";
                    } else {
                        if (disabled) {
                            href = "/escapeRooms/";
                        } else {
                            href += "/join";
                        } 
                    }
                }
                 ((user && user.isStudent && !escapeRoom.isSignedUp) ? (disabled ? "":(escapeRoom.id +"/join")) : escapeRoom.id );%>
                <a href="<%=href%>" class="escapeRoomItemWrapper animated bounceIn" style="animation-delay: <%=100*i%>ms;">
                    <div class="escapeRoomItem <%= disabled ?' disabled':'' %>">
                        <div class="erFoto" style="text-align: center">
                            <div class="bckgFoto" style="background-image: url(<% if (attachment) {%><%=attachment.url%><%} else {%>/images/placeholder.jpg<%}%>)"></div>
                            <h2 class="escapeRoomTitle"><%= escapeRoom.title %></h2>
                        </div>
                        <% if (user && user.isStudent) {%>
                            <% if (escapeRoom.isSignedUp){ %>
                            <div class="sign">
                                <span class="material-icons">check</span>
                            </div>
                            <%} else if (!disabled){%>
                            <div class="sign add">
                                <span class="material-icons">add</span>
                            </div>
                            <%}%>
                        <%}%>
                    </div>
                </a>
            <% } %>
            <% if (user && !user.isStudent) { %>
            <a href="/escapeRooms/new" class="escapeRoomItemWrapper animated bounceIn" style="animation-delay: <%=escapeRooms ? (escapeRooms.length * 100 + 100): 0 %>ms;">
                <div class="escapeRoomItem addEscapeRoom gugi" >
                        <span>+</span>
                </div>
            </a>
            <% } %>
        </div>
        <% } %>
    </br>
    <% include ../partials/_footer %>
    </div>
</div>
</div>
