<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        <%=i18n.escapeRoom.invitation.wannaJoin%> "<%= escapeRoom.title %>"?
        </br>
        </br>
        <div class="join-button-flex-container">
            <div class="delete-button-container">
                <form method='GET' id="form" action='/users/<%= session.user.id %>/escapeRooms'>
                    <button class="deleteButton" type="submit" style="display:inline-block;"><%=i18n.escapeRoom.invitation.no%></button>
                </form>
            </div>
            <div class="accept-button-container">
                <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/join'  >
                <button class="acceptButton" type="submit" style="display:inline-block;"><%=i18n.escapeRoom.invitation.yes%></button>
                </form>
            </div>
        </div>
    </div>
</div>

