
<% include ../partials/_header.ejs %>

<div class="main messages">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
            <span class="material-icons">chevron_right</span>
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=i18n.message.title%></span>
        </div>
    </div>
    <h1><%=i18n.message.title%></h1>
        <form id="messages-form" action="/escapeRooms/<%=escapeRoom.id%>/message" method="POST">
            <textarea name="msg" id="msg" rows="5" minlength="1" placeholder="<%=i18n.message.msgPlaceholder%>"></textarea><br>
            <h2>To:</h2>
            <input type="radio" id="everyone" name="to" value="everyone" checked>
            <label for="everyone"><%=i18n.message.everyone%></label><br>
            <input type="radio" id="shift" name="to" value="shift">
            <label for="shift"><%=i18n.message.shift%> &nbsp;&nbsp;
                <select name="turnId" id="shift-id" onclick="$('#shift').prop('checked', true)">
                    <option value=""></option>
                    <% for (let turno of turnos){%>
                        <option value="<%=turno.id%>"><%= turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen%> <% if (turno.place) { %>(<%= turno.place %>)<% } %></option>
                    <%}%>
                </select>
            </label><br>
            <input type="radio" id="team" name="to" value="team">
            <label for="team"><%=i18n.message.team%> &nbsp;&nbsp;
                <select name="teamId" id="team-id" onclick="$('#team').prop('checked', true)">
                    <option value=""></option>
                    <% for (let team of teams){%>
                        <option value="<%=team.id%>"><%=team.name%></option>
                    <%}%>
                </select>
            </label><br>
            <!-- <input type="radio" id="participant" name="to" value="participant">
            <label for="participant"><%=i18n.message.participant%> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="participant" id="participant-id" onclick="$('#participant').prop('checked', true)">
                    <option value=""></option>
                    <% for (let participant of participants){%>
                        <option value="<%=participant.id%>"><%=participant.name%> <%=participant.surname%></option>
                    <%}%>
                </select>
            </label><br> -->
            <br>
            <input type="checkbox" id="waiting" name="waiting" ></input>
            <label for="waiting"><%=i18n.message.waiting%></label>
            <br>
            <div class="align-right">
                <button class="rounded acceptButton"><%=i18n.message.send%></button>
            </div>
        </form>
    <br/>
    <br/>
    <br/>
</div>
<script>
    $('#messages-form').submit(function(){
        const data = Object.fromEntries(new FormData(this).entries());
        if (!data.msg || !data.msg.length) {
            return false;
        }
        fetch("/escapeRooms/<%=escapeRoom.id%>/message", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(res => $.easyAlert({message: "<%=i18n.message.ok%>", alertType: 'info', position: 'b l', time: 3000, autoHide: true}))
        .catch(error => $.easyAlert({message: "<%=i18n.message.nok%>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true}))
        return false;
    })
</script>
<% include ../partials/_footer %>
 