<% include ../partials/_header.ejs %>

<div class="main participants">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.participant.title%></span>
        </div>
    </div>
    <h2><%=i18n.participant.title%></h2>
        <form method="get" class="teamsList" action="/escapeRooms/<%= escapeRoom.id %>/participants">
            <div class="filters">
                <label for="turnId"><%=i18n.turnos.Turno%>
                    <select name="turnId" id="turnId">
                        <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                        <% for (t in escapeRoom.turnos) { %>
                        <% var turno = escapeRoom.turnos[t] %>
                        <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                            <%= getFullDate(turno.date)%>
                        </option>
                        <% } %>
                    </select>
                </label>
                <label for="orderBy"><%=i18n.common.orderBy%>
                    <select name="orderBy" id="orderBy">
                        <option value="" <%= !orderBy ? "selected": ""%>  disabled></option>
                        <option value="name" <%= orderBy === "name" ? "selected": ""%>><%=i18n.user.name%></option>
                        <option value="surname" <%= orderBy === "surname" ? "selected": ""%>><%=i18n.user.surname%></option>
                        <option value="dni" <%= orderBy === "dni" ? "selected": ""%>><%=i18n.user.dni%></option>
                        <option value="username" <%= orderBy === "username" ? "selected": ""%>><%=i18n.user.username%></option>
                    </select></label>
                <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
            </div>
        <div class="flex-table-retos-wrapper">
            <div class="flex-table-retos animated jello">
                <div class="flex-row-retos flex-row-retos-title">
                    <div class="flex-cell flex-name"><%=i18n.user.name%></div>
                    <div class="flex-cell flex-surname"><%=i18n.user.surname%></div>
                    <div class="flex-cell flex-dni"><%=i18n.user.dni%></div>
                    <div class="flex-cell flex-username"><%=i18n.user.username%></div>
                    <div class="flex-cell flex-gender"><%=i18n.user.gender%></div>
                    <div class="flex-cell flex-turno"><%=i18n.user.turno%></div>
                    <div class="flex-cell flex-attendance"><%=i18n.participant.present%></div>
                </div>
                <% for (var p in participants) {
                    var participant = participants[p]; %>
                <div class="flex-row-retos">
                    <div class="flex-cell flex-name"><%= participant.name %></div>
                    <div class="flex-cell flex-surname"><%= participant.surname %></div>
                    <div class="flex-cell flex-dni"><%= participant.dni %></div>
                    <div class="flex-cell flex-username"><%= participant.username %></div>
                    <div class="flex-cell flex-gender"><%= participant.gender %></div>
                    <div class="flex-cell flex-turno"><%= getFullDate(participant.turnDate) %></div>
                    <div class="flex-cell flex-attendance">
                        <input type="checkbox" class="attendance-checkbox"
                               data-id="<%=participant.id%>"
                               data-turnId="<%=participant.turnId%>"
                                <%= participant.attendance ? "checked":"" %> />
                    </div>
                </div>
                <% } %>
                <% if (!participants || participants.length === 0) { %>
                <div class="flex-row-retos">
                    <% if (turnId) {%>
                    <em class="no-participants"><%=i18n.participant.emptyTurno%></em>
                    <% } else { %>
                    <em class="no-participants"><%=i18n.participant.emptyER%></em>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="total-number">
            <b><%=i18n.common.Total%>:</b> <%= participants.length %> <%=i18n.participant.participantS%>
        </div>
        <div class="align-right">
            <button type="submit" id="csv-button" class="participants-button download-button" name="csv" value="csv"><%=i18n.participant.download%></button>
            <button type="button" id="attendance-all-button" class="participants-button attendance-all-button"  ><%=i18n.participant.select%></button>
            <button type="button" id="attendance-button" class="participants-button attendance-button" name="attendance"><%=i18n.participant.confirm%></button>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
</div>
<% include ../partials/_footer %>
<script>

  $(function(){
    $('#attendance-button').on('click', ()=>{
      let att = {yes:[], no:[]};
      $('.attendance-checkbox').each((i,e)=>{
        att[e.checked ? "yes":"no"].push($(e).data('id'));
      });

      fetch("/escapeRooms/<%=escapeRoom.id%>/confirm/", {
        method: 'POST', // or 'PUT'
        body: JSON.stringify({attendance: att}),
        headers:{
          'Content-Type': 'application/json'
        }
      }).then(res => alert("<%=i18n.participant.attendanceSaved%>"))
        .catch(error => alert("<%=i18n.participant.errorSaving%>"))
    });
    var selected = true;
    $('#attendance-all-button').on('click', ()=>{
      $('.attendance-checkbox').prop("checked", selected);
      selected =!selected;
    });
  });
</script>