
<% include ../partials/_header.ejs %>

<div class="main participants">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=i18n.participant.title%></span>
        </div>
    </div>
    <h2><%=i18n.participant.title%></h2>
        <form method="get" class="teamsList" action="/escapeRooms/<%= escapeRoom.id %>/participants">
            <div class="filters">
                <label for="turnId"><%=i18n.turnos.Turno%>
                    <select name="turnId" id="turnId">
                        <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                        <% for (t in escapeRoom.turnos) { %>
                        <% var turno = escapeRoom.turnos[t] %>
                        <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                            <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
                        </option>
                        <% } %>
                    </select>
                </label>
                <label for="orderBy"><%=i18n.common.orderBy%>
                    <select name="orderBy" id="orderBy">
                        <option value="" <%= !orderBy ? "selected": ""%>  disabled></option>
                        <option value="name" <%= orderBy === "name" ? "selected": ""%>><%=i18n.user.name%></option>
                        <option value="surname" <%= orderBy === "surname" ? "selected": ""%>><%=i18n.user.surname%></option>
                        <option value="dni" <%= orderBy === "dni" ? "selected": ""%>><%=i18n.user.dni%></option>
                        <option value="username" <%= orderBy === "username" ? "selected": ""%>><%=i18n.user.username%></option>
                    </select></label>
                <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
                <button type="submit" id="csv-button" class="participants-button download-button" name="csv" value="csv"><%=i18n.participant.download%></button>
            <button type="button" id="attendance-all-button" class="participants-button attendance-all-button"  ><%=i18n.participant.select%></button>
            <button type="button" id="attendance-button" class="participants-button attendance-button" name="attendance"><%=i18n.participant.confirm%></button>
            <a href="teams?turnId=<%=turnId%>"> 
                <button type="button" id="teams-button" class="participants-button " name="see-as-team"><%=i18n.participant.seeByTeam%></button>
            </a>
            </div>
        </form>
        <div class="flex-table-retos-wrapper">
            <div class="flex-table-retos animated jello">
                <div class="flex-row-retos flex-row-retos-title">
                    <div class="flex-cell flex-name"><span><%=i18n.user.name%></span></div>
                    <div class="flex-cell flex-surname"><span><%=i18n.user.surname%></span></div>
                    <div class="flex-cell flex-dni"><span><%=i18n.user.dni%></span></div>
                    <div class="flex-cell flex-username"><span><%=i18n.user.username%></span></div>
                    <div class="flex-cell flex-gender"><span><%=i18n.user.gender%></span></div>
                    <div class="flex-cell flex-turno"><span><%=i18n.user.turno%></span></div>
                    <div class="flex-cell flex-attendance"><%=i18n.participant.present%></div>
                </div>
                <% for (var p in participants) {
                    var participant = participants[p]; %>
                <div class="flex-row-retos">
                    <div class="flex-cell flex-name"><span><%= participant.name %></span></div>
                    <div class="flex-cell flex-surname"><span><%= participant.surname %></span></div>
                    <div class="flex-cell flex-dni"><span><%= participant.dni %></span></div>
                    <div class="flex-cell flex-username"><span><%= participant.username %></span></div>
                    <div class="flex-cell flex-gender"><span><%= participant.gender %></span></div>
                    <div class="flex-cell flex-turno"><span><%= participant.turnDate ? getFullDate(participant.turnDate) : i18n.turnos.alwaysOpen  %></span></div>
                    <div class="flex-cell flex-attendance">
                        <input type="checkbox" class="attendance-checkbox"
                               data-id="<%=participant.id%>"
                               data-turnId="<%=participant.turnoId%>"
                                <%= participant.attendance ? "checked":"" %> />
                    </div>
                    <div class="operations-participant">
                        <form method='POST' action='/escapeRooms/<%= escapeRoom.id %>/turno/<%=participant.turnoId %>/team/<%=participant.teamId %>/user/<%= participant.id %>?_method=DELETE'>
                            <button class="delete-participant"><span class="material-icons"> delete </span></button>
                        </form>
                    </div>
                </div>
                <% } %>
                <% if (!participants || participants.length === 0) { %>
                <div class="flex-row-retos">
                    <% if (turnId) {%>
                    <em class="no-participants"><%=i18n.participant.emptyTurno%></em>
                    <% } else { %>
                    <em class="no-participants"><%=i18n.participant.emptyER%></em>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="total-number">
            <b><%=i18n.common.Total%>:</b> <%= participants.length %> <%=i18n.participant.participantS%>
        </div>
        <div class="align-right">
            
        </div>
    <br/>
    <br/>
    <br/>
</div>
<% include ../partials/_footer %>
<script>

  $(function(){
    $('#attendance-button').on('click', ()=>{
      let att = {yes:[], no:[]};
      $('.attendance-checkbox').each((i,e)=>{
        att[e.checked ? "yes":"no"].push($(e).data('id'));
      });

      fetch("/escapeRooms/<%=escapeRoom.id%>/confirm/", {
        method: 'POST', // or 'PUT'
        body: JSON.stringify({attendance: att}),
        headers:{
          'Content-Type': 'application/json'
        }
      }).then(res => $.easyAlert({message: "<%=i18n.participant.attendanceSaved%>", alertType: 'info', position: 'b l', time: 3000, autoHide: true}))
        .catch(error => $.easyAlert({message: "<%=i18n.participant.errorSaving%>", alertType: 'error', position: 'b l', time: 3000, autoHide: true}))
    });
    var selected = true;
    $('#attendance-all-button').on('click', ()=>{
      $('.attendance-checkbox').prop("checked", selected);
      selected =!selected;
    });
  });
</script>