<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=appearance || escapeRoom.appearance %>.bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
		<link rel="stylesheet" href="/stylesheets/play.css">
	</head>
	<body>
		<div class="previewContainer">
			<div class="container">
				<div class="row row-centered">
					<h1><%=escapeRoom.title%></h1>
					<br/><br/>
					<% if (escapeRoom.video) { %>
						<% if (parseURL(escapeRoom.video)) { %>
							<iframe id="previewVideoContent" width="560" height="315" style="max-width:100%;" src="<%=parseURL(escapeRoom.video)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<% } else { %>
							<video id="previewVideoContent" width="560" height="315" style="max-width:100%;" src="<%= escapeRoom.video %>">"></video>
						<% } %>
					<% } else if (escapeRoom.attachment) { %>
						<div class="previewImage">
							<% var attachment = escapeRoom.attachment; %>
							<% include ../attachments/_show %>
						</div>
					<% } %>
				</div>
				<br/>
				<div class=" row-centered text-left ql-editor instructionsShow">
					<div class="col-xs-12">
						<%if (escapeRoom.instructions) {%>
							<%-escapeRoom.instructions %>
						<%} else {%>
							<p><%=escapeRoom.description%></p>
						<%}%>
					</div>
				</div>
				<div class="row row-centered">
					<div class="col-xs-12">
                        <% include ../partials/_countdown.ejs %>
						<button type="button" class="btn btn-warning">finish</button>
				</div>
			</div>
			</div>
		</div>
	</body>

</html>