<% include ../partials/_header.ejs %>
<div class="main escapeRoomShow">
    <h1><%=i18n.escapeRoom.steps.edit.title%>:</h1>

    <br class="escapeRoomItem">
    <div class="menuERShow">
    <div class="attachmentShow" >
        <% var attachment = escapeRoom.attachment; %>
        <% include ../attachments/_show %>
    </div>
    <div class="menuERShowRight">
       <ul class="menuERactionList">
           <li><a href="#basic"><%=i18n.showTeacher.actionList.basic%></a></li>
           <li><a href="#turnos"><%=i18n.showTeacher.actionList.turnos%></a></li>
           <li><a href="#join"><%=i18n.showTeacher.actionList.join%></a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/participants"><%=i18n.showTeacher.actionList.participants%> <span class="material-icons">keyboard_arrow_right</span></a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/teams"><%=i18n.showTeacher.actionList.teams%> <span class="material-icons">keyboard_arrow_right</span> </a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/analytics"><%=i18n.showTeacher.actionList.analytics%> <span class="material-icons">keyboard_arrow_right</span> </a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/activarTurno"><button class="showMenuButton acceptButton"><%=i18n.showTeacher.actionList.activateTurno%></button></a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/edit"><button class="showMenuButton editButton"><%=i18n.showTeacher.actionList.edit%></button></a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>/clone?_method=PUT"><button class="showMenuButton cloneButton" ><%=i18n.showTeacher.actionList.clone%></button></a></li>
           <li><a href="/escapeRooms/<%= escapeRoom.id %>?_method=DELETE" onClick="return confirm('Delete: <%= escapeRoom.title %>');"><button class="showMenuButton deleteButton"><%=i18n.showTeacher.actionList.delete%></button></a></li>
           <li><a href="/users/<%= session.user.id %>/escapeRooms"><button class="showMenuButton"><%=i18n.showTeacher.actionList.volver%></button></a></li>
       </ul>

    </div>
    </div>
    <br/>
    <br/>
    <div class="flexShow">
        <div class="flexRow animated slideInUp" id="basic">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.title%>:
            </div>
            <div class="flexShowRight">
                <%= escapeRoom.title %>
            </div>
        </div>
        <div class="flexRow animated slideInUp">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.subject%>:
            </div>
            <div class="flexShowRight">
                <%= escapeRoom.subject %>
            </div>
        </div>
        <div class="flexRow animated slideInUp">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.duration%>:
            </div>
            <div class="flexShowRight">
                <%= escapeRoom.duration %>
            </div>
        </div>
        <div class="flexRow animated slideInUp">
             <div class="flexShowLeft">
                 <%=i18n.showTeacher.titles.description%>:
             </div>
             <div class="flexShowRight">
                 <%= escapeRoom.description %>
             </div>
        </div>
        <div class="flexRow animated slideInUp">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.nmax%>:
            </div>
            <div class="flexShowRight">
                <%= escapeRoom.nmax %>
            </div>
        </div>
        <div class="flexRow animated slideInUp">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.teamSize%>:
            </div>
            <div class="flexShowRight">
                <%= escapeRoom.teamSize %>
            </div>
        </div>
        <div class="flexRow animated slideInUp" id="join">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.invitation%>:
            </div>
            <div class="flexShowRight">
                <% var invitationLink = hostName + "/escapeRooms/" + escapeRoom.id +"/join?token=" + escapeRoom.invitation; %>

                <a class="show_link" href="<%= invitationLink %>"><%= invitationLink %></a>

                <input id="joinUrl" value="<%= invitationLink %>" aria-label="<%=i18n.showTeacher.messages.copyAria%>"/>
                <button class="copy" id="copyButton">
                    <span class="material-icons">file_copy</span></button>
                 <a class="show_link" target="_blank" href="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=/<%= invitationLink %>"> 
                    <button class="qr" id="qrButton">
                     <span class="material-icons">camera_enhance</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="flexRow animated slideInUp" id="turnos">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.turnos%>:
            </div>
            <div class="flexShowRight">
                <% var turnos = escapeRoom.turnos; %>
                <%  include ../turnos/_indexShow  %>
            </div>
        </div>
        <div class="flexRow animated slideInUp smallHidden" id="retos">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.puzzles%>:
                <% const someAutomatic = escapeRoom.puzzles && escapeRoom.puzzles.length > 0 && escapeRoom.puzzles.some(p=>p.automatic); %>
                <%if (someAutomatic) {%>
                    <br/><button class="copy" id="api-button"><span class="material-icons">info</span></button>
                <%}%>
            </div>
            <div class="flexShowRight previewPuzzles">
                <%if (escapeRoom.puzzles && escapeRoom.puzzles.length > 0) {%>
                <div class="flex-table-retos-wrapper">
                    <div class="flex-table-retos animated jello">
                        <div class="flex-row-retos flex-row-retos-title">
                            <div class="flex-cell flex-cell-retos">
                                <%=i18n.escapeRoom.steps.puzzles.puzzleTitle%>:
                            </div>
                            <div class="flex-cell flex-cell-sol">
                                <%=i18n.escapeRoom.steps.puzzles.solution%>:
                            </div>
                            <div class="flex-cell flex-cell-desc">
                                <%=i18n.escapeRoom.steps.puzzles.description%>:
                            </div>
                            <div class="flex-cell flex-cell-pista">
                                <%=i18n.escapeRoom.steps.puzzles.hints%>:
                            </div>
                        </div>
                        <% for(var reto in escapeRoom.puzzles) { %>
                        <% var puzzle = escapeRoom.puzzles[reto] %>

                        <div class="flex-row-retos">
                            <div class="flex-cell flex-cell-retos">
                                <div class="retoTextArea editable" data-reto="<%=puzzle.id%>" data-id="title"><%= puzzle.title%></div>
                            </div>
                            <div class="flex-cell flex-cell-sol">
                                <div class="retoTextArea editable" data-reto="<%=puzzle.id%>" data-id="sol"><%= puzzle.sol%></div>
                            </div>
                            <div class="flex-cell flex-cell-desc">
                                <div class="retoTextArea editable" data-reto="<%=puzzle.id%>" data-id="desc"><%= puzzle.desc%></div>
                            </div>
                            <div class="flex-cell flex-cell-pista">
                                <div class="retoTextArea hints-cell hints-cell-preview" data-reto="<%=puzzle.id%>" data-id="hint">
                                    <ul class=" ">
                                        <%if (puzzle.hints && puzzle.hints.length > 0) {%>
                                        <% for (var p in puzzle.hints) { %>
                                        <% var hint = puzzle.hints[p] %>
                                        <li class="hint-text-preview">
                                             <%= hint.content %>
                                        </li>
                                        <% } %>
                                        <% } else {%>
                                        <span class="no-pistas-preview">
                                            <%=i18n.escapeRoom.steps.puzzles.noCluesYet%>:
                                        </span>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <%} else {%>
                    <%=i18n.escapeRoom.steps.puzzles.noPuzzlesYet%>:
                <%}%>
            </div>
        </div>
        <div class="flexRow animated slideInUp" id="pistas">
            <div class="flexShowLeft">
                <%=i18n.showTeacher.titles.hints%>:
            </div>
            <div class="flexShowRight">
                <% if (escapeRoom.hintApp) { %>

                   <a class="show_link"  download="quiz" href="/escapeRooms/<%= escapeRoom.id%>/xml"><%=escapeRoom.hintApp.filename%></a>
                   <button class="copy" onclick="previewHintApp()"><span class="material-icons">remove_red_eye</span></button> 
                <% } else { %>
                   <%=i18n.showTeacher.messages.noHintControl%>
                <% } %>
            </div>
        </div>
    </div>
</div>
<br/>

<br/>

<div style="height: 100px"></div>



<script src="/js/vendor/jquery-ui.min.js"></script>
<script type="text/javascript">

  $( function() {
    $('#copyButton').on('click', function() {
      var copyText = $("#joinUrl");
      copyText.select();
      document.execCommand("copy");
    });

    $("#dialog-preview-api").dialog({
      autoOpen: false,
      resizable: false,
      width: screen.width > 800 ? 860 : screen.width*0.9,
      height: "auto",
      show: {
        effect: "blind",
        duration: 100
      },
      hide: {
        effect: "explode",
        duration: 400
      },
      appendTo: '.main'
    });

    $( "#api-button" ).on( "click", function() {
      $( "#dialog-preview-api" ).dialog( "open" );
    }); 
  });


</script>


<% if (someAutomatic) { %>
<div id="dialog-preview-api" title="API">
    <table class="api-table">
        <tr>
            <th><%=i18n.escapeRoom.api.id%></th>
            <th><%=i18n.escapeRoom.api.name%></th>
            <th><%=i18n.escapeRoom.api.endpoint%></th>
            <th><%=i18n.escapeRoom.api.solution%></th>
        </tr>
    <% for (var p in escapeRoom.puzzles) { let puzzle = escapeRoom.puzzles[p]; %>
        <tr>
            <td><%= puzzle.id %></td>
            <td><%= puzzle.title %></td>
            <td> <code><%=hostName%>/api/escapeRooms/<%=escapeRoom.id%>/puzzles/<%=puzzle.id%>/check </code></td>
            <td><%= puzzle.sol %></td>
        </tr>
    <% } %>
    </table>

    <h4><%=i18n.escapeRoom.api.sample%></h4>
    <pre id="sample-fetch">
fetch("<%=hostName%>/api/escapeRooms/<%=escapeRoom.id%>/puzzles/<%=puzzle.id%>/check", {
    "method": "POST",
    "body": JSON.stringify({token: "<%= email %>", solution: "<%=puzzle.sol%>"}),
    "headers": {
        "Content-type": "application/json"<% if (i18n.lang === "es"){%>,
        "Accept-Language": "es-ES"<%}%>
    }
})
.then(res => res.json())
.then(res => console.log(res));
    </pre>

</div>
<% } %>

<% include ../partials/_footer %>
<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
    const previewHintApp = () => {
            var newwindow = window.open('/escapeRooms/'+escapeRoomId+'/hintAppWrapper','',
                'width='+screen.width*0.7+',height='+screen.height*0.7);
        };
</script>
