<% const turno = participant.teamsAgregados[0].turno%>
<% include ../partials/_header.ejs %>

<div class="main showStudent">
	<div class="flex ">
		<div class="flex-thumb attachmentShow">
			<% var attachment = escapeRoom.attachment; %>
			<% include ../attachments/_show %>
		</div>
		<div class="flex-er-info">
			<h2 class="animated slideInUp">
				<%=escapeRoom.title%>
			</h2>
			<h3 class="animated slideInUp">
				<b>Turno:</b> <%= turno.date ? getFullDate(turno.date) : "Siempre abierto"%>
			</h3>
			<h4 class="animated slideInUp">
				<b>Equipo:</b> <%=participant.teamsAgregados[0].name%>
			</h4>
			<h5 class="animated slideInUp">
				<%=participant.teamsAgregados[0].teamMembers.map(m=>m.name + " " + m.surname).join(", ")%>
			</h5>
		</div>
	</div>
	<h3 class="animated slideInUp">Indicaciones</h3>
	<p class="desc animated slideInUp">
		<%= turno.indications || i18n.turnos.noIndications %>
	</p>
	<h3 class="animated slideInUp"><%=i18n.turnos.Description%></h3>
	<p class="desc animated slideInUp"><%=escapeRoom.description%></p>

	<div class="status">

		<% 
		
		if (turno.status === "pending") { 
			let date = new Date(turno.date);
			let now = new Date();%>
			<script>
			</script><%
			const lessThanHalfAnHour = ((date - now) / 1000 / 60) < 30;
			if (lessThanHalfAnHour) {%>
				<% if (escapeRoom.pretest) { %>
					<!--<div class="desc centered animated slideInLeft">
						<%=i18n.showStudent.beforeStart%>
						<br/><br/>
						<a target="_blank" href="<%=escapeRoom.pretest%>">
							<button class="rounded"><%=i18n.showStudent.access%></button>
						</a>
					</div>-->
				<% } %>
				
			<% } %>
		<% } else if(turno.status === "active") { %>
			<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/play">
				<button class="rounded editButton pulseButton"><%=i18n.showStudent.play%>%></button>
			</form>
		<% } else {%>
			<% if (escapeRoom.posttest) { %>
				<!--<div class="desc centered animated slideInLeft">
					<%=i18n.showStudent.beforeLeave%>
					 <br/><br/>
					<a target="_blank" href="<%=escapeRoom.posttest%>">
						<button class="rounded"><%=i18n.showStudent.access%></button>
					</a> 
				</div>
				<br/><br/><br/>-->
			<% } %>
			<% if (escapeRoom.survey) { %>
				<!--<div class="desc centered animated slideInRight">
					<%=i18n.showStudent.opinion%> <br/><br/>
					<a  target="_blank" href="<%=escapeRoom.survey%>">
						<button class="rounded"><%=i18n.showStudent.access%></button>
					</a>
				</div>-->
			<% } %>
		<%}%>
	</div>
	<br/><br/><br/><br/>
	<% if(turno.status === "pending"){%>
		<form id="unjoin" method="post" 
		action="/escapeRooms/<%=escapeRoom.id%>/turno/<%=turno.id%>/team/<%=participant.teamsAgregados[0].id%>?_method=delete">
			<input type="submit" class="rounded inverse" onclick="return confirm('<%=i18n.showStudent.sureUnjoin%>');" value="<%=i18n.showStudent.unjoin%>"></input>
		</form>
	<%}%>
	<br/><br/><br/>
</div>

<script>
	var participant = JSON.parse('<%-JSON.stringify(participant)%>')
</script>
<% include ../partials/_footer %>
