<% const team = participant.teamsAgregados[0]%>
<% const turno = team.turno%>
<% include ../partials/_header.ejs %>
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">

<div class="main showStudent">
	<div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=escapeRoom.title%></span>

        </div>
    </div>
	<div class="flex ">
		<div class="flex-thumb attachmentShow">
			<% var attachment = escapeRoom.attachment; %>
			<% include ../attachments/_show %>
		</div>
		<div class="flex-er-info">
			<h2 class="animated slideInUp">
				<%=escapeRoom.title%>
			</h2>
			<h3 class="animated slideInUp">
				<b><%=i18n.turnos.Turno%>:</b> <%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%>
			</h3>
			<% if (turno.place) { %> 
				<h3 class="animated slideInUp">
					<b><%=i18n.turnos.place%>:</b> <%= turno.place %>
				</h3>
			<% } %>
			<% if (escapeRoom.teamSize > 1) { %>
				<h4 class="animated slideInUp">
					<b><%=i18n.team.Team%>:</b> <%=team.name%>
				</h4>
			
				<h5 class="animated slideInUp">
					<%=team.teamMembers.map(m=>m.name + " " + m.surname).join(", ")%>
				</h5>
			<% } %>
		</div>
	</div>
	<h3 class="animated slideInUp"><%=i18n.turnos.Description%></h3>
	<p class="desc animated slideInUp"><%=escapeRoom.description%></p>
	<div class="col-xs-12 indications text-left instructionsShow">
		<div id="editor" class="ql-editor" style="padding: 0px;">
			<% if (escapeRoom["indicationsInstructions"]) {%>
				<%-escapeRoom["indicationsInstructions"] %>
			<% } %>
		</div>
	</div>
	
	<div class="status">

		<% 
		
		if (turno.status === "pending") { 
			let date = new Date(turno.date);
			let now = new Date();%>
			<script>
			</script><%
			const lessThanHalfAnHour = ((date - now) / 1000 / 60) < 30;
			if (lessThanHalfAnHour) {%>
				<% if (escapeRoom.pretest) { %>
					<!--<div class="desc centered animated slideInLeft">
						<%=i18n.showStudent.beforeStart%>
						<br/><br/>
						<a target="_blank" href="<%=escapeRoom.pretest%>">
							<button class="rounded"><%=i18n.showStudent.access%></button>
						</a>
					</div>-->
				<% } %>
				
			<% } %>
		<% } else if(turno.status === "active") { %>
			<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/play" style="display: inline;">
				<button class="rounded acceptButton pulseButton"><%=i18n.showStudent.play%>%></button>
			</form>
		<% } else {%>
			<% if (escapeRoom.posttest) { %>
				<!--<div class="desc centered animated slideInLeft">
					<%=i18n.showStudent.beforeLeave%>
					 <br/><br/>
					<a target="_blank" href="<%=escapeRoom.posttest%>">
						<button class="rounded"><%=i18n.showStudent.access%></button>
					</a> 
				</div>
				<br/><br/><br/>-->
			<% } %>
			<% if (escapeRoom.survey) { %>
				<!--<div class="desc centered animated slideInRight">
					<%=i18n.showStudent.opinion%> <br/><br/>
					<a  target="_blank" href="<%=escapeRoom.survey%>">
						<button class="rounded"><%=i18n.showStudent.access%></button>
					</a>
				</div>-->
			<% } %>
		<%}%>
		<% if (team.startTime) { %>
			<a href="/escapeRooms/<%=escapeRoom.id%>/finish">
				<button class="rounded editButton" type="button"><%=i18n.showStudent.results%></button>
			</a>

		<% } %>
		<% if(turno.status === "pending"){%>
			<div id="unjoin" method="post" style="display: inline-block;">
				<button class="rounded deleteButton" onclick="overlayTrigger('unjoin')">
					<%=i18n.showStudent.unjoin%>
				</button>
				<div class="overlay-trigger" data-id="unjoin">
					<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turno/<%=turno.id%>/team/<%=team.id%>?_method=delete">
						<p><%=i18n.showStudent.sureUnjoin%></p>
						<button class="deleteButton" type="button" onclick="overlayTrigger('unjoin', true)"><%=i18n.common.cancel%></button>
						<button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
					</form>
				</div>
			</div>
			<%}%>
	</div>

	<br/><br/><br/><br/>

	<br/><br/><br/>
</div>

<script>
	var participant = JSON.parse('<%-JSON.stringify(participant)%>')
    const overlayTrigger = (id, close) => {
        $('.overlay-trigger').hide();
        if (!close) {
            $('.overlay-trigger[data-id="' + id + '"]').show();
        }
    };
</script> 
<% include ../partials/_footer %>
