<% const turno = team.turno%>
<% include ../partials/_header.ejs %>
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<script src="/js/vendor/socket.io.js"></script>
<script src="/js/vendor/jquery-ui.min.js"></script>
<div class="main showStudent">
	<div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=escapeRoom.title%></span>

        </div>
	</div>	
	<div class="flex ">
		<div class="flex-thumb attachmentShow animated">
			<% var attachment = escapeRoom.attachment; %>
			<% include ../attachments/_show %>
		</div>
		<div class="flex-er-info animated fadeIn">
			<h1><%=escapeRoom.title%></h1>
			<h2><%=i18n.turnos.Turno%></h2>
			<p><%= turno.date ? getFullDate(turno.date): i18n.turnos.alwaysOpen%></p>
			<% if (turno.place) { %> 
				<h2><%=i18n.turnos.place%></h2>
				<p><%= turno.place %></p>
			<% } %>
			<% if (!escapeRoom.teamSize || (escapeRoom.teamSize > 1)) { %>
				<h2><%=i18n.team.Team%> </h2>
				<h3><%=team.name%></h3>
				<p class="members">
					<%=team.teamMembers.map(m=>m.name + " " + m.surname).join(", ")%>
				</p>
			<% } %>
		</div>
	</div>
	<div class="animated fadeIn">
		<h2><%=i18n.turnos.Description%></h2>
		<p class="desc "><%=escapeRoom.description%></p>
		<div class="col-xs-12 indications text-left instructionsShow ">
			<div id="editor" class="editor" style="padding: 0px;">
				<% if (escapeRoom["indicationsInstructions"]) {%>
					<% var instructions = "";try {instructions = escapeRoom["indicationsInstructions"] || '[{"payload":{"text":""}}]'%>
					<%-JSON.parse(instructions)[0].payload.text %>
					<%}catch(e){}%>
				<% } %>
			</div>
		</div>
	
		<div class="status animated fadeIn">

			<% if (turno.status === "pending") { %>
				<span id ="start">
					<button class="rounded disabled" disabled id ><%=i18n.showStudent.play%>%></button>
				</span>
			<% } else if(turno.status === "active" && !finished && (!team.startTime || (new Date(team.startTime.getTime() + escapeRoom.duration * 60000) > new Date()))) { %>
				<span id ="start">
					<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/play" style="display: inline;">
						<button class="rounded acceptButton pulseButton" onclick="clicked()"><%=team.startTime ? i18n.showStudent.join : i18n.showStudent.play%></button>
					</form>
				</span>
			<%}%>
			<% if (turno.status !== "pending" && team.startTime) { %>
				<a href="/escapeRooms/<%=escapeRoom.id%>/results">
					<button class="rounded editButton" type="button"><%=i18n.showStudent.results%></button>
				</a>

			<% } %>
			<% if(turno.status !== "finished" && !team.startTime){%>
				<div id="unjoin" method="post" style="display: inline-block;">
					<button class="rounded deleteButton" onclick="overlayTrigger('unjoin')">
						<%=i18n.showStudent.unjoin%>
					</button>
					<div class="overlay-trigger" data-id="unjoin">
						<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turno/<%=turno.id%>/team/<%=team.id%>?_method=delete">
							<p><%=i18n.showStudent.sureUnjoin%></p>
							<button class="deleteButton" type="button" onclick="overlayTrigger('unjoin', true)"><%=i18n.common.cancel%></button>
							<button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
						</form>
					</div>
				</div>
				<%}%>
		</div>
	</div>
	<br/><br/><br/><br/>

	<br/><br/><br/>
	<% if (turno.status !== "finished") { %>
	<div id="dialog-start" title="">
		<div>
			<p class="start-er"><%=i18n.showStudent.start%> <br/>
				<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/play" style="display: inline;">
					<button class="rounded acceptButton pulseButton" onclick="clicked()"><%=i18n.showStudent.join%>%></button>
				</form>
			</p>
		</div>
	</div>

	<script>
var CLICKED = false;
var clicked = () => {
	CLICKED = true;
}
var myTeamId;

const overlayTrigger = (id, close) => {
	$('.overlay-trigger').hide();
	if (!close) {
		$('.overlay-trigger[data-id="' + id + '"]').show();
	}
};

$(()=>{
	var participant = JSON.parse('<%-JSON.stringify(participant)%>')
	var socket;
	const escapeRoomId = "<%= escapeRoom.id%>";
	const teamId = <%= team.id || "undefined";%>   
	const userId = <%= session.user.id %>;
	const startTime = <%=Boolean(turno.startTime || team.startTime)%>;
	const dialogOptions = {
		dialogClass: 'no-close',
		autoOpen: false,
		resizable: false,
		width: window.innerWidth > 420 ? 400 : window.innerWidth*0.9,
		height: "auto",
		modal: true,
		show: {effect: "scale", duration: 400},
		hide: {effect: "scale", duration: 400},
		appendTo: '.main'
	};
	$("#dialog-start").dialog(dialogOptions);

	

	const onJoin = (msg, e) => {
		if (!startTime && !CLICKED) {
			$( "#dialog-start" ).dialog( "open" )
			$('#start-er').html(`<form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/play" style="display: inline;">
				<button class="rounded acceptButton pulseButton"  onclick="clicked()" ><%=i18n.showStudent.join%>%></button>
			</form>`);
		}
	};



	const initSocketServer = (escapeRoomId, teamId, turnId, userId) => {
		socket = io('/', {query: {
			escapeRoom: escapeRoomId == "undefined" ? undefined : escapeRoomId, 
			team: teamId == "undefined" ? undefined : teamId, 
			turn: turnId == "undefined" ? undefined : turnId,
			waiting: true  
		}});
		myTeamId = teamId;
		socket.on("START", (msg)=>{onJoin(msg)}); 
		// socket.on("JOIN", onJoin); 
		socket.on("TEAM_STARTED", (msg)=>{onJoin(msg)}); 
	};
	initSocketServer(<%= escapeRoom.id%>, teamId, <%= turno ? turno.id : "undefined" %>, userId);
});
</script> 
<% } %>
</div>

<% include ../partials/_footer %>
