<%- include ("../partials/_header.ejs") %>
<div role="main" class="main participants teams">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
            <span class="material-icons">chevron_right</span>
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=i18n.team.title%></span>
        </div>
    </div>
    <h1><%=i18n.team.title%></h1>
    <div id="teams-msg">
    <button type="button"  class="editButton msg-button" name="msg" onclick="overlayTrigger('message-all')">
        <span class="material-icons">message</span>
    </button>
    <div class="overlay-trigger overlay-menu" data-id="message-all">
        <form method="POST" class="messages-form" action="/escapeRooms/<%=escapeRoom.id%>/message">
            <textarea name="msg" class="team-msg" rows="4" placeholder="<%=i18n.message.msgPlaceholder2%>"></textarea>
            <input type="hidden" name="to" value="team"/>
            <% if (turnId){%>
                <input type="hidden" name="to" value="shift"/>
                <input type="hidden" name="turnId" value="<%=turnId%>"/> 
            <%} else { %>
                <input type="hidden" name="to" value="everyone"/> 
            <%}%>
            <br>
            <div class="subtext">
                <input type="checkbox" id="waiting" name="waiting" ></input>
                <label for="waiting"><%=i18n.message.waiting%></label>
            </div>
            <div class="align-right">
                <button class="deleteButton" type="button" onclick="overlayTrigger('message-all', true)"><%=i18n.common.cancel%></button>
                <button class="acceptButton" type="submit"><%=i18n.message.send%></button>
            </div>
        </form>
    </div>
</div>  
    <form method="get" class="teamsList" action="/escapeRooms/<%= escapeRoom.id %>/teams">
        <div class="filters">
            <label for="turnId"><%=i18n.turno.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turno.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                    <% var turno = escapeRoom.turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                    <%if (turno.place) {%> <%=turno.place %> (<%}%><%= (turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen)%><%if (turno.place) {%>)<%}%>
                    </option>
                    <% } %>
                </select>
            </label>
            <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
            <a href="participants?turnId=<%=turnId%>"> 
                <button type="button" id="teams-button" class="participants-button see-button" name="see-as-participant"><%=i18n.participant.seeByParticipant%></button>
            </a>
        </div>
    </form>

        <div class="flex-table-wrapper">
            <div class="flex-table animated jello">
                <div class="flex-row flex-row-title">
                    <div class="flex-cell flex-name"><%=i18n.team.Team%></div>
                    <div class="flex-cell flex-turno"><%=i18n.turno.Turno%></div>
                    <div class="flex-cell flex-participants"><%=i18n.participant.title%></div>
                    <div class="flex-cell flex-started"><%=i18n.team.hasStarted%></div>
                </div>
                <% for (var p in teams) {
                    var team = teams[p]; %>
                <div class="flex-row">
                    <div class="flex-cell flex-name">
                        <%- include("../partials/_connected",{participant: team})%> <span><%= team.name %></span>
                    </div>
                    <div class="flex-cell flex-turno">
                        <%= team.turno.date ? getFullDate(team.turno.date): i18n.turno.alwaysOpen%>
                    </div>
                    <div class="flex-cell flex-participants">
                        <%=team.teamMembers.map(m=>m.name + " " + m.surname).join(", ") %>
                    </div>
                    <div class="flex-cell flex-started">
                        <span class="material-icons" style="color: var(--<%= team.startTime ? 'brightgreen':'lightred'%>);"><%=team.startTime ? "done" : "clear"  %></span>
                    </div>
                    <div class="operations-team">
                        <button class="actions-team" title="<%=i18n.team.actions%>" onclick="overlayTrigger('menu-<%=team.id%>')">
                            <span class="material-icons">more_vert</span>
                        </button>
                        <div class="overlay-trigger overlay-menu" data-id="menu-<%=team.id%>">
                            <button class="team-button reset-team" title="<%=i18n.team.resetProgress%>" onclick="overlayTrigger('reset-<%=team.id%>')">
                                <span class="material-icons">settings_backup_restore </span>
                            </button>
                            <div class="overlay-trigger" data-id="reset-<%=team.id%>">
                                <form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turnos/<%=team.turno.id%>/teams/<%=team.id%>/reset?_method=PUT">
                                    <p><%=i18n.team.areYouSureReset%></p>
                                    <button class="deleteButton" type="button" onclick="overlayTrigger('reset-<%=team.id%>', true)"><%=i18n.common.cancel%></button>
                                    <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
                                </form>
                            </div>
                            <button class="team-button delete-team" title="<%=i18n.team.delete%>" onclick="overlayTrigger('delete-<%=team.id%>')">
                                <span class="material-icons">delete </span>
                            </button>
                            <div class="overlay-trigger" data-id="delete-<%=team.id%>">
                                <form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turnos/<%=team.turno.id%>/teams/<%=team.id%>?_method=DELETE">
                                    <p><%=i18n.team.areYouSureDelete%></p>
                                    <button class="deleteButton" type="button" onclick="overlayTrigger('delete-<%=team.id%>', true)"><%=i18n.common.cancel%></button>
                                    <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
                                </form>
                            </div>
                            <a href="mailto:<%=team.teamMembers.map(m=>m.username).join(';') %>">
                                <button class="team-button email-team" title="<%=i18n.team.email%>">
                                    <span class="material-icons">email</span>
                                </button>
                            </a>
                            <button class="team-button msg-team" title="<%=i18n.team.message%>" onclick="overlayTrigger('message-<%=team.id%>')">
                                <span class="material-icons">message </span>
                            </button>
                            <div class="overlay-trigger" data-id="message-<%=team.id%>">
                                <form method="POST"  class="messages-form" action="/escapeRooms/<%=escapeRoom.id%>/message">
                                    <textarea name="msg" class="team-msg" rows="4" placeholder="<%=i18n.message.msgPlaceholder%>"></textarea>
                                    <input type="hidden" name="to" value="team"/>
                                    <input type="hidden" name="teamId" value="<%=team.id%>"/> <br>
                                    <div class="subtext">
                                        <input type="checkbox" id="waiting-<%=team.id%>" name="waiting" ></input>
                                        <label for="waiting-<%=team.id%>"><%=i18n.message.waiting%></label>
                                    </div>
                                    <button class="deleteButton" type="button" onclick="overlayTrigger('message-<%=team.id%>', true)"><%=i18n.common.cancel%></button>
                                    <button class="acceptButton" type="submit"><%=i18n.message.send%></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% if (!teams || teams.length === 0) { %>
                <div class="flex-row">
                    <% if (turnId) {%>
                        <em class="no-teams"><%=i18n.team.emptyTurno%></em>
                    <% } else { %>
                        <em class="no-teams"><%=i18n.team.emptyER%></em>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="total-number">
            <b><%=i18n.common.Total%>:</b> <%= teams.length %> <%=i18n.team.teamS%>
        </div>
        <br/><br/><br/>
</div>

<script>
    const overlayTrigger = (id, close) => {
        if ($('.overlay-trigger[data-id="' + id + '"]').hasClass("overlay-menu")) {
            $('.overlay-trigger').hide();
        } else {
            $('.overlay-trigger:not(.overlay-menu)').hide();
        }
        if (!close) {
            $('.overlay-trigger[data-id="' + id + '"]').show();
        }
    };

    $(function(){
        $('.overlay-trigger, .actions-team, #teams-msg').click(function(e){
            e.stopPropagation();
        });
        $('.main').click(function(e){
            $('.overlay-trigger').hide();
        });
        $('.messages-form').submit(function(){
            const data = Object.fromEntries(new FormData(this).entries());
            if (!data.msg || !data.msg.length) {
                return false;
            }
            fetch("/escapeRooms/<%=escapeRoom.id%>/message", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(res => {
                $.easyAlert({message: "<%=i18n.message.ok%>", alertType: 'info', position: 'b l', time: 3000, autoHide: true});
                $(this).find('textarea').val("");
                $('.overlay-trigger').hide();
            })
            .catch(error => $.easyAlert({message: "<%=i18n.common.cancel%>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true}))
            return false;
        })
    });
</script> 
<%- include ("../partials/_footer") %>
