<% include ../partials/_header.ejs %>
<div class="main participants teams">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
            <span class="material-icons">chevron_right</span>
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=i18n.team.title%></span>
        </div>
    </div>
    <h1><%=i18n.team.title%></h1>
    <form method="get" class="teamsList" action="/escapeRooms/<%= escapeRoom.id %>/teams">
        <div class="filters">
            <label for="turnId"><%=i18n.turno.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turno.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                    <% var turno = escapeRoom.turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= turno.date ? getFullDate(turno.date): i18n.turno.alwaysOpen%>
                    </option>
                    <% } %>
                </select>
            </label>
            <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
            <a href="participants?turnId=<%=turnId%>"> 
                <button type="button" id="teams-button" class="participants-button see-button" name="see-as-participant"><%=i18n.participant.seeByParticipant%></button>
            </a>
        </div>
    </form>

        <div class="flex-table-wrapper">
            <div class="flex-table animated jello">
                <div class="flex-row flex-row-title">
                    <div class="flex-cell flex-name"><%=i18n.team.Team%></div>
                    <div class="flex-cell flex-turno"><%=i18n.turno.Turno%></div>
                    <div class="flex-cell flex-participants"><%=i18n.participant.title%></div>
                    <div class="flex-cell flex-started"><%=i18n.team.hasStarted%></div>
                </div>
                <% for (var p in teams) {
                    var team = teams[p]; %>
                <div class="flex-row">
                    <div class="flex-cell flex-name">
                        <span><%= team.name %></span>
                    </div>
                    <div class="flex-cell flex-turno">
                        <%= team.turno.date ? getFullDate(team.turno.date): i18n.turno.alwaysOpen%>
                    </div>
                    <div class="flex-cell flex-participants">
                        <%=team.teamMembers.map(m=>m.name + " " + m.surname).join(", ") %>
                    </div>
                    <div class="flex-cell flex-started">
                        <span class="material-icons" style="color: var(--<%= team.startTime ? 'brightgreen':'lightred'%>);"><%=team.startTime ? "done" : "clear"  %></span>
                    </div>
                    <div class="operations-team">
                        <button class="reset-team" title="<%=i18n.team.resetProgress%>" onclick="overlayTrigger('reset-<%=team.id%>')">
                            <span class="material-icons">settings_backup_restore </span>
                        </button>
                        <div class="overlay-trigger" data-id="reset-<%=team.id%>">
                            <form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turnos/<%=team.turno.id%>/teams/<%=team.id%>/reset?_method=PUT">
                                <p><%=i18n.team.areYouSureReset%></p>
                                <button class="deleteButton" type="button" onclick="overlayTrigger('reset-<%=team.id%>', true)"><%=i18n.common.cancel%></button>
                                <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
                            </form>
                        </div>
                    </div>
                    <div class="operations-team operations-team-bis">
                        <button class="reset-team" title="<%=i18n.team.delete%>" onclick="overlayTrigger('delete-<%=team.id%>')">
                            <span class="material-icons">delete </span>
                        </button>
                        <div class="overlay-trigger" data-id="delete-<%=team.id%>">
                            <form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/turnos/<%=team.turno.id%>/teams/<%=team.id%>?_method=DELETE">
                                <p><%=i18n.team.areYouSureDelete%></p>
                                <button class="deleteButton" type="button" onclick="overlayTrigger('delete-<%=team.id%>', true)"><%=i18n.common.cancel%></button>
                                <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
                            </form>
                        </div>
                        <a href="mailto:<%=team.teamMembers.map(m=>m.username).join(';') %>">
                            <button class="reset-team" title="<%=i18n.team.email%>">
                                <span class="material-icons">email</span>
                            </button>
                        </a>
                    </div>
                </div>
                <% } %>
                <% if (!teams || teams.length === 0) { %>
                <div class="flex-row">
                    <% if (turnId) {%>
                        <em class="no-teams"><%=i18n.team.emptyTurno%></em>
                    <% } else { %>
                        <em class="no-teams"><%=i18n.team.emptyER%></em>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="total-number">
            <b><%=i18n.common.Total%>:</b> <%= teams.length %> <%=i18n.team.teamS%>
        </div>
        <br/><br/><br/>
</div>

<script>
    const overlayTrigger = (id, close) => {
        $('.overlay-trigger').hide();
        if (!close) {
            $('.overlay-trigger[data-id="' + id + '"]').show();
        }
    };
</script> 
<% include ../partials/_footer %>
