<% include ../partials/_header.ejs %>

<div class="main teams">
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
            <a href="/escapeRooms/<%=escapeRoom.id%>"><%=escapeRoom.title%></a>
            <i class="material-icons">chevron_right</i>
            <span><%=i18n.team.title%></span>
        </div>
    </div>
    <h2><%=i18n.team.title%></h2>
    <form method="get" class="teamsList" action="/escapeRooms/<%= escapeRoom.id %>/teams">
        <div class="filters">
            <label for="turnId"><%=i18n.turnos.Turno%>
                <select name="turnId" id="turnId">
                    <option value="" <%= !turnId ? "selected": ""%> ><%=i18n.turnos.all%></option>
                    <% for (t in escapeRoom.turnos) { %>
                    <% var turno = escapeRoom.turnos[t] %>
                    <option value="<%=turno.id%>" <%= turnId == turno.id ? "selected" : "" %> >
                        <%= getFullDate(turno.date)%>
                    </option>
                    <% } %>
                </select>
            </label>
            <button type="submit" class="filter-button white" ><%=i18n.common.filter%></button>
            <a href="participants?turnId=<%=turnId%>"> 
                <button type="button" id="teams-button" class="participants-button " name="see-as-participant"><%=i18n.participant.seeByParticipant%></button>
            </a>
        </div>
        <div class="flex-table-retos-wrapper">
            <div class="flex-table-retos animated jello">
                <div class="flex-row-retos flex-row-retos-title">
                    <div class="flex-cell flex-name"><%=i18n.team.Team%></div>
                    <div class="flex-cell flex-turno"><%=i18n.turnos.Turno%></div>
                    <div class="flex-cell flex-participants"><%=i18n.participant.title%></div>
                </div>
                <% for (var p in teams) {
                    var team = teams[p]; %>
                <div class="flex-row-retos">
                    <div class="flex-cell flex-name"><%= team.name %></div>
                    <div class="flex-cell flex-turno"><%= getFullDate(team.turno.date) %></div>
                    <div class="flex-cell flex-participants"><%=team.teamMembers.map(m=>m.name + " " + m.surname).join(", ") %></div>
                </div>
                <%console.log(team)%>
                <% } %>
                <% if (!teams || teams.length === 0) { %>
                <div class="flex-row-retos">
                    <% if (turnId) {%>
                        <em class="no-teams"><%=i18n.team.emptyTurno%></em>
                    <% } else { %>
                        <em class="no-teams"><%=i18n.team.emptyER%></em>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="total-number">
            <b><%=i18n.common.Total%>:</b> <%= teams.length %> <%=i18n.team.teamS%>
        </div>
    </form>
</div>
<% include ../partials/_footer %>
