
<link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<!-- Theme included stylesheets -->
<% include ../../partials/_header.ejs %>
<div role="main" class="main steps step-assets step-instructions">

    <h1><%=i18n.escapeRoom.steps.assets.title%></h1>
    <p class="intro-paragraph">
        <%=i18n.escapeRoom.steps.assets.explanation%>
    </p>

    <form method='POST' id="assetsForm" action='/escapeRooms/<%= escapeRoom.id %>/uploadAssets' class="dropzone animated zoomIn" style="border:none;margin:0;" >
        <input type="file" name="file" style="display:none;"/>
    </form>
    <br/>

    <button disabled class="rounded editButton" id="selectFile" onclick="returnFileUrl()">Select File</button>

    <br/>
    <br/>
    <br/>
</div>

<%- include('../../partials/_footer', {ignoreExtras: true}) %>
<script src="/js/vendor/dropzone.js"></script>
<script>
    var assets = <%- JSON.stringify(assets) %>;
    var escapeRoomId = <%=escapeRoom.id%>;
    var i18nMsg = <%- JSON.stringify(i18n.escapeRoom.steps.assets)%>
</script>
<script src="/js/assets.js"></script>
<script>
    // Helper function to get parameters from the query string.
    function getUrlParam( paramName ) {
        var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' );
        var match = window.location.search.match( reParam );

        return ( match && match.length > 1 ) ? match[1] : null;
    }
    // Simulate user action of selecting a file to be returned to CKEditor.
    function returnFileUrl() {

        var funcNum = getUrlParam( 'CKEditorFuncNum' );
        var fileUrl = fileSelected.url
        window.opener.CKEDITOR.tools.callFunction( funcNum, fileUrl );
        window.close();
    }
        /* Click on file from gallery */
    $(document).on('click','.dz-preview *', function(){
        $(".file-selected").removeClass("file-selected");
        let parent = $(this).parent('.dz-preview');
        const idx = $('.dz-preview').index(parent);
        fileSelected = Dropzone.instances[0].files[idx];
        parent.addClass("file-selected");
        $('#selectFile').attr("disabled",false)
    });
</script>

