
<link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<!-- Theme included stylesheets -->
<% include ../../partials/_header.ejs %>
<div class="main steps step-assets">
    <h1><%=i18n.escapeRoom.steps.assets.title%></h1>
    <p class="intro-paragraph">
        <%=i18n.escapeRoom.steps.assets.explanation%>
    </p>

    <form method='POST' id="assetsForm" action='/escapeRooms/<%= escapeRoom.id %>/uploadAssets' class="dropzone animated zoomIn" >
        <input type="file" name="file" style="display:none;"/>
    </form>
    <br/>
    <br/>
    <br/>
    <form method='POST' id="assetsForm" action='/escapeRooms/<%= escapeRoom.id %>/assets' >
        <div class="align-right flex-buttons">
            <input id="assets" name="assets" type="hidden" value=""/>
            <a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit"><%=i18n.common.exit%></button></a>
            <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
            <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
        </div>
        <%- include('../../partials/_progress', {progress}) %>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<% include ../../partials/_footer %>
<script src="/js/vendor/dropzone.js"></script>
<script>
    var assets = <%- JSON.stringify(assets) %>;
    var escapeRoomId = <%=escapeRoom.id%>;
    var i18nMsg = <%- JSON.stringify(i18n.escapeRoom.steps.assets)%>
</script>
<script src="/js/assets.js"></script>


