<% include ../../partials/_header.ejs %>
<div class="main steps step-evaluation">
	<%- include ../../partials/_breadcrumbStep %>
  <h1><%=i18n.escapeRoom.steps.evaluation.title%></h1> 
  <p class="intro-paragraph">
	<%=i18n.escapeRoom.steps.evaluation.gradingIntro%> 
  </p> 
  <form method='POST' class="basicConfig" action='/escapeRooms/<%= escapeRoom.id %>/evaluation'  >
		<!--
		<p class="intro-paragraph"><%=i18n.escapeRoom.steps.evaluation.youCanUse%> <a target="_blank" href="https://docs.google.com/forms/u/0/">Google Forms</a> o <a target="_blank" href="https://www.typeform.com/es/">TypeForm</a> <%=i18n.escapeRoom.steps.evaluation.forSurveys%></p>
		<div class="inputFormField erFormField animated slideInUp"> 
			<label for="tit"  class="itemNarrow">1. <%=i18n.escapeRoom.steps.evaluation.pretestField%>:</label>
			<input autofocus type="text" class="customInput itemWide" id="pretest" name="pretest" value="<%= escapeRoom.pretest %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.pretestPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp" style="animation-delay:200ms;">
			<label for="subj"  class="itemNarrow">2. <%=i18n.escapeRoom.steps.evaluation.posttestField%>:</label>
			<input type="text" class="customInput itemWide" id="posttest" name="posttest" value="<%= escapeRoom.posttest %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.posttestPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp" style="animation-delay:400ms;">
			<label for="subj"  class="itemNarrow">3. <%=i18n.escapeRoom.steps.evaluation.surveyField%>:</label>
			<input type="text" class="customInput itemWide" id="survey" name="survey" value="<%= escapeRoom.survey %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.surveyPlaceHolder%>" autocomplete="off"/>
		</div> -->

		<div class="inputFormField erFormField disallow animated slideInUp" style="animation-delay:0ms;">
			<label for="score-participation" class="itemNarrow">
				1. <%=i18n.escapeRoom.steps.evaluation.justParticipating%>
			</label>
			<input autofocus type="number" min="0" max="100" placeholder="0" value="<%=escapeRoom.scoreParticipation || 0%>" name="scoreParticipation" class="customInput scoreInput itemWide"  id="score-participation"/>
		</div>
		<div class="inputFormField erFormField disallow animated slideInUp" style="animation-delay:200ms;">
			<label for="automaticAttendance"  class="itemNarrow">3. <%=i18n.escapeRoom.steps.evaluation.automaticAttendance%>:</label>
			<select class="customInput itemWide" id="automaticAttendance" name="automaticAttendance" >
				<option value="none" <%= (!escapeRoom.automaticAttendance || escapeRoom.automaticAttendance === "none") ? "selected" : "" %> ><%=i18n.escapeRoom.steps.evaluation.automaticAttendanceNone%></option> 
				<option value="participant" <%= escapeRoom.automaticAttendance === "participant" ? "selected" : "" %>><%=i18n.escapeRoom.steps.evaluation.automaticAttendanceParticipant%></option> 
				<option value="team" <%= escapeRoom.automaticAttendance === "team" ? "selected" : "" %>><%=i18n.escapeRoom.steps.evaluation.automaticAttendanceTeam%></option> 
			</select>
			</div>
	  	<div class=" erFormField disallow animated slideInUp" style="animation-delay:400ms;">
		  	<label for="tit"  class="itemNarrow">
			  2. <%=i18n.escapeRoom.steps.evaluation.eachPuzzle%>:
			</label>
			<input type="hidden"/>
			<table class="scorePuzzles">
				<tr>
					<th><label><%=i18n.escapeRoom.steps.evaluation.puzzle%></label></th>
					<th><label><%=i18n.escapeRoom.steps.evaluation.weight%> (%)</label></th>
				</tr>
			<% var totalScore = escapeRoom.scoreParticipation || 0;%>
			<% for (let p in escapeRoom.puzzles) { let puzzle = escapeRoom.puzzles[p] %>
				<tr>
					<td><label for="score-puzzle-<%=puzzle.id%>"><%= puzzle.title %></label></td>
					<td>
						<input type="number" min="0" max="100" step="any" placeholder="0" value="<%= puzzle.score || 0 %>" name="scores[]" class="customInput scoreInput" id="score-puzzle-<%=puzzle.id%>"/>
						<% totalScore += puzzle.score || 0 %>
					</td>
				</tr>
			<% } %>
			</table>
		  </div>
		<% var hintConditional  = (!escapeRoom.hintLimit && escapeRoom.hintLimit !== 0 ) || escapeRoom.hintLimit > 0; // Hints allowed %>
		<% var hintAppConditional = hintConditional && escapeRoom.hintApp; // Hint app methodology %>
		<% if (hintAppConditional) {%>
			<div class="erFormField disallow animated slideInUp" style="animation-delay:600ms;">
				<label for="tit"  class="itemNarrow">4. <%=i18n.escapeRoom.steps.evaluation.eachHint%>:</label>
				  <table class="scorePuzzles">
					<tr>
						<td><label for="hintSuccess"><%=i18n.escapeRoom.steps.evaluation.hintSuccess%>(%)</label></td>
						  <td><input type="number" min="-100" max="100" required value="<%=escapeRoom.hintSuccess || 0%>" class="customInput" id="hintSuccess" name="hintSuccess"/></td>
					  </tr>
					  <tr>
						  <td><label for="hintFailed"><%=i18n.escapeRoom.steps.evaluation.hintFailed%>(%)</label></td>
						  <td><input type="number" min="-100" max="100" required value="<%=escapeRoom.hintFailed || 0%>" class="customInput" id="hintFailed" name="hintFailed"/></td>
					  </tr>
				  </table>
			  </div>
		<% } else if (hintConditional) { %>
			<div class="erFormField disallow animated slideInUp" style="animation-delay:600ms;">
				<label for="tit"  class="itemNarrow">4. <%=i18n.escapeRoom.steps.evaluation.eachHintObtain%>:</label>
				<input  type="number" min="-100" max="100" placeholder="0" value="<%=escapeRoom.hintSuccess || 0%>" name="hintSuccess" class="customInput itemWide"  id="hintSuccess"/>
				<input type="hidden" value=" 0"  id="hintFailed" name="hintFailed"/></td>	
			  </div>
		<% } %>
	  	
	  	<div class="disallow score-total gugi">
		  	<span><%=i18n.escapeRoom.steps.evaluation.total%></span>
		  	<span id="totalScore"><%=totalScore%>%</span>
	  	</div>
	  	<br>
	  	<br>
	  	<div class="align-right flex-buttons" style="margin-bottom: 60px;">
            <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
      		<button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.finish%></button>
      		<button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
  		</div>
      	<%- include('../../partials/_progress', {progress}) %>
  	</form>
	<br/>
	<br/>
</div>

<% include ../../partials/_footer %>
<% include ../../partials/_scrollListener %>

<script>
	$(function(){
	  let updateScore = function(){
		let newScore = 0;
		$(".scoreInput").each(function(i, e){
		  newScore += parseFloat(e.value || 0);
		});
		$("#totalScore").text(newScore + "%");
	  }
	  let scoreInput = $('.scoreInput');
	  scoreInput.on("keyup", updateScore);
	  scoreInput.on("change", updateScore);
	});
</script>