<% include ../../partials/_header.ejs %>
<% var strategy = "FREE_HINTS"; %>

<% if (escapeRoom.hintLimit === 0) { // No hints allowed
	strategy = "NO_HINTS";
} else if (escapeRoom.hintApp) {
	strategy = "QUIZ_HINTS";
} %>

<% var hintConditional  = (!escapeRoom.hintLimit && escapeRoom.hintLimit !== 0 ) || escapeRoom.hintLimit > 0; // Hints allowed %>
<% var hintAppConditional = hintConditional && escapeRoom.hintApp; // Hint app methodology %>

<div class="main steps step-hints">
	<%- include ../../partials/_breadcrumbStep %>
	<h1><%=i18n.escapeRoom.steps.hints.title%></h1>  
	<p class="intro-paragraph">
    	<%=i18n.escapeRoom.steps.hints.explanation%>
    </p>
  	<form class="basicConfig" method='POST' action='/escapeRooms/<%= escapeRoom.id %>/hints' enctype="multipart/form-data" >
		<div class="inputFormField erFormField animated slideInUp">
			<label for="hintStrategy"  class="itemNarrow">1. <%=i18n.escapeRoom.steps.hints.hintStrategy%>:
				<select autofocus class="customInput itemWide" id="hintStrategy" name="hintStrategy" >
					<option value="NO_HINTS"    <%= strategy === "NO_HINTS"   ? "selected" : "" %> ><%=i18n.escapeRoom.steps.hints.noHintsStrategy%></option>
					<option value="FREE_HINTS"  <%= strategy === "FREE_HINTS" ? "selected" : "" %> ><%=i18n.escapeRoom.steps.hints.freeHintsStrategy%></option>
					<option value="QUIZ_HINTS"  <%= strategy === "QUIZ_HINTS" ? "selected" : "" %> ><%=i18n.escapeRoom.steps.hints.quizHintsStrategy%></option>
				</select>
			</label>
		</div>
		
		<div class="inputFormField erFormField animated slideInUp hintConditional" style="<%=hintConditional ? '':'display: none;'%> animation-delay:400ms;" >
			<label for="hintLimit"  class="itemNarrow">2. <%=i18n.escapeRoom.steps.hints.hintLimit%>:
			<p class="explanation"><%=i18n.escapeRoom.steps.hints.hintLimitExplanation%></p>
				<input type="number" min="0" max="10000"  class="customInput itemWide" id="hintLimit" name="hintLimit" placeholder="<%=i18n.escapeRoom.steps.hints.hintLimitPlaceholder%>" value="<%= escapeRoom.hintLimit%>" min="0" />
			</label>
		</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional" style="<%=hintConditional ? '':'display: none;'%> animation-delay:500ms;" >
			<label for="hintInterval"  class="itemNarrow">3. <%=i18n.escapeRoom.steps.hints.hintInterval%>:
			<p class="explanation"><%=i18n.escapeRoom.steps.hints.hintIntervalExplanation%></p>
			<input type="number" min="0" max="10000"  class="customInput itemWide" id="hintInterval" name="hintInterval" value="<%= escapeRoom.hintInterval || null %>" placeholder="<%=i18n.escapeRoom.steps.hints.hintLimitPlaceholder%>" autocomplete="off"/>
			</label>
		</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional" style="<%=hintConditional ? '':'display: none;'%> animation-delay:500ms;" >
			<label for="allowCustomHints"  class="itemNarrow">4. <%=i18n.escapeRoom.steps.hints.allowCustomHints%>:
		    <input type="checkbox" class="customCheckbox" id="allowCustomHints" name="allowCustomHints" <%= escapeRoom.allowCustomHints ? "checked" : "" %> autocomplete="off"/></label>
			<p class="explanation"><%=i18n.escapeRoom.steps.hints.allowCustomHintsExplanation%></p>
			</label>
		</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional hintAppConditional" style="<%= hintAppConditional ? '':'display: none;'%> animation-delay:600ms;">
		    <label for="hints" class="itemNarrow">5. <%=i18n.escapeRoom.steps.hints.MoodleXML%>:</label>
		    <p class="explanation"><%=i18n.escapeRoom.steps.hints.moodleXMLexplanation%></p>
		  	<input class="attach" style="display: none;" type="file" id="hints" name="hints" tabindex="0" accept="text/xml"/>
		  	<label for="hints" class="fileUpload customInput itemWide">
		  	  <span id="hintsLabel" >
		  	    <% if (escapeRoom.id && escapeRoom.hintApp) { %>
		  	      <%=i18n.escapeRoom.steps.hints.hintFile%>: <%= escapeRoom.hintApp.filename ||  "file" %>
		  	    <% } else { %>
		  	      <%=i18n.escapeRoom.steps.hints.uploadFile%>
		  	    <% } %>
		  	  </span>
		  	  <span id="upload"
		  	    <% if (escapeRoom.id && escapeRoom.hintApp) { %>
		  	      style="display: none;"
		  	    <% } %>
		  	    class="fileUploadButton">
		  	      <span class="material-icons">file_upload</span>
		  	  </span>
		  	  <span id="delete"
		  	    <% if (!escapeRoom.id && !escapeRoom.hintApp) { %>
		  	      style="display: none;"
		  	    <% } %>
		  	    class="fileUploadButton">
		  	      <span class="material-icons">delete</span>
		  	    </span>
				<input type="text" class="inputFormField erFormField" style="opacity:0;" aria-label="Force focus"/>
		  	  <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.hintApp) ? "1" : "0" %>" >
		  	</label>
	  	</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional hintAppConditional" style="<%=hintAppConditional ? '':'display: none;'%> animation-delay:700ms;">
		  <label for="numQuestions"  class="itemNarrow">6. <%=i18n.escapeRoom.steps.hints.questionNumber%>:</label>
		  <p class="explanation"><%=i18n.escapeRoom.steps.hints.questionNumberExplanation%></p>
		  <input type="number" min="0" max="10000" class="customInput itemWide" id="numQuestions" name="numQuestions" value="<%= escapeRoom.numQuestions %>" placeholder="<%=i18n.escapeRoom.steps.hints.questionNumberPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional hintAppConditional" style="<%=hintAppConditional ? '':'display: none;'%> animation-delay:800ms;">
		    <label for="numRight"  class="itemNarrow">7. <%=i18n.escapeRoom.steps.hints.correctNumber%>:</label>
		    <input type="number" min="0" max="10000" class="customInput itemWide" id="numRight" name="numRight" value="<%= Math.round(escapeRoom.numRight/100*escapeRoom.numQuestions)  %>" placeholder="<%=i18n.escapeRoom.steps.hints.correctNumberPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp hintConditional hintAppConditional" style="<%=hintAppConditional ? '':'display: none;'%> animation-delay:900ms;">
		    <label for="feedback"  class="itemNarrow">8. <%=i18n.escapeRoom.steps.hints.feedback%>:
		    <input type="checkbox" class="customCheckbox" id="feedback" name="feedback" <%= escapeRoom.feedback ? "checked" : "" %> autocomplete="off"/></label>
		    <p class="explanation"><%=i18n.escapeRoom.steps.hints.feedbackExplanation%></p>
		</div>		
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

	  	<div class="align-right flex-buttons" style="margin-bottom: 60px;">
            <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
			<button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
			<button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
		</div>
        <%- include('../../partials/_progress', {progress}) %>
	</form>
	<br/><br/>
</div>
<%- include('../../partials/_footer', {ignoreExtras: true}) %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$(function(){

	$('#hints').on("change", function(e){
	  let path = $(this).val();
	  try {
	    let fileNameArr = path.split("\\");
	    let fileName = fileNameArr[fileNameArr.length - 1];
	    if(fileName) {
	      $('#delete').show();
	      $('#upload').hide();
		  $('#hintsLabel').html(fileName);
		  $('.hintAppConditional').show();
	    }
	  } catch (e) {
	      $('#delete').hide();
	      $('#upload').show();
		  $('#imgLabel').html("<%=i18n.escapeRoom.steps.hints.noFile%>");
		  $('.hintAppConditional').hide();
		  $(this).val("");
		  
	  }
	});

	function deleteHintApp(e) {
	    if (e) {e.preventDefault();}
	    $('#delete').hide();
		$('#upload').show();
		// $('.hintAppConditional').hide();
	    $('#hintsLabel').html("<%=i18n.escapeRoom.steps.hints.noFile%>");
		$('#keepAttachment').val("0");
		$('#hints').val("");		
	}

	$('#delete').on('click', deleteHintApp);

	$('#hintStrategy').on('change', function(e){
		var option = e.target.value;
		const currentVal = $('#hintLimit').val();

		switch(option) {
			case 'NO_HINTS':
				$('.hintConditional').hide();
				$('#hintLimit').val(0);
				$('#keepAttachment').val("0");

				break;
			case 'FREE_HINTS':
				$('.hintConditional').show();
				$('.hintAppConditional').hide();
				if (currentVal === "0" || currentVal === 0) {
					$('#hintLimit').val("");
				}
				$('#keepAttachment').val("0");
				break;
			case 'QUIZ_HINTS':
				$('.hintConditional').show();
				if (currentVal === "0" || currentVal === 0) {
					$('#hintLimit').val("");
				}
				if (!$('#hintsLabel').html().match("<%=i18n.escapeRoom.steps.hints.uploadFile%>")) {
					$('#keepAttachment').val("1");
				}
				
				break;
		}
	});


});


</script>

<% include ../../partials/_scrollListener %>
