<head><link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<% if (endPoint !== "indications") {%>
  <link rel="stylesheet" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera"%>.editor.bootstrap.min.css">
<%}%>
<script src="/js/vendor/quill.min.js"></script>
<script src="/js/vendor/jquery.ui.sortable.min.js"></script>
<script src="/js/vendor/image-resize.min.js"></script>
<script src="/js/vendor/video-resize.min.js"></script>
<script src="/js/vendor/quill.htmlEditButton.min.js"></script>

</head>
<!-- Theme included stylesheets -->
 <% include ../../partials/_header.ejs %>
<div class="main steps step-instructions">
	<%- include ../../partials/_breadcrumbStep %>
  <h1><%=i18n.escapeRoom.steps[endPoint].title%></h1>
    <p class="intro-paragraph">
       <%=i18n.escapeRoom.steps[endPoint].explanation%>
    </p>
    <form method='POST' id="instructionsForm" action='/escapeRooms/<%= escapeRoom.id %>/<%=endPoint%>'  >
      <input type="hidden" id="appearance" name="appearance" 
      value="<%=escapeRoom[endPoint + "Appearance"] || "litera" %>" />
    	<div class="editor-wrapper  <%=endPoint === 'indications' ? 'indications':''%>">
          <div id="editor" class="" spellcheck="false" style="visibility: hidden;">
            <%if (escapeRoom[endPoint + "Instructions"]) {%>
                <%- escapeRoom[endPoint + "Instructions"] %>
            <%}%>
    		</div>
    	</div>
      <div class="align-right flex-buttons">
          <input id="instructions" name="instructions" type="hidden" value=""/>
          <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
          <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
          <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
      </div>
      <%- include('../../partials/_progress', {progress}) %>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
<script>
  window.uploadCallback = (file) => {
    $(".file-selected").removeClass("file-selected");
    $(".gamification-element-selected").removeClass("gamification-element-selected");
    let parent = $(file.previewElement);
    fileSelected = file;
    parent.addClass("file-selected");
    $('#sourceUrl').prop('checked', false);
    $('#sourceGamificationElement').prop('checked', false);
    $('#sourceFile').prop('checked', true);
  }
</script>
<%- include('../../partials/_gallery', {endPoint}) %>
    <br/>
    <br/>
    <br/>
<script>
window.endPoint = "<%=endPoint%>"
window.placeholder = "<%=i18n.escapeRoom.steps[endPoint].placeholder%>"
const insert = "<%=i18n.gallery.insert%>";
const cancel = "<%=i18n.gallery.cancel%>";
</script>
<% include ../../partials/_footer %>

<script src="/js/instructions.js"></script>
<style>
  @font-face {
      font-family: 'Digital';
      src: url('/fonts/ds-digib.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
</style>