<head><link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<link rel="stylesheet" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera"%>.editor.bootstrap.min.css">
<script src="/js/vendor/quill.min.js"></script>
<script src="/js/vendor/jquery.ui.sortable.min.js"></script>
<script src="/js/vendor/image-resize.min.js"></script>
<script src="/js/vendor/video-resize.min.js"></script>
</head>
<!-- Theme included stylesheets -->
 <% include ../../partials/_header.ejs %>
<div class="main step-instructions">
  <h2><%=i18n.escapeRoom.steps[endPoint].title%></h2>
    <p class="intro-paragraph">
       <%=i18n.escapeRoom.steps[endPoint].explanation%>
    </p>
    <form method='POST' id="instructionsForm" action='/escapeRooms/<%= escapeRoom.id %>/<%=endPoint%>'  >
      <input type="hidden" id="appearance" name="appearance" 
      value="<%=escapeRoom[endPoint + "Appearance"] || "litera" %>" />
    	<div class="editor-wrapper  ">
          <div id="editor" class="" spellcheck="false" style="visibility: hidden;">
            <%if (escapeRoom[endPoint + "Instructions"]) {%>
                <%- escapeRoom[endPoint + "Instructions"] %>
            <%} else {%>
                <h1 class="ql-align-center"><%=i18n.escapeRoom.steps[endPoint].placeholder%></h1>
            <%}%>
    		</div>
    	</div>
      <div class="align-right flex-buttons">
          <input id="instructions" name="instructions" type="hidden" value=""/>
          <a href="/escapeRooms/<%= escapeRoom.id %>">
            <button class="progress-buttons" type="button" value="exit" id="exit" name="exit">
              <%=i18n.common.exit%>
            </button>
          </a>
          <button class="progress-buttons" type="submit" value="next" id="next" name="next">
            <%=i18n.common.next%>
          </button>
          <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">
            <%=i18n.common.previous%>
          </button>
      </div>
      <%- include('../../partials/_progress', {progress}) %>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>

<%- include('../../partials/_gallery', {endPoint}) %>
    <br/>
    <br/>
    <br/>
<% include ../../partials/_footer %>
<script src="/js/instructions.js"></script>
<style>
  @font-face {
      font-family: 'Digital';
      src: url('/fonts/ds-digib.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
</style>