<head>
  <link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<% if (endPoint !== "indications") {%>
  <link rel="stylesheet" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera"%>.editor.bootstrap.min.css">
<%}%>
<script src="/js/vendor/jquery.ui.sortable.min.js"></script>
<script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
<!-- <script src="https://www.youtube.com/iframe_api"></script> -->
<%var theme = escapeRoom[endPoint + "Appearance"] || "litera" %>
</head>
<h1>a<%="*******"+escapeRoom[endPoint + "Instructions"]%></h1>

<!-- Theme included stylesheets -->
 <% include ../../partials/_header.ejs %>
<div class="main steps step-instructions">
	<%- include ../../partials/_breadcrumbStep %>
  <h1><%=i18n.escapeRoom.steps[endPoint].title%></h1>
    <p class="intro-paragraph">
      <%=i18n.escapeRoom.steps[endPoint].explanation%>
    </p>
    <%- include('../../partials/_instructionsMenu', {theme, endPoint, escapeRoom}) %>
    <br/>
    <form method='POST' id="instructionsForm" action='/escapeRooms/<%= escapeRoom.id %>/<%=endPoint%>'  >
      <input type="hidden" id="appearance" name="appearance" value="<%=theme%>" />
      <div id="custom-content">
      </div>
    <br/>
      <div class="align-right flex-buttons">
          <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
          <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
          <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
      </div>
      <%- include('../../partials/_progress', {progress}) %>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
<script>
  window.escapeRoomId = <%=escapeRoom.Id%>
  window.uploadCallback = (file) => {
    $(".file-selected").removeClass("file-selected");
    $(".gamification-element-selected").removeClass("gamification-element-selected");
    let parent = $(file.previewElement);
    fileSelected = file;
    parent.addClass("file-selected");
    $('#sourceUrl').prop('checked', false);
    $('#sourceGamificationElement').prop('checked', false);
    $('#sourceFile').prop('checked', true);
  }
</script>

<%escapeRoom.puzzles = escapeRoom.puzzles||[];%>
<% var puzzleArr = Array(escapeRoom.puzzles.length).fill(0).map((_i,e)=>e);
puzzleArr.push("all")%> 
<script>
window.puzzleList =<%- JSON.stringify(puzzleArr)%>;
window.endPoint = "<%=endPoint%>"
window.placeholder = "<%=i18n.escapeRoom.steps[endPoint].placeholder%>"
window.insert = "<%=i18n.gallery.insert%>";
window.cancel = "<%=i18n.gallery.cancel%>";
window.accept = "<%=i18n.common.accept%>";
window.lang = "<%=i18n.lang%>";
window.puzzleLength = <%=escapeRoom.puzzles.length + 1%>;
window.i18n = <%-JSON.stringify(i18n.escapeRoom.steps.indications.front)%>
window.getTheme = theme => "/stylesheets/vendor/bootswatch/"+theme+".bootstrap.min.css";
window.theme = endPoint === "indications" ? "/stylesheets/style.css" : window.getTheme("<%=theme || 'litera' %>");
window.themeName = "<%=theme || 'litera' %>";
window.content = <%- JSON.stringify(JSON.parse(escapeRoom[endPoint + "Instructions"] || "[{\"type\":\"text\",\"payload\":{\"text\":\""+i18n.escapeRoom.steps[endPoint].placeholder+"\"}, \"puzzles\":["+window.puzzleList.join(",")+"]}]") )%>
</script>
<%if (endPoint !== "indications"){%>
  <div id="dialog-themes" title="<%=i18n.escapeRoom.steps.indications.front.theme%>" style="display: none;">
    <div class="theme-list">
      <%var themes = ["litera", "cerulean", "journal", "sketchy", "darkly", "cyborg", "cosmo", "flatly", "lumen", "lux", "materia", "minty", "pulse", "sandstone", "simplex", "slate", "solar", "spacelab", "united", "yeti", "superhero"];%>
      <%for (var iTheme of themes) {%>
        <span tabindex="0" role="button" class="theme-item <%=theme === iTheme ? 'selected-theme':''%>" data-value="<%=iTheme%>">
          <img src="/images/bootswatch/<%=iTheme%>.png"/>
        </span>
      <%}%>
    </div>
  </div>
<%}%>
<%if (endPoint === "team"){%>

<div id="dialog-config" title="<%=i18n.escapeRoom.steps.indications.front.setupVisualization%>" style="display: none;">
  <div class="config-list">
    <p class="config-paragraph"><%=i18n.escapeRoom.steps.indications.front.visualizationIntro%></p>

    <p class="config-paragraph" style="color: var(--info);font-size: 19px;"><%=i18n.escapeRoom.steps.indications.front.visualizationSucceed%>:</p>
    <%for (var p in escapeRoom.puzzles) {
      var puzzle= escapeRoom.puzzles[p];%>
      <label class="puzzle-preview-select">
        <input type="checkbox" id="puzzle-<%=p%>"><%=puzzle.title%> <%if (p == 0){%>
        <span style="opacity: 0.5;">(<%=i18n.escapeRoom.steps.indications.front.visualizationStart%>)</span><%}%>
      </label>
    <%}%>
    <label class="puzzle-preview-select">
      <input type="checkbox" id="puzzle-all"><%=i18n.escapeRoom.steps.indications.front.visualizationFinish%>
    </label>
  </div>
</div>
<%}%>

<%- include('../../partials/_footer', {ignoreExtras: true}) %>
</div>
<script src="/ckeditor/ckeditor4/ckeditor.js"></script>
<script src="/ckeditor/ckeditor4/editor.js"></script>

<style>
  @font-face {
      font-family: 'Digital';
      src: url('/fonts/ds-digib.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  :root {
    --placeholder-text: "<%=i18n.escapeRoom.steps.indications.front.dropHere%>";
  }
</style>
