<% include ../../partials/_header.ejs %>
<div class="main step-puzzles">
  <h2><%=i18n.escapeRoom.steps.puzzles.title%>
  </h2>
 <% for(var reto in escapeRoom.puzzles) { %>
        <% var puzzle = escapeRoom.puzzles[reto] %>
        	<div class="puzzle-card animated zoomIn">
	        	<h3 >
                    <i  class="material-icons">extension</i>
                    <input type="text" value="<%=puzzle.title%>"/>
                </h3>
	        	<h4>
                    <i class="material-icons">description</i>
                    <%=i18n.escapeRoom.steps.puzzles.description%>
                </h4>
	        	<input type="text" value="<%=puzzle.desc%>"/>
	        	<div class="flex-puzzle-card">
                    <div>
                        <h4>
                            <i class="material-icons">search</i>
                            <%=i18n.escapeRoom.steps.puzzles.solution%>
                        </h4>
        	        	<input type="text" value="<%=puzzle.sol%>"/>
                    </div>
                    <div>
                        <h4>
                            <label for="at">
                                <span>
                                    <i class="material-icons">track_changes</i>
                                    <%=i18n.escapeRoom.steps.puzzles.tracking%>
                                </span>
                            </label>
                        </h4>
                        <select  required  id="at" name="automatic" value="<%= escapeRoom.automatic %>" placeholder="<%i18n.escapeRoom.steps.puzzles.placeholder%>" autocomplete="off">
                            <option value="0" <%= !escapeRoom.automatic ? "selected" : ""%>><%=i18n.escapeRoom.steps.puzzles.manual%></option>
                            <option value="1" <%= escapeRoom.automatic ? "selected" : ""%>><%=i18n.escapeRoom.steps.puzzles.automatic%></option>
                        </select>
                        
                    </div>

                </div>

                <h4>
                    <i class="material-icons">check</i>
                    <%=i18n.escapeRoom.steps.puzzles.successMsg%>
                <input type="text" placeholder="<%=i18n.puzzle.correctAnswer%>" value="<%=puzzle.successMsg%>"/>
                <h4>
                    <i class="material-icons">close</i>
                    <%=i18n.escapeRoom.steps.puzzles.failMsg%>
                </h4>
                <input type="text" placeholder="<%=i18n.puzzle.wrongAnswer%>" value="<%=puzzle.failMsg%>"/>
	        	<br/>
                    
	        	<h4>
                    <i class="material-icons">view_module</i>
                    <%=i18n.escapeRoom.steps.puzzles.subpuzzles%>
                </h4>
                <h4>
                    <i class="material-icons">search</i>
                    <%=i18n.escapeRoom.steps.puzzles.hints%>
                </h4>
        	</div>
        <%}%>
    <br/>
    <input type="hidden" name="retos" id="retos" value="">
    <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/puzzles'  >
        <div class="align-right flex-buttons" style="margin-bottom: 60px;">
        <a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit"><%=i18n.common.exit%></button></a>
        <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
        <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
        </div>
      <%- include('../../partials/_progress', {progress: 2}) %>
    </form>
    <br/>
    <br/>
  
  
</div>
<% include ../../partials/_footer %>