<% include ../../partials/_header.ejs %>
<div class="main step-puzzles">
  <h1><%=i18n.escapeRoom.steps.puzzles.title%></h1>
    <div class="align-right">
        <button class="rounded editButton" type="button" id="add-new-puzzle">
            <!-- <span class="material-icons">control_point</span> -->
            <%=i18n.escapeRoom.steps.puzzles.addNewPuzzles%>
        </button>
    </div>
  <br/>
  <br/>
  <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/puzzles'>
  <div id="sortable">

    <% for(var reto in escapeRoom.puzzles) { %>
        <% var puzzle = escapeRoom.puzzles[reto] %>
        <%- include('../../partials/_puzzles_card', {reto, puzzle}) %>
    	
    <%}%>
    </div>
    <br/>
    <div class="align-right flex-buttons" style="margin-bottom: 60px;">
    <a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit"><%=i18n.common.exit%></button></a>
    <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
    <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
    </div>
  <%- include('../../partials/_progress', {progress}) %>
</form>
<br/>
<br/>

<div class="hidden-card">
    <%- include('../../partials/_puzzles_card', {reto: 'new', puzzle: {id: 'new', hints: []}}) %>
</div>  
</div>
<% include ../../partials/_footer %>
<script src="/js/vendor/jquery.ui.sortable.min.js"></script>
<script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script>
  $( function() {
    // Puzzle sortable
    $.easing.custom = function (x, t, b, c, d) {
        var s = 0.70158; 
        if ((t/=d/2) < 1) return c/2*(t*t*(((s*=(1.525))+1)*t - s)) + b;
        return c/2*((t-=2)*t*(((s*=(1.525))+1)*t + s) + 2) + b;
    }

    $(document).on('mousedown touchdown', '.handle', () => {
        $('.puzzle-card > *:not(.showAlways)').slideToggle();
        $('.puzzle-card').toggleClass('collapsed')
    });
    $(document).on('mouseup touchend', '.handle', () => {
        $('.puzzle-card > *:not(.showAlways)').slideToggle({easing: "custom", duration: 200});
        $('.puzzle-card').toggleClass('collapsed')
        $('.puzzle-card > *:not(.showAlways)').show();
    });

    $( "#sortable" ).sortable({
        handle: '.handle',
        forcePlaceholderSize:true,
        start: (event, ui) => {
         $(ui.placeholder).height('105px');
        },
        stop: () => {
            $('.puzzle-card > *:not(.showAlways)').slideToggle({easing: "custom", duration: 200});
            $('.puzzle-card').toggleClass('collapsed')
            $('.puzzle-card > *:not(.showAlways)').show();
        },
        update: (a,b)=>{
            
            $('.order').each((i,e)=> {
                $(e).val(i);
            })
        }
    });

    // Hint sortable

    $( ".hint-list" ).sortable({
        handle: '.handle-hint',
        update: (event,b)=>{
            $(event.target).find('.hint-order').each((i,e)=> {
                $(e).val(i);
            })
        }
    });
    // $('.handle').disableSelection();

    $('#add-new-puzzle').on('click', ()=>{
        let newCard = $('.hidden-card .puzzle-card').clone();
        const order = $('.puzzle-card').length - 1;
        newCard.find('.order').val(order);
        newCard.find('.hint-list').data("number", order);
        newCard.find( "input[name^='puzzles[new]'],select[name^='puzzles[new]']" ).each((i,e)=>{
            e.name = e.name.replace('puzzles[new]','puzzles['+order+']');
        });

        newCard.appendTo('#sortable');
        $('html, body').animate({
            scrollTop: $(newCard).offset().top
        }, 300);

        newCard.find('input[type=text]').first().focus();
    })

    $(document).on('click', '.addHint', (e) => {
        const currentHintList = $(e.target.parentNode.parentNode).find('.hint-list');
        const order = currentHintList.data('number');
        const hintOrder = currentHintList.children().length;
        const template = `
            <li>
               <div class="hint-li">
                <span title="<%=i18n.escapeRoom.steps.puzzles.reorder%>" class="material-icons handle-hint">swap_vert</span>
                <input type="hidden" name="puzzles[${order}][hints][${hintOrder}][id]" value=""/>
                <input type="hidden" name="puzzles[${order}][hints][${hintOrder}][order]" class="hint-order" value="${hintOrder}"/>
                <input type="text" name="puzzles[${order}][hints][${hintOrder}][content]" placeholder="" required value=""/>
                <button type="button" class="delete-hint" title="<%=i18n.escapeRoom.steps.puzzles.delete%>" >
                  <span class="material-icons">clear</span> 
                </button>
                </div>
            </li>
        `;
        $(template).appendTo(currentHintList);
        currentHintList.sortable({
            handle: '.handle-hint',
            update: (event,b)=>{
                $(event.target).find('.hint-order').each((i,e)=> {
                    $(e).val(i);
                })
            }
        });
        currentHintList.last().find('input[type=text]').focus();

    });

    $(document).on('click', '.delete-hint', (e) => {
        const actualHint = e.target.parentNode.parentNode.parentNode;
        const parent = actualHint.parentNode;
        actualHint.remove();
        $(parent).find('.hint-order').each((i,e)=> {
            $(e).val(i);
        });
    });

    $(document).on('click', '.delete-puzzle', (e) => {
        const actualPuzzle = e.target.parentNode.parentNode;
        const parent = actualPuzzle.parentNode;
        actualPuzzle.remove();
        $(parent).find('.order').each((i,e)=> {
            $(e).val(i);
        });
    })
});
</script>


