<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<% include ../../partials/_header.ejs %>
<div class="main steps step-turnos">
	<%- include ../../partials/_breadcrumbStep %>

  	<h1><%=i18n.escapeRoom.steps.turnos.title%></h1>
	<div class="contenedor">
	    <div class="turnosLeft animated bounceInUp">
	        <div id="datepicker"></div>
	    </div>
	    <div class="turnosRight" >
	        <h2>
	            <span id="currentDate"></span>
	        </h2>
	        <% include ../../turnos/index %>
	    </div>
	</div>
	<form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/turnos'  >
		<br/>
	
	
		<div class="align-right flex-buttons">
            <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
    		<button class="progress-buttons" type="submit" value="next" id="next" name="next">
    			<%=i18n.common.next%>
    		</button>
		    <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">
		    	<%=i18n.common.previous%>
		    </button>
		</div>
        <%- include('../../partials/_progress', {progress}) %>
	</form>
	<br/>
	<br/>
	<br/>
</div>
<%- include('../../partials/_footer', {ignoreExtras: true}) %>

<script>
var selectedDates = [
<% for (var d = 0; d < turnos.length; d++) { %>
	new Date("<%= turnos[d].date%>") <%if (d !== turnos.length -1) {%>,<% }%>
<% } %>
].map(d=>{d.setHours(0,0,0,0); return d.getTime()}); 

</script>
<% include ../../turnos/_turnosCommonLogic %>
