<script src="/js/vendor/jquery-ui.min.js"></script>
<%if (!user.id) {%>
    <h1 class="loginWelcomeMessage">
        <%=i18n.user.messages.welcome%>
    </h1>
    <h2>
        <%=i18n.user.actions.Register%>
    </h2>
    <form method="post" class=" " action="/users<%=redir ? ("?redir="+redir) : "" %>">
        <%}else{%>
    <form method="post" class="editUserForm" action="/users/<%=user.id%>?_method=PUT%>">
<%}%>

<div class="userField">
 <label for="name"><span><%=i18n.user.name%></span>
 <input type="text" class="customInput" id="name" name="name" value="<%= user.name %>" required placeholder="<%=i18n.user.inputs.namePlaceHolder %>" autocomplete="off"/> </label>
</div>
<br />
<div class="userField">
    <label for="surname"><span><%=i18n.user.surname%></span>
    <input type="text" class="customInput" id="surname" name="surname" value="<%= user.surname %>" required placeholder="<%=i18n.user.inputs.surnamePlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<div class="userField">
    <label for="gender"><span><%=i18n.user.gender%></span>
    <select  class="customInput" id="gender" name="gender" value="<%= user.gender %>" placeholder="<%=i18n.user.inputs.genderPlaceHolder %>" autocomplete="off">
        <option value <%= user.gender ? "" : "selected" %> <%= !user.id ? "selected" : ""%>/>
        <option value="Femenino" <%= user.gender === "Femenino" ? "selected" : ""%>><%=i18n.user.woman%></option>
        <option value="Masculino" <%= user.gender === "Masculino" ? "selected" : ""%>><%=i18n.user.man%></option>
        <option value="Otro" <%= user.gender === "Otro" ? "selected" : ""%>><%=i18n.user.other%></option>
    </select></label>
</div>
<br />
<%if (!user.id) {%>
<div class="userField">
    <label for="username"><span><%=i18n.user.username%></span>
    <input type="email" <%=user.id?"disabled":""%> class="customInput" id="username" name="username" value="<%= user.username %>" required placeholder="<%=i18n.user.inputs.usernamePlaceHolder %>" autocomplete="off"/></label>
        <div class="roleField">
            
            <label for="teacher" class="roleLabel">
            <input class="chooseRole" type="radio" name="role" id="teacher" value="teacher"/>
            <span><%=i18n.user.teacher%></span>
            </label>
            <label for="student" class="roleLabel">
            <input class="chooseRole" type="radio" name="role" id="student" value="student" checked/>
            <span><%=i18n.user.student%></span>
            </label>
        </div>
    </div>
    <br />
<%}%>
<%if (user.id) {%>
    <div class="userField">
        <label for="user_confirm_password"><span><%=i18n.user.lang%></span>
        <select  class="customInput" id="lang" name="lang" required autocomplete="off">
            <option value="en" <%=(user.lang == "en" || (!user.lang && (i18n.lang === "en"))) ? "selected" :""%>><%=i18n.langs.en%></option>
            <option value="es" <%=(user.lang == "es" || (!user.lang && (i18n.lang === "es"))) ? "selected" :""%>><%=i18n.langs.es%></option>
        </select>
        </label>
    </div>
    <br/>
<p><%=i18n.user.passLeaveBlank%></p>
<%}%>
<div class="userField">
        <label for="user_password"><span><%=i18n.user.password%></span>
        <input type="password" class="customInput" id="user_password" name="password" 
       <%if (!user.id) {%>  required <%}%>
         placeholder="<%=i18n.user.inputs.passwordPlaceHolder %>" autocomplete="nope"/></label>
</div>
<br />
<div class="userField">
        <label for="user_confirm_password"><span><%=i18n.user.passwordConfirm%></span>
        <input type="password" class="customInput" id="user_confirm_password" name="confirm_password" 
        <%if (!user.id) {%> required <%}%>
         placeholder="<%=i18n.user.inputs.passwordConfirmPlaceHolder %>" autocomplete="nope"/></label>
</div>
<br/>
<%if (!user.id) {%>
<br/>
<div class="userField">
    <label for="accept_terms" ><span><%=i18n.user.acceptTerms%></span>
     <p>
        <input type="checkbox" class="" id="accept_terms" name="accept_terms" required/>
        <%-i18n.user.terms%><br/>
        
    </p>
</label>
</div>
<br/>
    <button class="registro" type="submit" value="Save" onclick="return confirmPassword()"><%=i18n.user.actions.register %></button>
    <br />
    <br />
    <a class="login" href="/"><%=i18n.user.actions.alreadyRegistered %></a>
<%} else {%>
    
    <br/>
    <a href="/"><button class="save white rounded" type="button"><%=i18n.common.back %></button></a>
    <button class="save editButton rounded" type="submit" value="edit"
    <%if (!user.id) {%> onclick="return confirmPassword()" <%}%>><%=i18n.user.actions.save %></button>
    <br />
    <br />
    <br />

<%} %>

</form>
<script>
    function confirmPassword() {
        
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            $.easyAlert({message: "<%=i18n.user.messages.fillIn %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
        if (pw1 === pw2) {
            <%if (!user.id) {%>
                if (!document.getElementById("accept_terms").checked) {
                    $.easyAlert({message: "<%=i18n.common.flash.youMustAcceptTerms %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})

                    return false;
                }
            <%}%>
            return true;
        } else {
            $.easyAlert({message: "<%=i18n.user.messages.doNotMatch %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
    }   
    
</script>

<style>body{height: 100vh;}</style>