<%if (!user.id) {%>
    <h1 class="loginWelcomeMessage">
        <%=i18n.user.messages.welcome%>
    </h1>
    <h2>
        <%=i18n.user.actions.Register%>
    </h2>
    <form method="post" class=" " action="/users<%=redir ? ("?redir="+redir) : "" %>">
        <%}else{%>
    <form method="post" class="editUserForm" action="/users/<%=user.id%>?_method=PUT%>">
<%}%>

<div class="userField">
 <label for="name"><span><%=i18n.user.name%></span>
 <input type="text" class="customInput" id="name" name="name" value="<%= user.name %>" required placeholder="<%=i18n.user.inputs.namePlaceHolder %>" autocomplete="off"/> </label>
</div>
<br />
<div class="userField">
    <label for="surname"><span><%=i18n.user.surname%></span>
    <input type="text" class="customInput" id="surname" name="surname" value="<%= user.surname %>" required placeholder="<%=i18n.user.inputs.surnamePlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<div class="userField">
    <label for="gender"><span><%=i18n.user.gender%></span>
    <select  required class="customInput" id="gender" name="gender" value="<%= user.gender %>" placeholder="<%=i18n.user.inputs.genderPlaceHolder %>" autocomplete="off">
        <option value="" disabled <%= !user.id ? "selected" : ""%>> <option>
        <option value="Femenino" <%= user.gender === "Femenino" ? "selected" : ""%>>Mujer</option>
        <option value="Masculino" <%= user.gender === "Masculino" ? "selected" : ""%>>Hombre</option>
        <option value="Otro" <%= user.gender === "Otro" ? "selected" : ""%>>Otro</option>
    </select></label>
</div>
<br />
<div class="userField">
    <label for="username"><span><%=i18n.user.username%></span>
    <input type="email" <%=user.id?"disabled":""%> class="customInput" id="username" name="username" value="<%= user.username %>" required placeholder="<%=i18n.user.inputs.usernamePlaceHolder %>" autocomplete="off"/></label>
    <%if (!user.id) {%>
        <div class="roleField">
            
            <label for="teacher" class="roleLabel">
            <input class="chooseRole" type="radio" name="role" id="teacher" value="teacher"/>
            <span><%=i18n.user.teacher%></span>
            </label>
            <label for="student" class="roleLabel">
            <input class="chooseRole" type="radio" name="role" id="student" value="student" checked/>
            <span><%=i18n.user.student%></span>
            </label>
        </div>
    <%}%>
</div>
<br />
<div class="userField">
    <label for="dni"><span><%=i18n.user.dni%></span>
    <input type="dni" <%=user.id?"disabled":""%> class="customInput" id="dni" name="dni" value="<%= user.dni %>" required placeholder="<%=i18n.user.inputs.dniPlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<div class="userField">
        <label for="user_password"><span><%=i18n.user.password%></span>
        <input type="password" class="customInput" id="user_password" name="password" required placeholder="<%=i18n.user.inputs.passwordPlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<div class="userField">
        <label for="user_confirm_password"><span><%=i18n.user.passwordConfirm%></span>
        <input type="password" class="customInput" id="user_confirm_password" required placeholder="<%=i18n.user.inputs.passwordConfirmPlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<%if (!user.id) {%>
    <button class="registro" type="submit" value="Save" onclick="return (confirmPassword() && confirmDNI())"><%=i18n.user.actions.register %></button>
    <br />
    <br />
    <a class="login" href="/"><%=i18n.user.actions.alreadyRegistered %></a>
<%} else {%>
    <a href="/"><button class="save white rounded" type="button"><%=i18n.common.back %></button></a>
    <button class="save editButton rounded" type="submit" value="edit" onclick="return confirmPassword()"><%=i18n.user.actions.save %></button>
    <br />
    <br />
    <br />

<%} %>


<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            $.easyAlert({message: "<%=i18n.user.messages.fillIn %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
        if (pw1 === pw2) {
            return true;
        } else {
            $.easyAlert({message: "<%=i18n.user.messages.doNotMatch %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
    }
    function validateDNI(value){

      var validChars = 'TRWAGMYFPDXBNJZSQVHLCKET';
      var nifRexp = /^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/i;
      var nieRexp = /^[XYZ]{1}[0-9]{7}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/i;
      var str = value.toString().toUpperCase();
      if (!nifRexp.test(str) && !nieRexp.test(str)) return false;

      var nie = str
        .replace(/^[X]/, '0')
        .replace(/^[Y]/, '1')
        .replace(/^[Z]/, '2');

      var letter = str.substr(-1);
      var charIndex = parseInt(nie.substr(0, 8)) % 23;

      if (validChars.charAt(charIndex) === letter) return true;

      return false;
    }
    function confirmDNI(){
        return true;
        var numero, letr, letra, expresion_regular_dni;
        var dni = document.getElementById('dni').value;

        if(!validateDNI(dni)){
            $.easyAlert({message: "<%=i18n.user.messages.invalidDNI %>", alertType: 'error', position: 'b l', time: 3000, autoHide: true});
            return false;
        } else {
          return true;
        }
    }
</script>

</form>
</form>
