<h1 class="loginWelcomeMessage"></h1>

<h1><%=i18n.user.actions.resetPassword%></h1>
<form method='POST' action='/users/password-reset'>
    <div>
        <label for="login"><span><%=i18n.user.username%></span>
            <input type="email" id="login" name="login" size="30" autofocus placeholder="<%=i18n.user.inputs.usernamePlaceHolder%>" autocomplete="off"/>
        </label>
    </div>
    <br />
    <div>
        <button class="login" type="submit" value="Reset password"><%=i18n.user.actions.resetPassword%></button>
        <br />
    </div>
</form>
<br />
<a class="login" href="/"><%=i18n.user.actions.Login%></a><br/><br/>
<a class="login" href="/register%>"><%=i18n.user.actions.notRegistered%></a>