<h1 class="loginWelcomeMessage"></h1>

<h1><%=i18n.user.actions.resetPassword%></h1>
<form method='POST' action='/users/password-reset/<%=user.id%>?code=<%=user.password%>&email=<%=user.username%>'>
    <div  >
        <label for="user_password"><span><%=i18n.user.password%></span>
        <input type="password" class="customInput" id="user_password" name="password" required placeholder="<%=i18n.user.inputs.passwordPlaceHolder %>" autocomplete="off"/></label>
    </div>
    <br />
    <div >
        <label for="user_confirm_password"><span><%=i18n.user.passwordConfirm%></span>
        <input type="password" class="customInput" id="user_confirm_password" name="confirm_password"  required placeholder="<%=i18n.user.inputs.passwordConfirmPlaceHolder %>" autocomplete="off"/></label>
    </div>
    <br />

    <div>
        <button class="login" type="submit" value="Reset password"><%=i18n.user.actions.resetPassword%></button>
        <br />
    </div>
</form>
