
<div class="main">
    <h1>
    <%=i18n.user.title%>:
    </h1>

    <ul>
        <li>
            <%=i18n.user.username%>:
            <b><%= user.username %></b>
        </li>

        <li>
            Rol:
            <b><%= user.isStudent ? i18n.user.roles.student : i18n.user.roles.teacher %></b>
        </li>
        <% if(user.isAdmin) {%>
        <li>
            <b>i18n.user.roles.admin</b>: Sí
        </li>
        <% } %>

    </ul>

    <% if (session.user) { %>
    <p>
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit">
            <button type="button"><%=i18n.common.edit%></button>
        </a>
        <% } %>
        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
        <a href="/users/<%= user.id %>?_method=DELETE">
            <button type="button"
                    onClick="return confirm('<%=i18n.common.delete%> <%=i18n.user.title%>: <%= user.username %>');">
                <%=i18n.common.delete%>
            </button>
        </a>
        <% } %>
    </p>
    <% } %>

    <a href="/goback"><button type="button"><%=i18n.common.back%></button></a>

</div>