
<div class="main">
    <h1>
    <%=i18n.user.title%>:
    </h1>

    <ul>
        <li>
            <%=i18n.user.username%>:
            <b><%= user.username %></b>
        </li>

        <li>
            Rol:
            <b><%= user.isStudent ? i18n.user.roles.student : i18n.user.roles.teacher %></b>
        </li>
        <% if(user.isAdmin) {%>
        <li>
            <b>i18n.user.roles.admin</b>: Sí
        </li>
        <% } %>

    </ul>

    <% if (session.user) { %>
    <p>
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit">
            <button type="button"><%=i18n.common.edit%></button>
        </a>
        <% } %>
        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
        <button type="button" onclick="overlayTrigger('delete-user')">
            <%=i18n.common.delete%>
        </button>
        <div class="overlay-trigger" data-id="delete-user" style="left: 130px;">
            <form method="POST" action="/users/<%= user.id %>?_method=DELETE">
                <p><%=i18n.common.delete%> <%=i18n.user.user%>: <%= user.username %></p>
                <button class="deleteButton" type="button" onclick="overlayTrigger('delete-user', true)"><%=i18n.common.cancel%></button>
                <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
            </form>
        </div>
        <% } %>
    </p>
    <% } %>

    <a href="/goback"><button type="button"><%=i18n.common.back%></button></a>

</div>
<script>
    const overlayTrigger = (id, close) => {
        $('.overlay-trigger').hide();
        if (!close) {
            $('.overlay-trigger[data-id="' + id + '"]').show();
        }
    };
</script> 