<%- include ("../partials/_header.ejs") %>
<div role="main" class="main student">
    <div class="dialog" >
        <form method='POST' id="form" action='/ctfs/<%= escapeRoom.id %>/turnos/<%=turno.id%>'  >

            <% if ((turno.password || escapeRoom.invitation) === token) {%>
                <h1><%=i18n.escapeRoom.invitation.wannaJoin%> "<%= escapeRoom.title %>"?</h1>
                <input type="hidden" name="token" value="<%=token%>"/>
            <% } else { %>
                <h1 class="typePasscode centeredSmall"><%=i18n.escapeRoom.invitation.typePasscode%> "<%= escapeRoom.title %>"</h1>

                <input type="text" autofocus class="tokenInput" name="token" value=""/>
            <% } %>
            </br>
            <div class="join-button-flex-container">
                
                <div class="delete-button-container">
                    <a href='/ctfs'>
                        <button class="deleteButton" type="button" style="display:inline-block;"><%=i18n.escapeRoom.invitation.no%></button>
                    </a>
                </div>
                <div class="accept-button-container">
                    <button class="acceptButton" type="submit" style="display:inline-block;"><%=i18n.escapeRoom.invitation.yes%></button>
                </div>

            </div>
        </form>
    </div>
</div>

