
<%
const monthArray = [ 
	i18n.turnos.months.jan,
    i18n.turnos.months.feb,
    i18n.turnos.months.mar,
    i18n.turnos.months.apr,
    i18n.turnos.months.may,
    i18n.turnos.months.jun,
    i18n.turnos.months.jul,
    i18n.turnos.months.aug,
    i18n.turnos.months.sep,
    i18n.turnos.months.oct,
    i18n.turnos.months.nov,
    i18n.turnos.months.dec
];

const formatDate = function (currentDate) {
    return `${currentDate.getDate()} de ${monthArray[currentDate.getMonth()]} de ${currentDate.getFullYear()}`;
};
var pastDates = [];
%>
<div>
<% for (var i in turnos) { %>
<% 	var turn = turnos[i];
	var date = new Date(turn.date);
	var dateNoTime = new Date(turn.date);
	dateNoTime.setHours(0,0,0,0); %>
<%	if (pastDates.indexOf(dateNoTime.getTime()) === -1) {
  		pastDates.push(dateNoTime.getTime()); %>
		</div>
		<p class="turno-date-title-show">
				<%= turn.date ? formatDate(dateNoTime) : "Siempre abierto" %>
		</p>
		<div class="flexBoxTurnos">
	<%}%>
		<a href="<%=turn.status === 'active' ? '/escapeRooms/'+escapeRoom.id+'/turnos/'+turn.id+'/play' : ''%>" >
		<div class="turno turno-play turnoProfe <%=turn.status === "active" ? "active" : "finished" %>" data-date="<%=dateNoTime.getTime()%>">
			<div class="hora">
				<%- turn.date ? formatTime(date) : '<span class="always">always</span>' %>
			</div>
			<div class="indications">
				<% if (turn.indications) { %>
					<%= turn.indications %> <br/>
				<% } else { %> 
					<em class="no-indications"><%=i18n.turnos.noIndications%></em>
				<% } %>
			</div>
		</div>
		</a>
       
<%}%>
</div>