
<%
const monthArray = Object.values(i18n.turnos.months);
const formatDate = function (currentDate) {
    if (i18n.lang === "es") { 
        return `${currentDate.getDate()} de ${monthArray[currentDate.getMonth()]} de ${currentDate.getFullYear()}`;
    } else {
        let ord = "th"
        switch(currentDate.getDate().toString()) {
            case "1": case "21": case "31":
                ord = "st"; break;
            case "2": case "22":
                ord = "nd"; break;
            case "3": case "23":
                ord = "rd"; break;
            default: 
                ord = "th";
        }
        return `${monthArray[currentDate.getMonth()]} ${currentDate.getDate()}${ord}, ${currentDate.getFullYear()}`;    
    } 
};
var pastDates = [];
%>
<div>
<% for (var i in turnos) { %>
<% 	var turn = turnos[i];
	var date = new Date(turn.date);
	var dateNoTime = new Date(turn.date);
	dateNoTime.setHours(0,0,0,0); %>
<%	if (pastDates.indexOf(dateNoTime.getTime()) === -1) {
  		pastDates.push(dateNoTime.getTime()); %>
		</div>
		<p class="turno-date-title-show">
			<%= turn.date ? formatDate(dateNoTime) : i18n.turnos.alwaysOpen %>
		</p>
		<div class="flexBoxTurnos">
	<%}%>
	<a href="<%=turn.status === 'active' ? '/escapeRooms/'+escapeRoom.id+'/turnos/'+turn.id+'/play' : ''%>" >
		<div class="turno turno-play turnoProfe <%=turn.status === "active" ? "active" : "finished" %>" data-date="<%=dateNoTime.getTime()%>">
			<div class="hora">
				<%- turn.date ? formatTime(date) : `<span class="always">${i18n.turnos.always}</span>`%>
			</div>
			<div class="indications">
				<% if (turn.indications) { %>
					<%= turn.indications %> <br/>
				<% } else { %> 
					<em class="no-indications"><%=i18n.turnos.noIndications%></em>
				<% } %>
			</div>
		</div>
	</a>
<%}%>
</div>