<link rel="stylesheet" href="/stylesheets/vendor/owl.carousel.min.css">
<link rel="stylesheet" href="/stylesheets/vendor/owl.theme.default.css">
<% include ../partials/_header.ejs %>
<%
const monthArray = Object.values(i18n.turnos.months);
const formatDate = function (currentDate) {
    if (i18n.lang === "es") { 
        return `${currentDate.getDate()} de ${monthArray[currentDate.getMonth()]} de ${currentDate.getFullYear()}`;
    } else {
        let ord = "th"
        switch(currentDate.getDate().toString()) {
            case "1": case "21": case "31":
                ord = "st"; break;
            case "2": case "22":
                ord = "nd"; break;
            case "3": case "23":
                ord = "rd"; break;
            default: 
                ord = "th";
        }
        return `${monthArray[currentDate.getMonth()]} ${currentDate.getDate()}${ord}, ${currentDate.getFullYear()}`;    
    } 
};
%>
<div class="main student" style="display: flex; justify-content: center; align-items: center;">
    <div class="dialog" >
        <h1 style="font-size: xx-large;">
            <%=i18n.turnos.selectStudent%>:
        </h1>
        <%
        var pastDates = [];
        var firstDiv = false;
        %>
        <%if (turnos && turnos.length > 0) {%>
            <div class="owl-carousel">
                <% for (var i in turnos) { %>
                    <% 	var turn = turnos[i];
                        if (turn.date && new Date(turn.date.getTime() + (escapeRoom.duration||0)*60000) < new Date()){
                           continue; 
                        }
                        var date = new Date(turn.date);
                        var dateNoTime = new Date(turn.date);
                        dateNoTime.setHours(0,0,0,0); %>
                    
                    <%	if (pastDates.indexOf(dateNoTime.getTime()) === -1) {
                        pastDates.push(dateNoTime.getTime());
                    if (firstDiv) {
                    %>
                            </div>
                    </div>
                    <% } else {
                        firstDiv = true;
                    }%>
    <div class="day-wrapper">
        <p class="turno-date-title-show centeredSmall">

        <%= turn.date ? formatDate(dateNoTime) : i18n.turnos.alwaysOpen %>

        <div class="flexBoxTurnos">
            <%}%>
            <% var disabled = ((escapeRoom.nmax && turn.students.length >= escapeRoom.nmax) || turn.status === 'finished');%>
            <div class="turno turnoAlumno <%= disabled ? "disabled finished":""%>" data-date="<%=dateNoTime.getTime()%>" id="turno-<%=turn.id%>" data-id="<%=turn.id%>">
                <div class="hora">
                    <%- turn.date ? formatTime(date) : `<span class="always">${i18n.turnos.always}</span>` %>
                </div>
                <div class="place">
                    <% if (turn.place) { %>
                        <%= turn.place %> <br/>
                    <% } else { %>
                            <span class="no-place"><%=i18n.turnos.noPlace%></span>
                    <% } %>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
<%}%>
<div class="join-button-flex-container">
    <form method='GET' action='/escapeRooms'>
        <button class="rounded deleteButton" type="submit" style="display:inline-block;"><%=i18n.common.cancel%></button>
    </form>
    <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/turnos/xxxx/select?token=<%=token%>'>
        <input type="hidden" id="turnSelected" name="turnSelected" value="0">
        <button disabled id="continue" class="rounded acceptButton" type="submit" style="display:none;"><%=i18n.common.continue%></button>
    </form>
</div>
</div>
</div>
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/turnoSelect.js"></script>
<script>
var repl = false;
$('#form').on('submit', function(e){
    if (!repl) {
        e.preventDefault();
        repl= true;
        let action = document.getElementById('form').getAttribute('action');
        action = action.replace("xxxx", $('#turnSelected').val());
        $('#form').attr('action', action);
        $('#form').submit();
    }
});
</script>