
<div class="flexBoxTurnos">
<% for (var i in turnos) {
 	var turn = turnos[i];
	var date = new Date(turn.date);
	var dateNoTime = new Date(turn.date);
	dateNoTime.setHours(0,0,0,0);
	%> 
		<div class="turno <%= turn.date ? '' : 'always' %>" data-date="<%=getDashDate(dateNoTime)%>">
			<div class="hora">
				<%- turn.date ? formatTime(date) : `<span class="always">${i18n.turno.always}</span>` %>
			</div>
			<div class="place">
				<% if (turn.place) { %>
					<%= turn.place %> <br/>
				<% } %>
			</div>
			<form method="POST" action="/escapeRooms/<%= escapeRoom.id %>/turnos/<%=turn.id%>?_method=DELETE">
        		<button type="submit" class="little-button less" title="<%=i18n.escapeRoom.steps.turnos.deleteTitle%>" >
        			<span class="material-icons">delete</span>
        		</button>
			</form>
			<button type="button" class="little-button more edit-turno" title="<%=i18n.escapeRoom.steps.turnos.editTitle%>" data-turno-id="<%=turn.id%>" >
				<span class="material-icons">edit</span>
			</button>
		</div>
<%}%>
<div class="turno always addItem addTurno"  >
		<span>+</span>
</div>
<!-- <% include ./new %> -->
</div>
