<% include ../partials/_header.ejs %>
<div class="main escapeRooms">
	<h1>
		<%=i18n.resources.selectResource%>
	</h1>
	<div class="flexBoxEscapeRooms">
		<% for (var i in resources) { %>
            <% var resource = resources[i]; %>
            <% var config = resource.config ? JSON.parse(resource.config): {}; %>
			<% var attachment = resource.app.attachment; %>
			<a href="/resources/<%= resource.id %>" class="escapeRoomItemWrapper animated bounceIn" style="animation-delay: <%=100*i%>ms;">
				<div class="escapeRoomItem">
					<div class="erFoto" style="text-align: center">
						<div class="bckgFoto" style="background-image: url(/apps/<%=resource.app.key%>/thumbnail.png)"></div>
						<h2 class="escapeRoomTitle"><%= config.title || resource.app.name %></h2>
					</div>
	
				</div>
			</a>
			
        <% } %>
        <% if (user && !user.isStudent) { %>
            <a href="/resources/" class="escapeRoomItemWrapper animated bounceIn">
                <div class="escapeRoomItem addEscapeRoom gugi">
                    <span>+</span>
                </div>
            </a>
        <% } %>
	</div>
</div>
<% include ../partials/_footer.ejs %>
