<% include ../../partials/_header.ejs %>

<div class="main retosSuperados ranking finish">
	<div class="content">
		<h2 style="text-align:center;"><%=i18n.showStudent.congrats%></h2>
		<% if (teams && teams.length >=3 ) {%>
			<%-include("../../partials/_podium")%>
		<% } %>
		<br/><br/>

		<% if (escapeRoom.posttest) { %>
			<div class="desc animated slideInUp" style="text-align: center;">
				<%=i18n.showStudent.beforeLeave%>
				 <br/><br/>
				<a target="_blank" href="<%=escapeRoom.pretest%>">
					<button class="rounded finish-button"><%=i18n.showStudent.access%></button>
				</a> 
			</div>
			<br/><br/><br/>
		<% } %>
		<% if (escapeRoom.survey) { %>
			<div class="desc  animated slideInUp" style="text-align: center;">
				<%=i18n.showStudent.opinion%> <br/><br/>
				<a  target="_blank" href="<%=escapeRoom.survey%>">
					<button class="rounded finish-button"><%=i18n.showStudent.access%></button>
				</a>
			</div>
		<% } %>
		<br/><br/>
		<% if (teams.length > 0) { %>
		    <table>
			    <tr>
			    	<th><%=i18n.analytics.ranking.team%></th>
			    	<th><%=i18n.analytics.ranking.members%></th>
			    	<th><%=i18n.analytics.ranking.res%></th>
			    	<th><%=i18n.analytics.ranking.time%></th>

			    </tr>
			    
			    <% for (var t in teams) { 
			    	var team = teams[t];
			    	var stringified = JSON.parse(JSON.stringify(team));
			    	var count = stringified.countretos;
			    	var startTime = stringified.turno.startTime;
			    	var latestRetoSuperado = stringified.latestretosuperado;
			    	var res = count + "/" + escapeRoom.puzzles.length;
			    	var myTeam = false;
			    	var participants = team.teamMembers.map(member=> {
						if (member.id === userId) {
							myTeam = true;
						}
						return member.name + " " + member.surname}).join(", ");
			    	%>
				    <tr class="<%=myTeam ? "myTeam":""%>">
				    	<td><b><%=team.name%></b></td>
				    	<td>
				    		<%=participants%>
				    	</td>
				    	<td><%=res%></td>
				    	<td>
				    		<% if(escapeRoom.puzzles.length === parseInt(count) && startTime) { %>
				    			<%= secondsToDhms((new Date(latestRetoSuperado) - new Date(startTime))/1000)  %>
				    		<% } else { %>
				    			n/a
				    		<%}
				    	%></td>

				    </tr>
			    <% } %>
			</table>
		<% } %>
	</div>
</div>
<% include ../../partials/_footer %>
