<% include ../../partials/_header.ejs %>

<div class="main ranking finish">
	<div class="content">
		<h2 style="text-align:center;"><%=i18n.showStudent.congrats%></h2>
		<% if (teams && teams.length >= 3 ) {%>
			<%-include("../../partials/_podium")%>
		<% } %>
		<br/><br/>
		<% if (teams.length > 0) { %>
			<ranking/>
			<% include ../../partials/_ranking %>
		<% } %>
	</div>
</div>
<br/>
<br/>
<script src="/js/vendor/socket.io.js"></script>
<script src="/js/ranking.js"></script>
<script>
	var escapeRoomId = "<%= escapeRoom.id%>";
	var nPuzzles = "<%= escapeRoom.puzzles.length%>";
    initSocketServer(<%= escapeRoom.id%>, <%= teamId || "undefined"%>, <%=turnoId || "undefined" %>)
</script>
<br/>
<% include ../../partials/_footer %>
