<% include ../../partials/_header.ejs %>

<div class="main ranking finish">
	<div class="content">
		<h2 style="text-align:center;"><%=i18n.showStudent.congrats%></h2>
		<% if (teams && teams.length >=3 ) {%>
			<%-include("../../partials/_podium")%>
		<% } %>
		<br/><br/>
		<!--
			<% if (escapeRoom.posttest) { %>
				<div class="desc animated slideInUp" style="text-align: center;">
					<%=i18n.showStudent.beforeLeave%>
					 <br/><br/>
					<a target="_blank" href="<%=escapeRoom.pretest%>">
						<button class="rounded finish-button"><%=i18n.showStudent.access%></button>
					</a>
				</div>
				<br/><br/><br/>
			<% } %>
			<% if (escapeRoom.survey) { %>
				<div class="desc  animated slideInUp" style="text-align: center;">
					<%=i18n.showStudent.opinion%> <br/><br/>
					<a  target="_blank" href="<%=escapeRoom.survey%>">
						<button class="rounded finish-button"><%=i18n.showStudent.access%></button>
					</a>
				</div>
			<% } %>
		-->
		<% if (teams.length > 0) { %>
			<% include ../../partials/_ranking %>
		<% } %>
		<br/>
	</div>
</div>
<br/>
<% include ../../partials/_footer %>
