<html>
<head>
    <meta charset="utf-8">
    <title><%=escapeRoom.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/vendor/easy-alert.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/socket.io.js"></script>
    <script src="/js/play.js"></script>
    <link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"]%>.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/play.css">
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css">
    <link rel="stylesheet" href="/stylesheets/vendor/easy-alert.css">


</head>
<body>
<a class="backToMain" href="/escapeRooms/<%=escapeRoom.id%>">&#11013;
</a>
<%if (isStudent) {%><span style="float: right;"><b>Equipo: </b><%=team.name%></span><%}%>
<div class="previewContainer">
    <div class="container-fluid">
        <div class=" row-centered">
            <div class="col-xs-12 text-left ql-editor instructionsShow" id="editor">
                <% if (escapeRoom[endPoint + "Instructions"]) {%>
                    <%-escapeRoom[endPoint + "Instructions"] %>
                <% } %>
            </div>
        </div>
        <% if (endPoint === "team" && escapeRoom.hintApp) {%>
            <div class=" row-centered">
                <div class="col-xs-12">
                    <div >
                        <h4><%=i18n.hint.Hints%></h4>
                        <ul id="hintList" >
                        <% for (var h in hints) {
                            let hint = hints[h];
                            if (hint) {%>
                            <li>
                                <div class="card border-info mb-3">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <%=hint.hint ? hint.hint.content : i18n.hint.empty%>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }
                        } %>
                        </ul>
                        <br/>
                        <button onclick="previewHintApp()" id="btn-hints" class="btn btn-primary">
                            <%=i18n.hint.need%>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
        <br/><br/>
        <% 
        var finish = false;
        %>
        <%if (isStudent) { %>
            <% 
            var retosSuperados = team.retos.map(a=>a.id);
            finish = retosSuperados.length === escapeRoom.puzzles.length;
            %>
            <div class="dialog" >
                <div class="dialog-content">
                    <% if (finish) {   %>
                        <h4 id="puzzles"><%=i18n.puzzle.finish%></h4>
                        <br/>
                        <a href="/escapeRooms/<%= escapeRoom.id %>/finish">
                            <button class="btn btn-primary">
                                <%=i18n.common.finish%>
                            </button>
                        </a>
                    <%} else if(!escapeRoom.automatic){ %>
                        <% include ../../partials/_puzzleInterface.ejs %>
                    <%}%>
                </div>
            </div>

        <% } %>

        <div class=" row-centered">
            <div class="col-xs-12">
            <% include ../../partials/_countdown.ejs %>
            </div>
        </div>
    </div>
</div>
<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
    initSocketServer(<%= escapeRoom.id%>, <%= team.id || "undefined"%>, <%= team.turno ? team.turno.id : "undefined" %>)
    var i18n = {
        empty: "<%=  i18n.hint.empty %>", 
        dontClose:  "<%= i18n.hint.dontClose %>", 
        failed: "<%= i18n.hint.failed %>"
    };
</script>
<script src="/js/handleHintApp.js"></script>
<%- include("../../partials/_flash",{bs:true}) %>

</body>
</html>
