<!doctype html>
<html lang="<%=i18n.lang%>">
<head>
    <title><%=escapeRoom.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/easy-alert.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/socket.io.js"></script>
    <script src="/js/vendor/confetti.min.js"></script>
    <script src="/js/vendor/fullscreen.js"></script>
    <script src="/js/play.js"></script>
    <link rel="stylesheet" href="/stylesheets/vendor/easy-alert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera" %>.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/play.css">
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css">
    <%- include ("../../partials/_icons.ejs") %>
    <%- include ("../../partials/_seo.ejs") %>
</head>
<body>
    <% var currentlyWorkingOn = null %>
    <% var latestRetoSuperado =  null %>
    <% var reqHints = {}; %>
    <% var customHints = 0; %>
    <% var reqHintsList = []; %>
    <% var automaticHints = 0 %>
    <% var pending = [] %>
    <% var retosSuperados = []%>
    <% var retosSuperadosIds = []%>
    <% var progress = 0; %>
    <% var finish = false; %>
    
    <% var content = JSON.parse(escapeRoom[endPoint + "Instructions"] || "[]").map((block, index) => ({...block, index}))  %>
    <% if (isStudent) { %>
        <% var hintConditional  = (!escapeRoom.hintLimit && escapeRoom.hintLimit !== 0 ) || escapeRoom.hintLimit > 0; // Hints allowed %>
        <% var hintAppConditional = hintConditional && Boolean(escapeRoom.hintApp); // Hint app methodology %>
        <% retosSuperados = team.retos.map(a=>a.order);%>
        <% retosSuperadosIds = team.retos.map(a=>a.id);%>
        <% for (let h in hints) {
            let hint = hints[h]
            if (hint && hint.hint) {
                reqHintsList.push(hint.hintId);
                automaticHints++;
            } else {
                customHints++
            }
        } %>
        <% progress = Math.round(retosSuperados.length / escapeRoom.puzzles.length * 100); %>
        <% finish = retosSuperados.length === escapeRoom.puzzles.length; %>
        <% latestRetoSuperado = retosSuperados.length ? Math.max(...retosSuperados) : null %>
        <% currentlyWorkingOn = retosSuperados.length ? (Math.max(...retosSuperados) + 1) : 0 %>
        <% if (finish) { currentlyWorkingOn = null;} %>
        <% content = getContentForPuzzle(escapeRoom[endPoint + "Instructions"], currentlyWorkingOn === null ? "all": currentlyWorkingOn)%>
    <% } %>

        <% var puzzles = escapeRoom.puzzles.map(({ id, order, title, score, correct, automatic, hints })=>{ 
            reqHints[order] = [];
            var noSuperado = retosSuperados.indexOf(order) === -1;
            if (noSuperado) {
                pending.push(order)
            }
            const categories = Array.from(new Set(hints.map(h=>h.category)));
            return { id, title, order, score, correct, automatic, categories, hints: hints.reduce((a,b) => {
                if (reqHintsList.indexOf(b.id) === -1){
                    if ( a[b.category]) {
                        a[b.category].push(b.order)
                    } else {
                        a[b.category] = [b.order];
                    }
                } else {
                    reqHints[order].push(b.order);
                    if (!a[b.category]) {
                        a[b.category] = [];
                    }
                }
                return a;
            }, {})}}) %>
            <%
                if (!finish && pending.length && currentlyWorkingOn >= puzzles.length) {
                    currentlyWorkingOn = pending[0];
                }
            %>
    <nav class="navbar fixed-top navbar-expand-md justify-content-between navbar-fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#" > 
            <%=escapeRoom.title%></a>
        <%if (isStudent && (!escapeRoom.teamSize || escapeRoom.teamSize > 1)) {%>
            <span class="navbar-text  navbar-team-name" title="<%= session.user.username %>">
                <b><%=i18n.team.Team%>: </b><%=team.name%>
            </span>
        <%} else if (isStudent) {%>
            <span class="navbar-text">
                <b><%=session.user.username%></b>
            </span>
        <%}%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-div" aria-controls="navbar-collapse-div" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar-collapse-div">
          <%if (isStudent && currentlyWorkingOn !== null) {%> 
            <% const puzzle = puzzles[currentlyWorkingOn] %>
            <div class="form-inline mmy-2 my-lg-0 ms-auto" style="margin-bottom: 0 !important; <%=puzzle.automatic ? 'display: none;' : ''%>" id="puzzle-form" > 
              <label class="puzzle-label">
                <span class="navbar-text puzzle-title" id="puzzle-title" data-puzzle-order="<%= puzzle.order %>"><%=puzzle.title%>
                </span>&nbsp;
                </label>
            <input class="form-control mr-sm-2 puzzle-input" id="puzzle-input" type="text" autocomplete="off" placeholder="<%=i18n.escapeRoom.play.writeSol%>" data-puzzle-order="<%= puzzle.order %>">
            <button class="btn btn-success my-2 my-sm-0" id="puzzle-check-btn" data-toggle="tooltip" type="button" data-puzzle-order="<%= puzzle.order %>" title="<%=i18n.escapeRoom.play.check%>"><span class="material-icons ">check</span></button>
          </div>
          <%}%>
        
          <ul class="navbar-nav my-lg-0 ml-auto">
            <li class="nav-item active" id="finish" style="display: none;">
                <a class="nav-link" href="/escapeRooms/<%=escapeRoom.id%>/finish" data-toggle="tooltip" title="<%=i18n.escapeRoom.play.Finish%>">
                    <button class="btn btn-success" >
                        <span class="material-icons ">star</span>
                    </button>
                </a>
            </li>
            <% if (endPoint === "team") {%>
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-toggle="tooltip" title="<%=i18n.escapeRoom.play.Info%>">
                        <button class="btn btn-info" data-toggle="modal" data-toggle="tooltip"  data-target="#hintModal" title="<%=i18n.escapeRoom.play.Info%>">
                            <span class="material-icons ">info</span>
                        </button>

                    </a>
                </li>
            <%}%>
            <%if (hintConditional){%>
            <li class="nav-item active" id="">
                <a class="nav-link btn-hints-title" id="btn-hints-nav-tooltip" data-toggle="tooltip"" href="#" title="<%=i18n.escapeRoom.play.canRequest%>">
                    <button class="btn btn-warning btn-hints btn-hints-nav" title="<%=i18n.escapeRoom.play.canRequest%>">
                        <span class="material-icons ">search</span>
                    </button>
                </a>
            </li>
            <%}%>

            <%if(escapeRoom.supportLink) {%>
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="sl-tooltip" data-toggle="tooltip" title="<%=i18n.showStudent.supportLink%>">
                        <button class="btn btn-danger live_support" data-container="body" data-placement="bottom" onclick="$('#sl-tooltip').tooltip('hide')" data-toggle="popover" title="<%=i18n.showStudent.supportLink%>">
                            <span class="material-icons ">record_voice_over</span>
                        </button>
                    </a>
                    <script>
                        $(()=>{
                            $('.live_support').popover({
                                html: true,
                                content: `<p><%=i18n.escapeRoom.play.confirmSupport%></p>
                                    <p class="popover-p live-support-popover">
                                        <a class="btn btn-primary btn-sm popover-btn" href="#" id="cancelLiveSupport">
                                            <%=i18n.common.cancel%>
                                        </a>
                                        <a class="btn btn-success btn-sm popover-btn" target='_blank' href="<%=escapeRoom.supportLink%>">
                                            <%=i18n.common.accept%>
                                        </a>
                                    </p>
                                    `
                                
                            });
                            $(document).on("click", ".live-support-popover .popover-btn", ()=>{
                                $('.live_support').popover('hide');
                                
                            });
                        });
                    </script>
                </li>
                <%}%>
                <% if (endPoint === "class") {%>
                    <% if (status === "active") {%>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" id="stop-tooltip" data-toggle="tooltip" title="<%=i18n.escapeRoom.play.stop%>">
                            <button class="btn btn-warning stop-turno" data-container="body" data-placement="bottom" onclick="$('#stop-tooltip').tooltip('hide')" data-toggle="popover" title="<%=i18n.escapeRoom.play.stop%>">
                                <span class="material-icons ">stop</span>
                            </button>
                        </a>
                        <form id="stop-turno" method="POST" action="/escapeRooms/<%=escapeRoom.id%>/activate?_method=put">
                            <input type="hidden" id="turnSelected" name="turnSelected" value="<%=turnoId%>"></input>
                        </form>
                        <script>
                            $(()=>{
                                $('.stop-turno').popover({
                                    html: true,
                                    content: `<p stop-popover">
                                        <%=i18n.turno.areYouSureStop%>
                                        </p>
                                        <p class="popover-p stop-popover">
                                                <a class="btn btn-primary btn-sm popover-btn" href="#">
                                                    <%=i18n.common.cancel%>
                                                </a>
                                                <a class="btn btn-success btn-sm popover-btn stop-turno-confirm" href="#">
                                                    <%=i18n.common.confirm%>
                                                </a>
                                            </p>
                                        `
                                });
                                $(document).on("click", ".stop-popover .popover-btn", ()=>{
                                    $('.stop-turno').popover('hide');
                                });
                                $(document).on("click", ".stop-turno-confirm", ()=>{
                                    $('#stop-turno').submit();
                                });
                            })
                        </script>
                    </li>
                    <%}%>
                    <li class="nav-item active">
                        <a class="nav-link" href="/escapeRooms/<%=escapeRoom.id%>/analytics?turnId=<%=turnoId%>" data-toggle="tooltip" title="<%=i18n.escapeRoom.play.Analytics%>">
                            <button class="btn btn-success" >
                                <span class="material-icons ">timeline</span>
                            </button>
                        </a>
                    </li>
                   

                <%}%>
                <li class="nav-item active">
                    <a class="nav-link" href="/escapeRooms/<%=escapeRoom.id%>" data-toggle="tooltip" title="<%=i18n.escapeRoom.play.Exit%>">
                        <button class="btn btn-light" >
                            <span class="material-icons ">exit_to_app</span>
                        </button>
                    </a>
                </li>
          </ul>
        </div>
      </nav>
<div class="navbar navbar-expand-lg" style="visibility:hidden;">
<ul class="navbar-nav my-lg-0 ml-auto">
    <li class="nav-item ">
        <a class="nav-link" >
            <button class="btn">
                <span class="material-icons ">live_help</span>
            </button>
        </a>
    </li>
    </ul>
</div>
<div class="previewContainer">
    <div class="container-fluid">
        <div class=" row-centered">
            <div class="col-xs-12 text-left editor instructionsShow" id="editor">
                
            </div>
        </div>
        <br/>
        <br/>
        <div class=" row-centered">
            <div class="col-xs-12">
            <%- include ("../../partials/_countdown") %>
            <%- include ("../../partials/_ranking") %>
            </div>
        </div>
    </div>
</div>
<% if (endPoint === "team") {%>
    <%- include ("../../partials/_hints_modal",{retosSuperados, hintConditional, reqHintsList, currentlyWorkingOn, pending}) %>

<%}%>
<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
    var username = "<%= session.user.username %>";
    var teamId = <%= team.id || "undefined"%>; 
    var token = "<%= token%>";
    var ER = {
        "locale": "<%=i18n.lang%>",
        "escappEndpoint": "<%=hostName + "/api/escapeRooms/" + escapeRoom.id %>",
        "info": {
            "escapeRoomPuzzles": <%- JSON.stringify(puzzles)%>,
            "totalPuzzles": <%= escapeRoom.puzzles.length %>,
            "hintConditional": <%= hintConditional || false %>,
            "hintAppConditional":  <%= hintAppConditional || false%>,
            "hintInterval":  <%= escapeRoom.hintInterval || 0%>,
            "allowCustomHints": <%= escapeRoom.allowCustomHints ? "true" : "false"%>,
            "escapeRoomHintLimit": <%= (escapeRoom.hintLimit === undefined || escapeRoom.hintLimit === null ) ? "undefined" : escapeRoom.hintLimit %>
        },
        "erState": {
            "startTime": new Date("<%=team.startTime%>"),
            "currentlyWorkingOn": <%=(currentlyWorkingOn !== undefined && currentlyWorkingOn !== null ) ? currentlyWorkingOn :  "null"%>,
            "retosSuperados": <%-JSON.stringify(retosSuperados)%>,
            "pending": <%=JSON.stringify(pending)%>,
            "latestRetoSuperado": <%=JSON.stringify(latestRetoSuperado)%>,
            "latestHintObtained":  <%if (hints.length) { %> new Date("<%=hints[hints.length-1].createdAt%>") <% } else { %>null <%}%>,
            "customHints": <%=customHints%>,
            "automaticHints":  <%=automaticHints%>,
            "reqHints": JSON.parse('<%-JSON.stringify(reqHints)%>'),
            "waitingForHintReply": false,
            "waitingForPuzzleReply": false,
            "content": <%- JSON.stringify( content )%>
        }
    };
    initSocketServer(escapeRoomId, teamId, <%= turnoId || (team.turno ? team.turno.id : "undefined") %>, username);
    
    var i18n =  <%-JSON.stringify(i18n.escapeRoom.play)%>;
    i18n.instructionsQuiz = "<%=i18n.escapeRoom.play.instructionsQuiz1 + ' ' + (Math.round(escapeRoom.numRight/100*escapeRoom.numQuestions)) + ' ' + i18n.escapeRoom.play.instructionsQuiz2 + ' ' + (escapeRoom.numQuestions || 1) + ' ' + i18n.escapeRoom.play.instructionsQuiz3%>";

</script>
<%- include("../../partials/_flash",{bs:true}) %>
<%- include("../../partials/_autoplay") %>

</body>
</html>
