<html lang="<%=i18n.lang%>">
<head>
    <title><%=escapeRoom.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/easy-alert.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/socket.io.js"></script>
    <script src="/js/vendor/confetti.min.js"></script>
    <script src="/js/play.js"></script>
    <link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
    <link rel="stylesheet" href="/stylesheets/vendor/easy-alert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera" %>.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/play.css">
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css">
    <% include ../../partials/_icons.ejs %>
    <% include ../../partials/_seo.ejs %>

</head>
<body>
<nav class="navbar navbar-light" style="padding: 0px 1em;">
    <a class="backToMain"  href="/escapeRooms/<%=escapeRoom.id%>">&larr;</a>
    <span class="erTitle"><%=escapeRoom.title%></span>
    <%if (isStudent && escapeRoom.teamSize > 1) {%>
        <span class="teamName"><b><%=i18n.team.Team%>: </b><%=team.name%></span>
    <%}%>
</nav>  
<div class="previewContainer">
    <div class="container-fluid">
        <div class=" row-centered">
            <div class="col-xs-12 text-left ql-editor instructionsShow" id="editor">
                <% if (escapeRoom[endPoint + "Instructions"]) {%>
                    <%-escapeRoom[endPoint + "Instructions"] %>
                <% } %>
            </div>
        </div>
    <% var hintConditional  = (!escapeRoom.hintLimit && escapeRoom.hintLimit !== 0 ) || escapeRoom.hintLimit > 0; // Hints allowed %>
    <% var hintAppConditional = hintConditional && Boolean(escapeRoom.hintApp); // Hint app methodology %>
    <% var reqHints = {}; %>
    <% escapeRoom.puzzles.map(r=>{reqHints[r.order] = []});%>
        <% if (endPoint === "team" && hintConditional) {%>
            <div class="row-centered">
                <div class="col-xs-12">
                    <div >
                        <h4><%=i18n.hint.Hints%></h4>
                        <ul id="hintList" >
                        <% for (var hint of hints) {
                            if (hint) {
                                if (hint.hint) {reqHints[hint.hint.puzzle.order.toString()].push(hint.hint.order);}%>
                            <li>
                                <div class="card border-info mb-3">
                                    <div class="card-body">
                                        <div class="card-text"><%=hint.hint ? hint.hint.content : i18n.hint.empty%></div>
                                    </div>
                                </div>
                            </li>
                            <% }
                        } %>
                        </ul>
                        <br/>
                        <button id="btn-hints" class="btn btn-primary"><%=i18n.hint.need%></button>
                    </div>
                </div>
            </div>
        <% } %>
        <br/><br/>
        <% 
        var finish = false;
        if (isStudent) { 
            var retosSuperados = team.retos.map(a=>a.order);
            var progress = Math.round(retosSuperados.length / escapeRoom.puzzles.length * 100);
            finish = retosSuperados.length === escapeRoom.puzzles.length;
            %>
            <script>
                var retosSuperados = <%=JSON.stringify(retosSuperados)%>;
                var totalPuzzles = <%= escapeRoom.puzzles.length %>;
                var puzzlesPassed = <%= retosSuperados.length %>;
                var progress = <%= !isNaN(progress) ? progress : undefined %>;
            </script>
            <div class="dialog" >
                <div class="dialog-content" id="finishPuzzles">
                <% var found = null; %>

                    <% if (finish) {   %>
                        <h4 id="puzzles"><%=i18n.puzzle.finish%></h4>
                        <br/>
                        <a href="/escapeRooms/<%= escapeRoom.id %>/finish">
                            <button class="btn btn-success">
                                <%=i18n.common.finish%>
                            </button>
                        </a>
                    <%} else { %>
                        <% include ../../partials/_puzzleInterface.ejs %>
                    <%}%>
                </div>
            </div>

        <% } %>

        <div class=" row-centered">
            <div class="col-xs-12">
            <% include ../../partials/_countdown.ejs %>
            <% include ../../partials/_ranking %>
            </div>
        </div>
    </div>
</div>

<% var puzzles = escapeRoom.puzzles
.map(({ id, order, title, score, automatic, hints })=>{ 
    const categories = Array.from(new Set(hints.map(h=>h.category)));
    return { id, title, order, score, automatic, categories, hints: hints.reduce((a,b) => {
        if (reqHints[order].indexOf(b.order) === -1){
            if ( a[b.category]) {
                a[b.category].push(b.order)
            } else {
                a[b.category] = [b.order];
            }
        } else {
            if (!a[b.category]) {
                a[b.category] = [];
            }
        }
        return a;
    }, {})}}) %>
<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
    var nPuzzles = "<%= escapeRoom.puzzles.length%>";
    var reqHints = JSON.parse('<%-JSON.stringify(reqHints)%>');
    var escapeRoomHintLimit = <%= (escapeRoom.hintLimit === undefined || escapeRoom.hintLimit === null ) ? "undefined" : escapeRoom.hintLimit %>;
    var teamId = <%= team.id || "undefined";%>   
    var username = "<%= session.user.username %>";
    var escapeRoomPuzzles = JSON.parse('<%-JSON.stringify(puzzles)%>');
    var hintConditional = <%= hintConditional || false %>;
    var hintAppConditional =  <%= hintAppConditional || false%>;
    var allowCustomHints = <%= escapeRoom.allowCustomHints ? "true" : "false"%>
    var currentlyWorkingOn = <%=(found !== undefined && found !== null ) ? found :  "null"%>;
    initSocketServer(<%= escapeRoom.id%>, teamId, <%= team.turno ? team.turno.id : "undefined" %>, username);
    var i18n = {
        "correctAnswer": "<%=i18n.puzzle.correctAnswer%>",
        "check": "<%=i18n.puzzle.check%>",
        "wrongAnswer": "<%=i18n.puzzle.wrongAnswer%>",
        "instructionsHints": "<%= i18n.hint.instructionsHints %>",
        "chooseCat": "<%= i18n.hint.chooseCat %>",
        "cantRequestMore": "<%= i18n.hint.cantRequestMore %>",
        "cantRequestMoreThis": "<%= i18n.hint.cantRequestMoreThis %>",
        "canRequest": "<%= i18n.hint.canRequest %>",
        "finishMsg": "<%=i18n.puzzle.finish%>",
        "finishButton": "<%=i18n.common.finish%>",
        "dontClose": "<%=i18n.hint.dontClose%>",
        "writeSol": "<%=i18n.puzzle.writeSol%>",
        "timeUp": "<%=i18n.api.timeUp%>",
        "teamJoined": "<%=i18n.api.teamJoined%>",
        "disconnect": "<%=i18n.api.disconnect%>",
        "reconnect": "<%=i18n.api.reconnect%>",
        "connected": "<%=i18n.api.connected%>"
    };


</script>
<%- include("../../partials/_flash",{bs:true}) %>

</body>
</html>
