<!doctype html>
<html lang="<%=i18n.lang%>">
<head>
    <title><%=escapeRoom.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/easy-alert.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/socket.io.js"></script>
    <script src="/js/vendor/confetti.min.js"></script>
    <script src="/js/vendor/fullscreen.js"></script>
    <script src="/js/play.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
    <link rel="stylesheet" href="/stylesheets/vendor/easy-alert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera" %>.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/play.css">
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css">
    <% include ../../partials/_icons.ejs %>
    <% include ../../partials/_seo.ejs %>
</head>
<body>
    <% var currentlyWorkingOn = null %>
    <% var latestRetoSuperado =  null %>

    <% if (isStudent) { %>
        <% var hintConditional  = (!escapeRoom.hintLimit && escapeRoom.hintLimit !== 0 ) || escapeRoom.hintLimit > 0; // Hints allowed %>
        <% var hintAppConditional = hintConditional && Boolean(escapeRoom.hintApp); // Hint app methodology %>
        <% var retosSuperados = team.retos.map(a=>a.order);%>
        <% var retosSuperadosIds = team.retos.map(a=>a.id);%>
        <% var reqHintsList = hints.map(h=>h.hintId).filter(Boolean); %>
        <% var reqHintsListOrder = hints.map(h=>h.hint ? h.hint.order : null).filter(a=>!isNaN(a)); %>
        <% var reqHints = {}; %>
        <% var progress = Math.round(retosSuperados.length / escapeRoom.puzzles.length * 100); %>
        <% var finish = retosSuperados.length === escapeRoom.puzzles.length; %>
        <% latestRetoSuperado = retosSuperados.length ? Math.max(...retosSuperados) : null %>
        <% currentlyWorkingOn = retosSuperados.length ? (Math.max(...retosSuperados) + 1) : 0 %>
        <% var pending = [] %>
        <% if (finish) { 
            currentlyWorkingOn = null;
        } %>
        
    <% } else {%>
        <% var retosSuperados = []%>
        <% var retosSuperadosIds = []%>
        <% var reqHints = []; %>
        <% var reqHintsList = []; %>
        <% var reqHintsListOrder = []; %>
        <% var pending = []; %>
        <% var progress = 0; %>
    <% } %>
        <% var puzzles = escapeRoom.puzzles.map(({ id, order, title, score, correct, automatic, hints })=>{ 
            reqHints[order] = [];
            var noSuperado = retosSuperados.indexOf(order) === -1;
            if (noSuperado) {
                pending.push(order)
            }
            const categories = Array.from(new Set(hints.map(h=>h.category)));
            return { id, title, order, score, correct, automatic, categories, hints: hints.reduce((a,b) => {
                if (reqHintsList.indexOf(b.id) === -1){
                    if ( a[b.category]) {
                        a[b.category].push(b.order)
                    } else {
                        a[b.category] = [b.order];
                    }
                } else {
                    reqHints[order].push(b.order);
                    if (!a[b.category]) {
                        a[b.category] = [];
                    }
                }
                return a;
            }, {})}}) %>
            <%
                if (!finish && pending.length && currentlyWorkingOn >= puzzles.length) {
                    currentlyWorkingOn = pending[0];
                }
            %>
    <nav class="navbar fixed-top navbar-expand-md justify-content-between navbar-fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><%=escapeRoom.title%></a>
        <%if (isStudent && escapeRoom.teamSize > 1) {%>
            <span class="navbar-text">
                <b><%=i18n.team.Team%>: </b><%=team.name%>
            </span>
        <%}%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-div" aria-controls="navbar-collapse-div" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar-collapse-div">
          <%if (isStudent && currentlyWorkingOn !== null) {%> 
            <% const puzzle = puzzles[currentlyWorkingOn] %>
            <div class=" form-inline my-2 my-lg-0 ms-auto" style="flex: 1;flex-wrap: nowrap;<%=puzzle.automatic ? 'display: none;' : ''%>" id="puzzle-form" > 
              <label style="flex: 1; justify-content: flex-end;">
                <span class="navbar-text puzzle-title" id="puzzle-title" data-puzzle-order="<%= puzzle.order %>"><%=puzzle.title%>
                </span>&nbsp;
            </label>
            <input class="form-control mr-sm-2 puzzle-input" id="puzzle-input" type="text" placeholder="<%=i18n.puzzle.writeSol%>" data-puzzle-order="<%= puzzle.order %>">
            <button class="btn btn-success my-2 my-sm-0" id="puzzle-check-btn" data-toggle="tooltip" type="button" data-puzzle-order="<%= puzzle.order %>" title="<%=i18n.puzzle.check%>"><span class="material-icons ">check</span></button>
          </div>
          <%}%>
          
          <ul class="navbar-nav my-lg-0 ml-auto">
            <li class="nav-item active" id="finish" style="display: none;">
                <a class="nav-link" href="/escapeRooms/<%=escapeRoom.id%>/finish" data-toggle="tooltip" title="<%=i18n.common.Finish%>">
                    <button class="btn btn-success" >
                        <span class="material-icons ">star</span>
                    </button>
                    
                </a>
            </li>
            <% if (endPoint === "team" && hintConditional) {%>
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-toggle="tooltip" title="<%=i18n.hint.Info%>">
                        <button class="btn btn-info" data-toggle="modal" data-toggle="tooltip" data-target="#hintModal" title="<%=i18n.hint.Info%>">
                            <span class="material-icons ">info</span>
                        </button>

                    </a>
                </li>
            <%}%>
            <li class="nav-item active" id="">
                <a class="nav-link btn-hints-modal-title" data-toggle="tooltip"" href="#" title="<%=i18n.hint.canRequest%>">
                    <button class="btn btn-warning btn-hints btn-hints-nav" title="<%=i18n.hint.canRequest%>">
                        <span class="material-icons ">search</span>
                    </button>
                </a>
            </li>

            <%if(escapeRoom.supportLink) {%>
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="sl-tooltip" data-toggle="tooltip" title="<%=i18n.showStudent.supportLink%>">
                        <button class="btn btn-danger live_support" data-container="body" data-placement="bottom" onclick="$('#sl-tooltip').tooltip('hide')" data-toggle="popover" title="<%=i18n.showStudent.supportLink%>">
                            <span class="material-icons ">record_voice_over</span>
                        </button>
                    </a>
                    <script>
                        $(()=>{
                            $('.live_support').popover({
                                html: true,
                                content: `<p><%=i18n.showStudent.confirmSupport%></p>
                                    <p class="popover-p">
                                        <a class="btn btn-primary btn-sm popover-btn" href="#" id="cancelLiveSupport">
                                            <%=i18n.common.cancel%>
                                        </a>
                                        <a class="btn btn-success btn-sm popover-btn" target='_blank' href="<%=escapeRoom.supportLink%>">
                                            <%=i18n.common.accept%>
                                        </a>
                                    </p>
                                    `
                                
                            })
                            $(document).on("click", ".popover-btn", ()=>{
                                $('.live_support').popover('hide');
                                
                            })
                        })
                    </script>
                </li>
                <%}%>
                <li class="nav-item active">
                    <a class="nav-link" href="/escapeRooms/<%=escapeRoom.id%>" data-toggle="tooltip" title="<%=i18n.common.Exit%>">
                        <button class="btn btn-light" >
                            <span class="material-icons ">exit_to_app</span>
                        </button>
                    </a>
                </li>
          </ul>
      </nav>
<div class="navbar navbar-expand-md" style="visibility:hidden;">
<ul class="navbar-nav my-lg-0 ml-auto">
    <li class="nav-item ">
        <a class="nav-link" >
            <button class="btn">
                <span class="material-icons ">live_help</span>
            </button>
        </a>
    </li>
    </ul>
</div>
<div class="previewContainer">
    <div class="container-fluid">
        <div class=" row-centered">
            <div class="col-xs-12 text-left ql-editor instructionsShow" id="editor">
                <% if (escapeRoom[endPoint + "Instructions"]) {%>
                    <%-escapeRoom[endPoint + "Instructions"] %>
                <% } %>
            </div>
        </div>
        <br/>
        <br/>
        <div class=" row-centered">
            <div class="col-xs-12">
            <% include ../../partials/_countdown %>
            <% include ../../partials/_ranking %>
            </div>
        </div>
    </div>
</div>
<% if (endPoint === "team" && hintConditional) {%>
    <% include ../../partials/_hints_modal %>

<%}%>

<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
    var escapeRoomPuzzles = <%- JSON.stringify(puzzles)%>;
    var totalPuzzles = <%= escapeRoom.puzzles.length %>;
    var currentlyWorkingOn = <%=(currentlyWorkingOn !== undefined && currentlyWorkingOn !== null ) ? currentlyWorkingOn :  "null"%>;
    var retosSuperados = <%-JSON.stringify(retosSuperados)%>;
    var pending =  <%=JSON.stringify(pending)%>;
    var latestRetoSuperado =  <%=JSON.stringify(latestRetoSuperado)%>;
    var hintConditional = <%= hintConditional || false %>;
    var hintAppConditional =  <%= hintAppConditional || false%>;
    var hintInterval =  <%= escapeRoom.hintInterval || 0%>;
    var allowCustomHints = <%= escapeRoom.allowCustomHints ? "true" : "false"%>
    var escapeRoomHintLimit = <%= (escapeRoom.hintLimit === undefined || escapeRoom.hintLimit === null ) ? "undefined" : escapeRoom.hintLimit %>;
    var reqHints = JSON.parse('<%-JSON.stringify(reqHints)%>');
    var reqHintsListOrder =  <%=JSON.stringify(reqHintsListOrder)%>;
    var progress = <%= !isNaN(progress) ? progress : undefined %>;
    var username = "<%= session.user.username %>";
    var teamId = <%= team.id || "undefined";%>  
    var waitingForHintReply = false;
    var waitingForPuzzleReply = false;
    var latestHintRequestedTime = <%if (hints.length) { %> new Date("<%=hints[hints.length-1].createdAt%>") <% } else { %>null <%}%>;
    initSocketServer(<%= escapeRoom.id%>, teamId, <%= team.turno ? team.turno.id : "undefined" %>, username);
    
    var i18n = {
        "correctAnswer": "<%=i18n.api.correct%>",
        "check": "<%=i18n.puzzle.check%>",
        "newHint": "<%=i18n.hint.newHint%>",
        "newRetoSuperado": "<%=i18n.puzzle.newRetoSuperado%>",
        "info": "<%=i18n.hint.Info%>",
        "hints": "<%=i18n.hint.Hints%>",
        "msg": "<%=i18n.puzzle.Msg%>",
        "sol": "<%=i18n.puzzle.Solution%>",
        "noMoreLeft": "<%=i18n.hint.noMoreLeft%>",
        "wrongAnswer": "<%=i18n.api.wrong%>",
        "chooseCat": "<%= i18n.hint.chooseCat %>",
        "cantRequestMore": "<%= i18n.hint.cantRequestMore %>",
        "cantRequestMoreThis": "<%= i18n.hint.cantRequestMoreThis %>",
        "canRequest": "<%= i18n.hint.canRequest %>",
        "finishMsg": "<%=i18n.puzzle.finish%>",
        "dontClose": "<%=i18n.hint.dontClose%>",
        "tooOften": "<%=i18n.hint.tooOften%>",
        "notUntil": "<%=i18n.hint.notUntil%>",
        "writeSol": "<%=i18n.puzzle.writeSol%>",
        "timeUp": "<%=i18n.api.timeUp%>",
        "start": "<%=i18n.hint.start%>",
        "instructionsQuiz": "<%=i18n.hint.instructionsQuiz1 + ' ' + (Math.round(escapeRoom.numRight/100*escapeRoom.numQuestions)) + ' ' + i18n.hint.instructionsQuiz2 + ' ' + escapeRoom.numQuestions + ' ' + i18n.hint.instructionsQuiz3%>",
        "teamJoined": "<%=i18n.api.teamJoined%>",
        "disconnect": "<%=i18n.api.disconnect%>",
        "reconnect": "<%=i18n.api.reconnect%>",
        "connected": "<%=i18n.api.connected%>"
    };

</script>
<%- include("../../partials/_flash",{bs:true}) %>

</body>
</html>
